Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

ty-check:
  name: ty type check
  entry: uvx ty check
  language: system
  pass_filenames: false

docs-index:
  name: regenerate docs/_index.md
  entry: uv run python scripts/generate_docs_index.py
  language: system
  pass_filenames: false

docs: complete infrastructure migration & worker isolation design
  docs/_index.md
  docs/dependency-rationale.md
  docs/design-plans/2026-03-24-infra-split.md
Due: docs-index

fix: add selectionchange fallback for Firefox selection clearing
  src/promptgrimoire/static/annotation-highlight.js
  tests/js/annotation-highlight.test.js
Due: none

fix: Firefox E2E timing adjustments for CI
  tests/e2e/test_card_layout.py
  tests/e2e/test_tag_import.py
Due: ty-check

chore: whitelist vulture false positive and add pip-audit grace period
  .github/workflows/ci.yml
  pyproject.toml
Due: none

fix: invalidate all sessions before memory-threshold restart
  src/promptgrimoire/diagnostics.py
  tests/unit/test_diagnostics.py
Due: ty-check

fix: invalidate sessions on manual restart, redirect through login
  src/promptgrimoire/pages/auth.py
  src/promptgrimoire/pages/restart.py
  src/promptgrimoire/pages/restarting.py
  tests/integration/test_pre_restart.py
  tests/unit/pages/test_auth_post_login.py
Due: ty-check

test: E2E memory probe for leak investigation #434
  tests/integration/test_memory_leak_probe.py
Due: ty-check

test: add heavy workspace fixture and register probe in NiceGUI lane
  src/promptgrimoire/cli/e2e/_lanes.py
  src/promptgrimoire/cli/testing.py
  tests/integration/fixtures/workspace_pabai_190hl_scrubbed.json
Due: ty-check

docs: Phase 1 investigation for memory leak #434
  docs/_index.md
  docs/investigations/2026-03-27-memory-leak-434.md
Due: docs-index

test: E2E memory probe with forced and natural cleanup variants (#434)
  src/promptgrimoire/cli/e2e/_server_script.py
  tests/e2e/test_memory_probe_434.py
  tests/integration/test_memory_leak_probe.py
Due: ty-check

docs: Phase 3 probe results and peer review for memory leak #434
  docs/_index.md
  docs/investigations/2026-03-27-memory-leak-434.md
Due: docs-index

docs: address round 3 peer review — execution order provenance, cleanup isolation
  docs/investigations/2026-03-27-memory-leak-434.md
Due: docs-index

test: add cleanup gap isolation probes for memory leak #434
  src/promptgrimoire/cli/e2e/_server_script.py
  tests/e2e/test_memory_probe_434.py
Due: ty-check

docs: fix provenance note and recommendation 4 per codex review (#434)
  docs/investigations/2026-03-27-memory-leak-434.md
Due: docs-index

docs: Phase 4 cleanup gap isolation experiment design (#434)
  docs/investigations/2026-03-27-memory-leak-434.md
Due: docs-index

test: address peer review findings for cleanup gap isolation (#434)
  docs/investigations/2026-03-27-memory-leak-434.md
  tests/e2e/test_memory_probe_434.py
  tests/integration/test_memory_leak_probe.py
Due: ty-check, docs-index

fix: sync-write session invalidation and navigate-before-invalidate
  src/promptgrimoire/diagnostics.py
  src/promptgrimoire/pages/restart.py
  tests/integration/test_pre_restart.py
  tests/unit/test_diagnostics.py
Due: ty-check

test: add system load gate for perf memory probes (#434)
  tests/e2e/test_memory_probe_434.py
Due: ty-check

chore: reduce reconnect_timeout, add storage cleanup, cache prod docs
  deploy/restart.sh
  docs/_index.md
  docs/nicegui/production-memory-management.md
  src/promptgrimoire/__init__.py
Due: ty-check, docs-index

test: address round 2 peer review — contamination guard, positive controls
  docs/investigations/2026-03-27-memory-leak-434.md
  tests/e2e/test_memory_probe_434.py
Due: ty-check, docs-index

docs: address round 3 low findings — sentinel justification, additive softening
  docs/investigations/2026-03-27-memory-leak-434.md
Due: docs-index

fix: parallelize client disconnect, static 503 restart page
  src/promptgrimoire/pages/restart.py
  tests/integration/test_pre_restart.py
Due: ty-check

feat: configurable LaTeX compilation semaphore
  src/promptgrimoire/config.py
  src/promptgrimoire/export/pdf.py
  tests/unit/test_config.py
Due: ty-check

docs: add new config vars to .env.example
  .env.example
Due: none

test: standalone worker entry point unit tests
  tests/unit/test_worker_main.py
Due: ty-check

fix: address Phase 3 code review feedback
  src/promptgrimoire/export/worker.py
  src/promptgrimoire/sd_notify.py
Due: ty-check

feat: restart.sh handles worker service lifecycle
  deploy/restart.sh
  deploy/tests/test_restart.bats
  docs/_index.md
  docs/deployment.md
Due: docs-index

fix: address Phase 1 code review feedback
  .env.example
  src/promptgrimoire/export/pdf.py
  src/promptgrimoire/export/worker_main.py
Due: ty-check

feat: systemd unit file for export worker service
  deploy/promptgrimoire-worker.service
Due: none

feat: standalone export worker entry point
  src/promptgrimoire/export/worker_main.py
Due: ty-check

test: BATS tests for queue depth monitoring script
  deploy/tests/test_check_export_queue.bats
Due: none

feat: watchdog heartbeat callback in export worker
  src/promptgrimoire/export/worker.py
  src/promptgrimoire/export/worker_main.py
  tests/unit/test_worker_main.py
Due: ty-check

feat: add FEATURES__WORKER_IN_PROCESS toggle
  .env.example
  src/promptgrimoire/__init__.py
  src/promptgrimoire/config.py
  tests/unit/test_config.py
  tests/unit/test_exception_logging_guard.py
  tests/unit/test_logging_pii_guard.py
Due: ty-check

feat: NullPool toggle for PgBouncer environments
  .env.example
  src/promptgrimoire/config.py
  src/promptgrimoire/db/engine.py
  tests/unit/test_config.py
  tests/unit/test_engine_nullpool.py
  tests/unit/test_pool_settings_config.py
Due: ty-check

test: export worker job claiming integration test
  tests/integration/test_export_worker_standalone.py
Due: ty-check

fix: address Phase 4 code review feedback
  deploy/check-export-queue.sh
  deploy/tests/test_check_export_queue.bats
Due: none

fix: add comment explaining DATABASE__ env cleanup in config test
  tests/unit/test_config.py
Due: ty-check

feat: queue depth monitoring script for Discord alerting
  deploy/check-export-queue.sh
Due: none

feat: vendored sd_notify module for systemd watchdog
  src/promptgrimoire/sd_notify.py
  tests/unit/test_sd_notify.py
Due: ty-check

test: BATS validation for worker systemd unit file
  deploy/tests/test_worker_service.bats
Due: none

Path conditions:
  ty-check: any of: \.py$
  docs-index: any of: ^docs/.*\.md$
