Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

ty-check:
  name: ty type check
  entry: uvx ty check
  language: system
  pass_filenames: false

docs-index:
  name: regenerate docs/_index.md
  entry: uv run python scripts/generate_docs_index.py
  language: system
  pass_filenames: false

chore(deps): upgrade nicegui 3.10->3.15, drop pydantic-ai, widen cooldown
  .github/workflows/ci.yml
  .npmrc
  docs/openrouter/pydantic-ai-integration.md
  pyproject.toml
  uv.lock
Due: docs-index

docs(investigations): retain session-contamination investigation series
  docs/_index.md
  docs/investigations/2026-03-28-session-contamination-438.gemini.md
  docs/investigations/2026-04-02-session-leak-reassessment.md
  docs/investigations/2026-04-05-session-invalidation-restart-438.md
  docs/investigations/2026-04-08-httptools-pipelining-leak-438.md
  docs/investigations/phase1-hypotheses.md
Due: docs-index

docs: add ADR register, record today's decisions, fix stale references
  .gitignore
  AGENTS.md
  CLAUDE.md
  docs/database.md
  docs/decisions/0001-shelve-wargame-retain-tables.md
  docs/decisions/0002-expunge-browserstack.md
  docs/decisions/adr-register.md
  docs/dependency-rationale.md
  docs/logging.md
Due: docs-index

feat(scripts): add usage snapshot query for reporting
  scripts/grimoire_usage_snapshot.sql
Due: none

docs(investigations): marginalia overflow causes silent annotation loss
  docs/_index.md
  docs/investigations/2026-08-06-marginalia-overflow-export.md
Due: docs-index

fix(export): detect marginalia overflow regardless of warning prefix
  src/promptgrimoire/export/pdf.py
  tests/unit/export/test_marginalia_overflow.py
Due: ty-check

fix(deps): make exclude-newer timezone-explicit so CI can use the lock
  pyproject.toml
Due: none

docs(investigations): reconcile marginalia 14-vs-17 counts, flag test weakness
  docs/investigations/2026-08-06-marginalia-overflow-export.md
Due: docs-index

chore(git): ignore local .notes/ directory
  .gitignore
Due: none

chore(deps): restore the 3-day supply-chain cooldown
  pyproject.toml
  uv.lock
Due: none

chore(deps): upgrade click 8.3.1 -> 8.3.3
  uv.lock
Due: none

chore(deps): upgrade lxml-html-clean 0.4.4 -> 0.4.5
  uv.lock
Due: none

chore(deps): upgrade mako 1.3.10 -> 1.3.12
  uv.lock
Due: none

chore(deps): upgrade msgpack 1.1.2 -> 1.2.1
  uv.lock
Due: none

chore(deps): upgrade pillow 12.1.1 -> 12.3.0
  docs/dependency-rationale.md
  pyproject.toml
  uv.lock
Due: docs-index

chore(deps): upgrade pip 26.0.1 -> 26.1.2
  uv.lock
Due: none

chore(deps): upgrade pydantic-settings 2.13.1 -> 2.14.2
  docs/dependency-rationale.md
  pyproject.toml
  uv.lock
Due: docs-index

chore(deps): upgrade pyjwt 2.12.1 -> 2.13.0
  uv.lock
Due: none

chore(deps): upgrade urllib3 2.6.3 -> 2.7.0
  uv.lock
Due: none

chore(deps): upgrade cryptography 46.0.7 -> 49.0.0
  docs/dependency-rationale.md
  pyproject.toml
  uv.lock
Due: docs-index

chore(deps): upgrade pymdown-extensions 10.21 -> 11.0.1
  uv.lock
Due: none

docs(decisions): record how controlled dependency upgrades are done
  docs/_index.md
  docs/decisions/0003-controlled-dependency-upgrades.md
  docs/decisions/adr-register.md
Due: docs-index

chore(deps): remove unused dependency pyasn1
  docs/dependency-rationale.md
  pyproject.toml
  uv.lock
Due: docs-index

ci(act): align the local quality job with ci.yml
  .github/workflows/act-ci.yml
Due: none

docs(design-plans): rescue three uncommitted designs from stale worktrees
  docs/design-plans/2026-04-23-multi-doc-plan-b-186.md
  docs/design-plans/2026-04-28-export-table-cell-normaliser.md
  docs/design-plans/2026-05-01-log-policy-and-audit-391.md
Due: docs-index

fix: add NotifyAccess=all to worker service for uv run compatibility
  deploy/promptgrimoire-worker.service
Due: none

docs: update project context for feat/pdf-para-numbering-417
  AGENTS.md
  CLAUDE.md
  tests/test-pseudocode.md
Due: none

chore(deps): widen the supply-chain cooldown to 14 days
  docs/decisions/0003-controlled-dependency-upgrades.md
  pyproject.toml
  uv.lock
Due: docs-index

docs(tests): remove a stray merge-conflict marker
  tests/test-pseudocode.md
Due: none

docs: add ty-sa-typing-cleanup design plan
  docs/design-plans/2026-04-23-ty-sa-typing-cleanup.md
Due: docs-index

docs(postmortems): rescue the NCI-to-DigitalOcean migration review
  docs/_index.md
  docs/postmortems/2026-03-29-do-migration-overnight.md
Due: docs-index

perf(page-load): fix cold-cache nested-session deadlock, build help dialog lazily
  AGENTS.md
  CLAUDE.md
  docs/_index.md
  docs/database.md
  docs/investigations/2026-04-23-page-load-failure-modes.md
  src/promptgrimoire/__init__.py
  src/promptgrimoire/db/acl.py
  src/promptgrimoire/db/activities.py
  src/promptgrimoire/db/courses.py
  src/promptgrimoire/db/roles.py
  src/promptgrimoire/db/weeks.py
  src/promptgrimoire/db/workspaces.py
  src/promptgrimoire/pages/layout.py
  tests/e2e/test_help_button.py
  tests/integration/test_course_role_normalisation.py
  tests/integration/test_delete_guards.py
  tests/integration/test_nested_session_deadlock.py
  tests/unit/test_help_button.py
Due: ty-check, docs-index

fix(annotation): fire the Vue sidebar items watch on initial mount
  CLAUDE.md
  docs/_index.md
  docs/investigations/2026-04-24-vue-sidebar-epoch-missing.md
  src/promptgrimoire/static/annotationsidebar.js
  tests/e2e/test_vue_sidebar_mount_contract.py
  tests/js/annotationsidebar.test.js
Due: ty-check, docs-index

fix(annotation): drop the tag-create notification that blocked the toolbar
  src/promptgrimoire/pages/annotation/tag_quick_create.py
Due: ty-check

fix(export): delimit booktabs rules before table content
  src/promptgrimoire/export/filters/libreoffice.lua
  tests/integration/test_pdf_export.py
Due: ty-check

chore(deps): upgrade cryptography to 50.0.0
  docs/dependency-rationale.md
  pyproject.toml
  uv.lock
Due: docs-index

fix(deploy): refresh worker unit during releases
  AGENTS.md
  CLAUDE.md
  deploy/restart.sh
  deploy/tests/test_restart.bats
  deploy/tests/test_worker_service.bats
  docs/deployment.md
Due: docs-index

fix(ci): restore missing act test dependencies
  .github/workflows/act-ci.yml
Due: none

fix: close export polling lifecycle races
  src/promptgrimoire/pages/annotation/broadcast.py
  src/promptgrimoire/pages/annotation/header.py
  tests/e2e/export_tools.py
  tests/e2e/test_pdf_export_filename.py
  tests/unit/pages/test_pdf_export_refactor.py
  tests/unit/test_broadcast_fire_and_forget.py
Due: ty-check

Path conditions:
  ty-check: any of: \.py$
  docs-index: any of: ^docs/.*\.md$
