Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

ty-check:
  name: ty type check
  entry: uvx ty check
  language: system
  pass_filenames: false

docs-index:
  name: regenerate docs/_index.md
  entry: uv run python scripts/generate_docs_index.py
  language: system
  pass_filenames: false

chore: bump complexipy pre-commit hook 4.2.0 → 5.1.0
  .pre-commit-config.yaml
Due: none

docs: add design-implementation alignment checks to guidance
  .ed3d/implementation-plan-guidance.md
Due: none

docs: add pre-PR gate requiring both test suites pass
  .ed3d/implementation-plan-guidance.md
Due: none

docs: fix E2E command in pre-PR gate to use grimoire e2e all
  .ed3d/implementation-plan-guidance.md
Due: none

docs: add wargame data model design plan (#294)
  docs/_index.md
  docs/design-plans/2026-03-06-wargame-schema-294.md
Due: docs-index

docs: adopt discriminator-enforcing composite FKs in wargame schema design
  docs/_index.md
  docs/design-plans/2026-03-06-wargame-schema-294.md
Due: docs-index

feat: add wargame SQLModel classes and Activity type discriminator (#294)
  src/promptgrimoire/db/__init__.py
  src/promptgrimoire/db/models.py
Due: ty-check

refactor: extract sentinel field application in update_activity (#294)
  src/promptgrimoire/db/activities.py
Due: ty-check

feat: add wargame schema migration (#294)
  alembic/versions/1b59ab790954_add_wargame_schema.py
Due: ty-check

fix: NULL-safe ACL queries and reduce acl.py complexity (#294)
  src/promptgrimoire/db/acl.py
  src/promptgrimoire/db/workspaces.py
Due: ty-check

test: add wargame schema unit and integration tests (#294)
  tests/integration/test_sharing_controls.py
  tests/integration/test_wargame_schema.py
  tests/unit/test_db_schema.py
  tests/unit/test_wargame_models.py
Due: ty-check

docs: add wargame schema implementation plan and review notes (#294)
  .claude/plans/code-review-wargame-schema-phase1.md
  docs/implementation-plans/2026-03-07-wargame-schema-294/phase_01.md
  docs/implementation-plans/2026-03-07-wargame-schema-294/phase_02.md
  docs/implementation-plans/2026-03-07-wargame-schema-294/phase_03.md
  docs/implementation-plans/2026-03-07-wargame-schema-294/phase_04.md
  docs/implementation-plans/2026-03-07-wargame-schema-294/phase_05.md
  docs/implementation-plans/2026-03-07-wargame-schema-294/test-requirements.md
Due: docs-index

docs: update project context for wargame-schema-294
  AGENTS.md
  CLAUDE.md
  tests/test-pseudocode.md
Due: none

fix: E2E conftest ON CONFLICT must match partial unique index (#294)
  tests/e2e/conftest.py
Due: ty-check

fix: preserve card expansion state across annotation refreshes
  src/promptgrimoire/pages/annotation/__init__.py
  src/promptgrimoire/pages/annotation/cards.py
Due: ty-check

fix(e2e): remove intermediate drag assertions in concurrent test
  tests/e2e/test_annotation_drag.py
Due: ty-check

fix(e2e): re-expand cards after comment post to handle server re-render
  tests/e2e/annotation_helpers.py
  tests/e2e/test_history_tutorial.py
  tests/e2e/test_law_student.py
  tests/e2e/test_translation_student.py
Due: ty-check

feat(e2e): auto-expand card in comment helper functions
  tests/e2e/annotation_helpers.py
Due: ty-check

feat(e2e): add expand_card and collapse_card helpers
  tests/e2e/annotation_helpers.py
Due: ty-check

feat(cli): add e2e cards subcommand for card-touching tests
  src/promptgrimoire/cli/e2e/__init__.py
Due: ty-check

docs: add e2e cards command to CLAUDE.md key commands
  CLAUDE.md
Due: none

refactor(e2e): use expand_card in translation student helper
  tests/e2e/test_translation_student.py
Due: ty-check

fix(e2e): address review issues — missing AC tests, evaluate cleanup, import consolidation
  tests/e2e/test_card_layout.py
  tests/e2e/test_translation_student.py
Due: ty-check

refactor(e2e): expand cards before interactions in history tutorial and law student tests
  tests/e2e/test_history_tutorial.py
  tests/e2e/test_law_student.py
Due: ty-check

refactor(e2e): add cards marker and expand calls to remaining test files
  tests/e2e/test_annotation_drag.py
  tests/e2e/test_anonymous_sharing.py
  tests/e2e/test_empty_tag_ux.py
  tests/e2e/test_instructor_workflow.py
  tests/e2e/test_organise_perf.py
  tests/e2e/test_translation_student.py
Due: ty-check

docs: add card layout redesign design plan (#236, #284, #80, #140)
  docs/design-plans/2026-03-06-card-layout-236-284.md
Due: docs-index

refactor(e2e): replace sleeps with state-based waits in instructor workflow test
  tests/e2e/test_instructor_workflow.py
Due: ty-check

test(e2e): add tests for collapsed card feature (default state, toggle, initials, view-only)
  tests/e2e/test_card_layout.py
Due: ty-check

fix: add test_card_layout.py to E2E JS injection allowlist
  tests/unit/test_e2e_compliance.py
Due: ty-check

refactor(e2e): replace sleeps with state-based waits in drag tests
  tests/e2e/test_annotation_drag.py
Due: ty-check

refactor(e2e): expand cards before tag-select in annotation canvas and happy path tests
  tests/e2e/test_annotation_canvas.py
  tests/e2e/test_happy_path_workflow.py
Due: ty-check

chore: add cards pytest marker
  pyproject.toml
Due: none

test(e2e): add regression tests for card positioning and solitaire collapse fixes
  tests/e2e/test_card_layout.py
Due: ty-check

test: mark performance tests as opt-in to avoid blocking CI
  pyproject.toml
  tests/e2e/test_organise_perf.py
Due: ty-check

feat: collapsed annotation cards with compact header (#236, #284)
  src/promptgrimoire/pages/annotation/cards.py
  src/promptgrimoire/pages/annotation/css.py
Due: ty-check

fix: resolve card positioning race condition (#236) and solitaire collapse (#284)
  src/promptgrimoire/static/annotation-card-sync.js
Due: none

fix: allow `grimoire e2e run` to target specific test paths
  src/promptgrimoire/cli/e2e/__init__.py
Due: ty-check

refactor(e2e): replace sleeps with state-based waits in annotation helpers
  tests/e2e/annotation_helpers.py
  tests/e2e/test_anonymous_sharing.py
  tests/e2e/test_empty_tag_ux.py
  tests/e2e/test_history_tutorial.py
  tests/e2e/test_law_student.py
  tests/e2e/test_organise_perf.py
Due: ty-check

docs: update AGENTS.md and test-pseudocode.md for card layout feature
  AGENTS.md
  tests/test-pseudocode.md
Due: none

docs: add implementation plans for card layout phases 2-4
  docs/implementation-plans/2026-03-06-card-layout-236-284/phase_02.md
  docs/implementation-plans/2026-03-06-card-layout-236-284/phase_03.md
  docs/implementation-plans/2026-03-06-card-layout-236-284/phase_04.md
  docs/implementation-plans/2026-03-06-card-layout-236-284/test-requirements.md
Due: docs-index

Path conditions:
  ty-check: any of: \.py$
  docs-index: any of: ^docs/.*\.md$
