Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

ty-check:
  name: ty type check
  entry: uvx ty check
  language: system
  pass_filenames: false

docs-index:
  name: regenerate docs/_index.md
  entry: uv run python scripts/generate_docs_index.py
  language: system
  pass_filenames: false

test: add E2E tests for multi-document tab switching (#186)
  tests/e2e/db_fixtures.py
  tests/e2e/test_annotation_tabs.py
  tests/e2e/test_css_audit.py
  tests/e2e/test_multi_doc_tabs_e2e.py
Due: ty-check

fix: _render_js double-quoting bug — getElementById never matched
  src/promptgrimoire/docs/helpers.py
  src/promptgrimoire/pages/annotation/broadcast.py
  src/promptgrimoire/pages/annotation/document.py
  src/promptgrimoire/pages/annotation/highlights.py
  tests/unit/test_render_js.py
Due: ty-check

fix: migrate getElementById('doc-container') to data-testid selectors
  tests/e2e/highlight_tools.py
  tests/e2e/test_annotation_highlight_api.py
  tests/e2e/test_card_layout.py
  tests/e2e/test_highlight_rendering.py
  tests/e2e/test_html_paste_whitespace.py
  tests/e2e/test_para_screenshot.py
  tests/e2e/test_remote_presence_rendering.py
  tests/e2e/test_text_selection.py
Due: ty-check

feat: multi-document export — all source documents in one PDF
  src/promptgrimoire/export/pdf_export.py
  src/promptgrimoire/export/worker.py
  src/promptgrimoire/pages/annotation/pdf_export.py
  tests/e2e/test_multi_doc_tabs_e2e.py
  tests/unit/pages/test_pdf_export_refactor.py
Due: ty-check

docs: add Brian's First Law on flaky test handling to CLAUDE.md
  CLAUDE.md
Due: none

test: migrate doc-container selectors to data-testid across test suite
  deploy/tests/test_collect_telemetry.bats
  tests/e2e/card_helpers.py
  tests/e2e/highlight_tools.py
  tests/e2e/test_annotation_drag.py
  tests/e2e/test_annotation_highlight_api.py
  tests/e2e/test_browser_perf_377.py
  tests/e2e/test_chatcraft_ingest_232.py
  tests/e2e/test_document_upload.py
  tests/e2e/test_emoji_export.py
  tests/e2e/test_empty_tag_ux.py
  tests/e2e/test_highlight_rendering.py
  tests/e2e/test_html_paste_whitespace.py
  tests/e2e/test_law_student.py
  tests/e2e/test_naughty_student.py
  tests/e2e/test_remote_presence_rendering.py
  tests/e2e/test_text_selection.py
  tests/e2e/test_translation_student.py
  tests/js/annotation-highlight.test.js
Due: ty-check

fix: defer cursor replay until doc_container_id is set (#186)
  src/promptgrimoire/pages/annotation/broadcast.py
  src/promptgrimoire/pages/annotation/workspace.py
Due: ty-check

test: rewrite and fix test failures from multi-doc audit (#186)
  tests/e2e/test_multi_doc_tabs_e2e.py
  tests/e2e/test_tag_sync.py
  tests/integration/test_annotation_pdf_export_filename_ui.py
  tests/integration/test_multi_doc_tabs.py
  tests/integration/test_pool_cancellation.py
Due: ty-check

docs: add query optimisation and graceful restart design (#186, #432, #355)
  docs/_index.md
  docs/design-plans/2026-03-26-query-optimisation-and-graceful-restart-186.md
Due: docs-index

fix: exclude perf-marked tests from serial Playwright lanes
  src/promptgrimoire/cli/e2e/__init__.py
  tests/unit/test_cli_e2e_runner.py
Due: ty-check

fix: use wait_until="commit" for E2E navigation waits to reduce parallel flakes
  tests/e2e/course_helpers.py
  tests/e2e/test_navigator.py
Due: ty-check

docs: correct AC4.3 HAProxy drain description (#186)
  docs/design-plans/2026-03-26-query-optimisation-and-graceful-restart-186.md
Due: docs-index

docs: add implementation plan for query optimisation and graceful restart (#186, #432, #355)
  docs/design-plans/2026-03-26-query-optimisation-and-graceful-restart-186.md
  docs/implementation-plans/2026-03-26-query-optimisation-and-graceful-restart-186/phase_01.md
  docs/implementation-plans/2026-03-26-query-optimisation-and-graceful-restart-186/phase_02.md
  docs/implementation-plans/2026-03-26-query-optimisation-and-graceful-restart-186/phase_03.md
  docs/implementation-plans/2026-03-26-query-optimisation-and-graceful-restart-186/phase_04.md
  docs/implementation-plans/2026-03-26-query-optimisation-and-graceful-restart-186/phase_05.md
  docs/implementation-plans/2026-03-26-query-optimisation-and-graceful-restart-186/phase_06.md
  docs/implementation-plans/2026-03-26-query-optimisation-and-graceful-restart-186/test-requirements.md
Due: docs-index

feat: add list_document_headers() with deferred content column (#186, #432)
  src/promptgrimoire/db/workspace_documents.py
  src/promptgrimoire/pages/annotation/document_management.py
  src/promptgrimoire/pages/annotation/tab_bar.py
  src/promptgrimoire/pages/annotation/workspace.py
  tests/integration/test_document_headers.py
Due: ty-check

fix: address Phase 1 code review feedback
  src/promptgrimoire/pages/annotation/document_management.py
  src/promptgrimoire/pages/annotation/tab_bar.py
  src/promptgrimoire/pages/annotation/workspace.py
Due: ty-check

test: add query efficiency regression tests (#186, #432, #377)
  tests/integration/test_query_efficiency.py
Due: ty-check

fix: clarify workspace fetch test docstring per code review
  tests/integration/test_query_efficiency.py
Due: ty-check

feat: add PRE_RESTART_TOKEN config for graceful restart (#355)
  src/promptgrimoire/config.py
Due: ty-check

feat: add pre-restart endpoint and connection-count API (#355)
  .env.example
  src/promptgrimoire/__init__.py
  src/promptgrimoire/pages/restart.py
  tests/integration/test_pre_restart.py
Due: ty-check

fix: address Phase 3 code review feedback
  src/promptgrimoire/pages/restart.py
Due: ty-check

feat: add /restarting page with healthz polling and jitter redirect (#355)
  src/promptgrimoire/pages/__init__.py
  src/promptgrimoire/pages/restarting.py
Due: ty-check

test: add E2E tests for /restarting page (#355)
  src/promptgrimoire/cli/e2e/_server_script.py
  tests/conftest.py
  tests/e2e/test_restarting_page.py
Due: ty-check

fix: address Phase 4 code review — XSS and open redirect
  src/promptgrimoire/pages/restarting.py
  tests/e2e/test_restarting_page.py
Due: ty-check

feat: integrate application-level drain into restart.sh (#355)
  deploy/restart.sh
Due: none

test: add BATS tests for restart.sh application-level drain (#355)
  deploy/tests/test_restart.bats
Due: none

fix: address Phase 5 code review feedback
  deploy/restart.sh
  deploy/tests/test_restart.bats
Due: none

feat: add diagnostics module ported from NiceGUI #5660 (#432)
  src/promptgrimoire/diagnostics.py
Due: ty-check

feat: add periodic memory diagnostic logger (#432)
  src/promptgrimoire/__init__.py
Due: ty-check

test: add unit tests for diagnostics collection (#432)
  tests/unit/test_diagnostics.py
Due: ty-check

fix: address Phase 6 code review feedback
  src/promptgrimoire/diagnostics.py
  tests/unit/test_diagnostics.py
Due: ty-check

fix: handle /login redirect in restarting page E2E test
  tests/e2e/test_restarting_page.py
Due: ty-check

fix: fetch full document before opening edit dialog (#186)
  src/promptgrimoire/pages/annotation/document_management.py
Due: ty-check

fix: report artifact dirs for playwright/nicegui lanes in summary
  src/promptgrimoire/cli/e2e/__init__.py
Due: ty-check

fix: send path-only return URL to /restarting page
  src/promptgrimoire/pages/restart.py
Due: ty-check

fix: snapshot workspace_presence dicts before iterating in pre-restart
  src/promptgrimoire/pages/restart.py
Due: ty-check

fix: eliminate 3 redundant DB queries from annotation page load (#433)
  src/promptgrimoire/pages/annotation/header.py
  src/promptgrimoire/pages/annotation/tab_bar.py
  src/promptgrimoire/pages/annotation/workspace.py
Due: ty-check

test: add page-load query ceiling regression test (#433)
  src/promptgrimoire/cli/e2e/_lanes.py
  src/promptgrimoire/cli/testing.py
  tests/integration/test_page_load_query_count.py
Due: ty-check

feat: memory-threshold graceful restart (#434)
  src/promptgrimoire/__init__.py
  src/promptgrimoire/config.py
  src/promptgrimoire/diagnostics.py
  tests/unit/test_diagnostics.py
Due: ty-check

docs: add memory restart config to .env.example
  .env.example
Due: none

feat: manual reconnect button for memory-triggered restarts
  src/promptgrimoire/diagnostics.py
  src/promptgrimoire/pages/restarting.py
  tests/unit/test_restarting_page.py
Due: ty-check

Path conditions:
  ty-check: any of: \.py$
  docs-index: any of: ^docs/.*\.md$
