Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

.pre-commit-config.yaml:

repos:
  # Ruff: lint with autofix, then format
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.4
    hooks:
      # Run the linter with autofix
      - id: ruff-check
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # Type checking
  - repo: local
    hooks:
      - id: ty-check
        name: ty type check
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false

  # Docs index regeneration
  - repo: local
    hooks:
      - id: docs-index
        name: regenerate docs/_index.md
        entry: uv run python scripts/generate_docs_index.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

  # Cognitive complexity gate â€” blocks commits with functions > 15
  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v4.2.0
    hooks:
      - id: complexipy
        args: ['--max-complexity-allowed=15']

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.4
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml"]

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
        exclude: '^(paper/|ai_transcripts/|src/promptgrimoire/static/milkdown/dist/)'
      - id: check-merge-conflict

fix: address code review feedback on PDF export queue (#402)
  alembic/versions/a1b2c3d4e5f6_add_export_job_tables.py
  src/promptgrimoire/db/export_jobs.py
  src/promptgrimoire/db/models.py
  tests/integration/test_export_jobs.py
Due: ty-check

docs: add PDF export queue design plan (#402)
  docs/design-plans/2026-03-21-export-queue-402.md
Due: docs-index

feat: register ExportJob model, CRUD exports, and test infrastructure (#402)
  alembic/env.py
  src/promptgrimoire/cli/_shared.py
  src/promptgrimoire/db/__init__.py
  tests/unit/test_db_schema.py
  tests/unit/test_export_job_model.py
Due: ty-check

feat: add download route for token-based PDF delivery (#402)
  src/promptgrimoire/export/download.py
  tests/integration/test_export_download.py
Due: ty-check

feat: add export worker with polling loop and cleanup (#402)
  src/promptgrimoire/export/worker.py
  tests/integration/test_export_worker.py
Due: ty-check

test: add E2E tests for export page-load recovery (#402)
  src/promptgrimoire/pages/annotation/header.py
  src/promptgrimoire/pages/annotation/pdf_export.py
  tests/e2e/test_export_queue.py
Due: ty-check

fix: isolate export worker tests from stale jobs under xdist (#402)
  tests/integration/test_export_worker.py
Due: ty-check

fix: generalise export job cleanup to integration conftest (#402)
  tests/integration/conftest.py
  tests/integration/test_export_jobs.py
  tests/integration/test_export_worker.py
Due: ty-check

fix: start export worker and register download route in E2E server (#402)
  src/promptgrimoire/cli/e2e/_server_script.py
  tests/e2e/test_word_count.py
Due: ty-check

fix: use stdin instead of temp files for Pandoc lua filter tests
  tests/integration/test_highlight_lua_filter.py
Due: ty-check

fix: temp dir leak, path validation, token entropy (#402)
  src/promptgrimoire/db/export_jobs.py
  src/promptgrimoire/export/worker.py
Due: ty-check

feat: replace inline PDF export with job queue UI integration (#402)
  src/promptgrimoire/pages/annotation/header.py
  src/promptgrimoire/pages/annotation/pdf_export.py
  tests/unit/pages/test_pdf_export_refactor.py
  tests/unit/test_per_user_export_lock.py
Due: ty-check

Revert "fix: use stdin for Pandoc invocation in export pipeline"
  src/promptgrimoire/export/pandoc.py
Due: ty-check

fix: make rehydrate_workspace use worktree-aware DB resolution (#402)
  scripts/rehydrate_workspace.py
Due: ty-check

fix: add data-testid to spinner, fix error message fallback (#402)
  src/promptgrimoire/pages/annotation/pdf_export.py
  tests/unit/pages/test_pdf_export_refactor.py
Due: ty-check

fix: isolate claim_next_job tests from stale export jobs (#402)
  tests/integration/test_export_jobs.py
Due: ty-check

fix: show correct initial notification on page-load recovery (#402)
  src/promptgrimoire/pages/annotation/pdf_export.py
  tests/unit/pages/test_pdf_export_refactor.py
Due: ty-check

test: add E2E tests for export page-load recovery (#402)
  tests/e2e/test_export_queue.py
Due: ty-check

feat: fail orphaned export jobs on app startup (#402)
  src/promptgrimoire/db/__init__.py
  src/promptgrimoire/db/export_jobs.py
  src/promptgrimoire/export/worker.py
Due: ty-check

docs: update user guide for queue-based PDF export (#402)
  src/promptgrimoire/docs/scripts/using_promptgrimoire.py
Due: ty-check

chore: add .tmp/ to gitignore (#402)
  .gitignore
Due: none

docs: add export queue architecture to developer docs (#402)
  docs/export.md
Due: docs-index

docs: add implementation plan phases and test requirements (#402)
  docs/implementation-plans/2026-03-21-export-queue-402/phase_01.md
  docs/implementation-plans/2026-03-21-export-queue-402/phase_02.md
  docs/implementation-plans/2026-03-21-export-queue-402/phase_03.md
  docs/implementation-plans/2026-03-21-export-queue-402/phase_04.md
  docs/implementation-plans/2026-03-21-export-queue-402/phase_05.md
  docs/implementation-plans/2026-03-21-export-queue-402/phase_06.md
  docs/implementation-plans/2026-03-21-export-queue-402/preregistered-uat-experiment.md
  docs/implementation-plans/2026-03-21-export-queue-402/test-requirements.md
Due: docs-index

fix: prevent xdist temp file race in Pandoc lua filter tests
  tests/integration/test_highlight_lua_filter.py
Due: ty-check

fix: update E2E export helpers for queue-based flow (#402)
  tests/e2e/export_tools.py
  tests/e2e/test_word_count.py
Due: ty-check

fix: clear stale download button on any document change (#402)
  src/promptgrimoire/pages/annotation/header.py
  src/promptgrimoire/pages/annotation/workspace.py
Due: ty-check

docs: annotate known xdist isolation issue in export job fixture (#402)
  tests/integration/conftest.py
Due: ty-check

fix: use stdin for Pandoc invocation in export pipeline
  src/promptgrimoire/export/pandoc.py
Due: ty-check

fix: audit fixes for export queue (#402)
  src/promptgrimoire/__init__.py
  src/promptgrimoire/cli/e2e/_server_script.py
  src/promptgrimoire/db/export_jobs.py
  src/promptgrimoire/db/models.py
  src/promptgrimoire/export/download.py
  src/promptgrimoire/export/worker.py
  src/promptgrimoire/pages/annotation/__init__.py
  src/promptgrimoire/pages/annotation/header.py
  src/promptgrimoire/pages/annotation/pdf_export.py
  tests/unit/pages/test_pdf_export_refactor.py
Due: ty-check

fix: prevent download button duplication and manage export button state (#402)
  src/promptgrimoire/pages/annotation/header.py
  src/promptgrimoire/pages/annotation/pdf_export.py
  tests/unit/pages/test_pdf_export_refactor.py
Due: ty-check

fix: use stdin for Pandoc invocation to eliminate temp file race (#402)
  src/promptgrimoire/export/pandoc.py
  src/promptgrimoire/pages/annotation/pdf_export.py
Due: ty-check

fix: replace autouse export job cleanup with scoped claim_own_job helper (#402)
  alembic/env.py
  src/promptgrimoire/db/export_jobs.py
  tests/integration/conftest.py
Due: ty-check

fix: use claim_own_job in export job and worker tests (#402)
  tests/integration/test_export_jobs.py
  tests/integration/test_export_worker.py
Due: ty-check

fix: address code review findings for export queue (#402)
  alembic/env.py
  docs/design-plans/2026-03-21-export-queue-402.md
  pyproject.toml
  src/promptgrimoire/db/export_jobs.py
  src/promptgrimoire/pages/annotation/header.py
Due: ty-check, docs-index

fix: resolve ty type errors and pin ty@0.0.24 in CI and pre-commit (#402)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  src/promptgrimoire/pages/annotation/pdf_export.py
Due: ty-check

docs: add pg connection monitoring and post-deploy verification
  deploy/check-pg-connections.sh
  docs/_index.md
  docs/deployment.md
Due: docs-index

fix: remove count assertion from cleanup tests for xdist safety (#409)
  tests/integration/test_export_jobs.py
Due: ty-check

fix: jittered 503 reload and stagger delay to prevent thundering herd
  deploy/503.http
  deploy/restart.sh
Due: none

docs(#369): add experiment results — all categories dropped to zero
  docs/_index.md
  docs/postmortems/2026-03-20-slot-deletion-investigation-369.md
Due: docs-index

feat: make connection pool settings configurable via DATABASE__* env vars (#366)
  .env.example
  src/promptgrimoire/config.py
  src/promptgrimoire/db/engine.py
  tests/unit/test_pool_settings_config.py
Due: ty-check
