Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

ty-check:
  name: ty type check
  entry: uvx ty check
  language: system
  pass_filenames: false

docs-index:
  name: regenerate docs/_index.md
  entry: uv run python scripts/generate_docs_index.py
  language: system
  pass_filenames: false

docs: add PG performance tuning and PgBouncer setup to deployment guide (#366)
  docs/deployment.md
Due: docs-index

fix: correct PgBouncer deployment guide for non-postgres user (#366)
  .env.example
  docs/deployment.md
Due: docs-index

docs: add tag deletion guards & import hardening design (#413)
  docs/_index.md
  docs/design-plans/2026-03-24-tag-deletion-guards-413.md
Due: docs-index

fix: address merge findings — observable waits and NiceGUI lane allowlist
  src/promptgrimoire/cli/e2e/_lanes.py
  src/promptgrimoire/cli/testing.py
  tests/integration/test_pool_cancellation.py
Due: ty-check

fix: eliminate circular imports and asyncio.sleep timing guesses
  pyproject.toml
  src/promptgrimoire/pages/annotation/document_render.py
  src/promptgrimoire/pages/annotation/tab_bar.py
  src/promptgrimoire/pages/annotation/workspace.py
  tests/integration/test_annotation_pdf_export_filename_ui.py
  tests/integration/test_bulk_enrol_upload_ui.py
  tests/integration/test_tag_management_crdt_sync.py
Due: ty-check

feat(db): add HasChildTagsError, HasHighlightsError, HasAnnotationsError exceptions
  src/promptgrimoire/db/exceptions.py
  tests/unit/test_exceptions.py
Due: ty-check

feat(db): guard delete_tag_group against non-empty groups (#413)
  src/promptgrimoire/db/tags.py
  tests/integration/test_tag_crud.py
Due: ty-check

refactor: deduplicate _UUID_RE and replace Any with concrete types
  src/promptgrimoire/pages/annotation/document_render.py
  src/promptgrimoire/pages/annotation/tab_bar.py
Due: ty-check

feat(db): guard delete_tag against tags with active highlights (#413)
  src/promptgrimoire/db/tags.py
  tests/integration/test_tag_crud.py
Due: ty-check

feat(db): guard delete_document against documents with annotations (#413)
  pyproject.toml
  src/promptgrimoire/db/workspace_documents.py
  tests/integration/test_delete_guards.py
Due: ty-check

feat(ui): hide delete button for documents with annotations (#413)
  src/promptgrimoire/pages/annotation/document_management.py
  tests/unit/pages/test_organise_documents.py
Due: ty-check

fix: address Phase 1 review — docstrings, cleanup path, ruff comment (#413)
  pyproject.toml
  src/promptgrimoire/db/tags.py
  src/promptgrimoire/db/workspace_documents.py
  tests/integration/test_tag_crud.py
Due: ty-check

test: add E2E tests for multi-document tab switching (#186)
  tests/e2e/db_fixtures.py
  tests/e2e/test_annotation_tabs.py
  tests/e2e/test_css_audit.py
  tests/e2e/test_multi_doc_tabs_e2e.py
Due: ty-check

fix(ui): disable document delete button instead of hiding (#413)
  src/promptgrimoire/pages/annotation/document_management.py
Due: ty-check

feat(ui): catch BusinessLogicError as warning in tag deletion dialogs (#413)
  src/promptgrimoire/pages/annotation/tag_management_rows.py
Due: ty-check

feat(ui): catch HasAnnotationsError in document deletion handler (#413)
  src/promptgrimoire/pages/annotation/document_management.py
Due: ty-check

test(e2e): verify deletion guard warning notifications (#413)
  tests/e2e/test_tag_deletion_guards.py
Due: ty-check

fix(e2e): add noqa: PG002 suppression on get_by_role("alert") calls (#413)
  tests/e2e/test_tag_deletion_guards.py
Due: ty-check

feat(db): rewrite import_tags_from_workspace as atomic idempotent operation (#413)
  src/promptgrimoire/db/exceptions.py
  src/promptgrimoire/db/tags.py
  src/promptgrimoire/pages/annotation/tag_import.py
  src/promptgrimoire/pages/annotation/tag_management.py
  src/promptgrimoire/pages/annotation/tag_management_rows.py
  tests/e2e/test_tag_deletion_guards.py
  tests/integration/test_tag_crud.py
  tests/unit/test_import_notification.py
Due: ty-check

fix: address code review feedback on Phase 3 import atomicity test
  src/promptgrimoire/db/tags.py
  tests/integration/test_tag_crud.py
Due: ty-check

fix(db): guard CRDT dual-writes against partial mutation errors (#413)
  src/promptgrimoire/db/tags.py
Due: ty-check

refactor(db): centralise CRDT dual-write guards with _safe_crdt_write context manager (#413)
  src/promptgrimoire/db/tags.py
Due: ty-check

fix(db): wrap delete_tag_group CRDT write in _safe_crdt_write guard (#413)
  src/promptgrimoire/db/tags.py
Due: ty-check

refactor(db): simplify Phase 3 import helpers and test fixtures (#413)
  src/promptgrimoire/db/tags.py
  tests/unit/test_import_notification.py
Due: ty-check

refactor(ui): extract _apply_deletion_guard helper, replace type: ignore with cast (#413)
  src/promptgrimoire/pages/annotation/tag_management_rows.py
Due: ty-check

feat(ui): add loading guard to import button, catch DuplicateNameError (#413)
  src/promptgrimoire/pages/annotation/tag_import.py
Due: ty-check

feat(ui): add loading guard to add-tag buttons (#413)
  src/promptgrimoire/pages/annotation/tag_management.py
  src/promptgrimoire/pages/annotation/tag_management_rows.py
Due: ty-check

feat(ui): add loading guard to quick-create save button (#413)
  src/promptgrimoire/pages/annotation/tag_quick_create.py
Due: ty-check

test(e2e): verify loading guards on tag buttons (#413)
  tests/e2e/test_tag_loading_guards.py
Due: ty-check

docs: update project context for tag-deletion-guards-413
  AGENTS.md
  CLAUDE.md
  tests/test-pseudocode.md
Due: none

fix: address final review feedback on tag deletion guards (#413)
  src/promptgrimoire/db/tags.py
  src/promptgrimoire/db/workspace_documents.py
  src/promptgrimoire/pages/annotation/tag_management_rows.py
Due: ty-check

test(e2e): add re-import notification test for AC4.5 (#413)
  tests/e2e/test_tag_import.py
Due: ty-check

docs: add implementation plan for tag deletion guards (#413)
  docs/_index.md
  docs/implementation-plans/2026-03-24-tag-deletion-guards-413/phase_01.md
  docs/implementation-plans/2026-03-24-tag-deletion-guards-413/phase_02.md
  docs/implementation-plans/2026-03-24-tag-deletion-guards-413/phase_03.md
  docs/implementation-plans/2026-03-24-tag-deletion-guards-413/phase_04.md
  docs/implementation-plans/2026-03-24-tag-deletion-guards-413/test-requirements.md
Due: docs-index

fix(test): update CRDT cleanup test for highlight guard (#413)
  tests/integration/test_tag_management.py
Due: ty-check

fix(e2e): remove hardcoded seed tag count in double-import test (#413)
  tests/e2e/test_tag_loading_guards.py
Due: ty-check

fix(test): unique download tokens + updated import notification format (#413)
  tests/integration/test_export_jobs.py
  tests/integration/test_instructor_template_ui.py
Due: ty-check

chore: add exclude-newer + upgrade pymupdf family 1.27.2 → 1.27.2.2
  pyproject.toml
  uv.lock
Due: none

chore: upgrade types-openpyxl 3.1.5.20260316 → 3.1.5.20260322
  uv.lock
Due: none

chore: upgrade browserstack-sdk 1.41.0 → 1.42.0
  uv.lock
Due: none

test: add real PDF fixture for control char stripping regression
  tests/unit/export/fixtures/pdf_with_control_chars.html
  tests/unit/export/test_control_char_strip.py
Due: ty-check

Path conditions:
  ty-check: any of: \.py$
  docs-index: any of: ^docs/.*\.md$
