Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

.pre-commit-config.yaml:

repos:
  # Ruff: lint with autofix, then format
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.4
    hooks:
      # Run the linter with autofix
      - id: ruff-check
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # Type checking
  - repo: local
    hooks:
      - id: ty-check
        name: ty type check
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false

  # Docs index regeneration
  - repo: local
    hooks:
      - id: docs-index
        name: regenerate docs/_index.md
        entry: uv run python scripts/generate_docs_index.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

  # Cognitive complexity gate â€” blocks commits with functions > 15
  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v4.2.0
    hooks:
      - id: complexipy
        args: ['--max-complexity-allowed=15']

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.4
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml"]

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
        exclude: '^(paper/|ai_transcripts/|src/promptgrimoire/static/milkdown/dist/)'
      - id: check-merge-conflict

feat: add word count badge formatting with colour thresholds
  src/promptgrimoire/pages/annotation/word_count_badge.py
  tests/unit/test_word_count_badge.py
Due: ty-check

feat: render word count badge in annotation header
  src/promptgrimoire/pages/annotation/header.py
Due: ty-check

feat: wire word count update into Yjs event handler
  src/promptgrimoire/pages/annotation/respond.py
  src/promptgrimoire/pages/annotation/workspace.py
Due: ty-check

fix: use replace= only for word count badge class updates
  src/promptgrimoire/pages/annotation/respond.py
Due: ty-check

feat: add word count violation check helper
  src/promptgrimoire/pages/annotation/word_count_enforcement.py
  tests/unit/test_word_count_enforcement.py
Due: ty-check

feat: add violation message formatting
  src/promptgrimoire/pages/annotation/word_count_enforcement.py
  tests/unit/test_word_count_enforcement.py
Due: ty-check

test: add word count violation edge cases and AC7 non-blocking guards
  tests/unit/test_word_count_enforcement.py
Due: ty-check

feat: add pre-export word count check with warning/blocking dialogs
  src/promptgrimoire/pages/annotation/pdf_export.py
  tests/unit/test_word_count_enforcement.py
Due: ty-check

feat: add snitch badge to PDF export for word count violations
  docs/_index.md
  docs/implementation-plans/2026-03-02-word-count-limits-47/phase_01.md
  docs/implementation-plans/2026-03-02-word-count-limits-47/phase_02.md
  docs/implementation-plans/2026-03-02-word-count-limits-47/phase_03.md
  docs/implementation-plans/2026-03-02-word-count-limits-47/phase_04.md
  docs/implementation-plans/2026-03-02-word-count-limits-47/phase_05.md
  docs/implementation-plans/2026-03-02-word-count-limits-47/phase_06.md
  docs/implementation-plans/2026-03-02-word-count-limits-47/review-wip.md
  docs/implementation-plans/2026-03-02-word-count-limits-47/test-requirements.md
  src/promptgrimoire/export/pdf_export.py
  src/promptgrimoire/pages/annotation/pdf_export.py
  tests/unit/test_word_count_pdf_badge.py
Due: ty-check, docs-index

fix: address code review feedback for Phase 5
  src/promptgrimoire/pages/annotation/pdf_export.py
  src/promptgrimoire/pages/annotation/word_count_enforcement.py
  tests/unit/test_word_count_enforcement.py
Due: ty-check

refactor: move word_count_enforcement to package root and deduplicate badge logic
  src/promptgrimoire/export/pdf_export.py
  src/promptgrimoire/pages/annotation/pdf_export.py
  src/promptgrimoire/pages/annotation/word_count_enforcement.py
  src/promptgrimoire/word_count_enforcement.py
  tests/unit/test_word_count_enforcement.py
Due: ty-check

chore: remove review-wip.md scratch file
  docs/implementation-plans/2026-03-02-word-count-limits-47/review-wip.md
Due: docs-index

test: add E2E helper for workspace with word count limits
  tests/e2e/annotation_helpers.py
Due: ty-check

test: add E2E tests for word count badge display
  tests/e2e/test_word_count.py
Due: ty-check

test: add E2E tests for word count activity settings
  tests/e2e/test_word_count.py
Due: ty-check

fix: restore complete test_word_count.py with all test classes
  tests/e2e/test_word_count.py
Due: ty-check

test: add badge edge case E2E tests
  tests/e2e/test_word_count.py
Due: ty-check

fix: add default_word_limit_enforcement param to update_course()
  src/promptgrimoire/db/courses.py
Due: ty-check

fix: correct E2E test SQL and Quasar select interaction
  tests/e2e/annotation_helpers.py
  tests/e2e/test_word_count.py
Due: ty-check

refactor: group activity settings dialog into sections
  src/promptgrimoire/pages/courses.py
  tests/unit/test_word_count_models.py
Due: ty-check

fix: initialise word count badge from existing CRDT content on load
  src/promptgrimoire/pages/annotation/workspace.py
Due: ty-check

docs: update project context for word-count-limits-47
  CLAUDE.md
  docs/annotation-architecture.md
  docs/database.md
  docs/dependency-rationale.md
  docs/export.md
  tests/test-pseudocode.md
Due: docs-index

feat: auto-generate guide index and mkdocs nav
  src/promptgrimoire/cli.py
Due: ty-check

chore: add glightbox, search, optimize plugins to mkdocs
  docs/deployment.md
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: docs-index

feat: add thumbnail generation and glightbox support to Guide DSL
  src/promptgrimoire/docs/__init__.py
  src/promptgrimoire/docs/guide.py
  src/promptgrimoire/docs/screenshot.py
  tests/unit/test_docs_guide.py
  tests/unit/test_docs_screenshot.py
Due: ty-check

feat: add flight rules guide script
  .gitignore
  src/promptgrimoire/docs/scripts/flight_rules.py
Due: ty-check

docs: add CLI typer migration design plan (#211)
  docs/dependency-rationale.md
  docs/design-plans/2026-03-02-cli-typer-211.md
Due: docs-index

docs: add CRUD management design plan (#229)
  docs/design-plans/2026-03-02-crud-management-229.md
Due: docs-index

docs: add roleplay demo polish design plan (#36)
  docs/_index.md
  docs/design-plans/2026-03-03-roleplay-demo-polish-36.md
Due: docs-index

feat: add ST-inspired roleplay CSS theme
  src/promptgrimoire/static/roleplay.css
Due: none

chore: add roleplay page image assets (background, avatars)
  src/promptgrimoire/static/roleplay/background.png
  src/promptgrimoire/static/roleplay/becky-bennett.png
  src/promptgrimoire/static/roleplay/user-default.png
Due: none

chore: bundle Becky Bennett character card for auto-loading
  src/promptgrimoire/static/roleplay/becky-bennett.json
Due: none

style: add comments explaining !important overrides on Quasar bubbles
  src/promptgrimoire/static/roleplay.css
Due: none

test: add failing tests for roleplay avatar integration (TDD red)
  tests/unit/test_roleplay_visual.py
Due: ty-check

feat: add avatar support to roleplay chat messages
  src/promptgrimoire/pages/roleplay.py
  tests/unit/test_roleplay_visual.py
Due: ty-check

feat: apply ST-inspired dark theme to roleplay page
  src/promptgrimoire/pages/roleplay.py
Due: ty-check

feat: auto-load Becky Bennett character card on roleplay page
  src/promptgrimoire/pages/roleplay.py
Due: ty-check

fix: address code review feedback
  src/promptgrimoire/pages/roleplay.py
  tests/unit/test_roleplay_visual.py
Due: ty-check

fix: add logging to auto-load error handler
  src/promptgrimoire/pages/roleplay.py
Due: ty-check

feat: add session-to-HTML conversion for workspace export
  src/promptgrimoire/pages/roleplay_export.py
  tests/unit/test_roleplay_export.py
Due: ty-check
