Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

.pre-commit-config.yaml:

repos:
  # Ruff: lint with autofix, then format
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.4
    hooks:
      # Run the linter with autofix
      - id: ruff-check
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # Type checking
  - repo: local
    hooks:
      - id: ty-check
        name: ty type check
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false

  # Docs index regeneration
  - repo: local
    hooks:
      - id: docs-index
        name: regenerate docs/_index.md
        entry: uv run python scripts/generate_docs_index.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

  # Cognitive complexity gate â€” blocks commits with functions > 15
  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v4.2.0
    hooks:
      - id: complexipy
        args: ['--max-complexity-allowed=15']

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.4
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml"]

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
        exclude: '^(paper/|ai_transcripts/|src/promptgrimoire/static/milkdown/dist/)'
      - id: check-merge-conflict

refactor: extract logging setup to shared module
  pyproject.toml
  src/promptgrimoire/__init__.py
  src/promptgrimoire/cli/e2e/_server_script.py
  src/promptgrimoire/logging_config.py
  tests/conftest.py
  tests/unit/export/test_export_instrumentation.py
  tests/unit/test_main_startup.py
  tests/unit/test_structured_logging.py
Due: ty-check

fix: add sd_notify.py to os.environ allowlist
  tests/unit/test_env_vars.py
Due: ty-check

fix: invalidate sessions on startup, guard storage cleanup
  deploy/restart.sh
  src/promptgrimoire/__init__.py
  src/promptgrimoire/diagnostics.py
  tests/unit/test_diagnostics.py
Due: ty-check

fix: align restart.sh step 8 comment wording
  deploy/restart.sh
Due: none

test: add PERF_MAX_LOAD env var override for load gate (#434)
  tests/e2e/test_memory_probe_434.py
Due: ty-check

docs: primary PostgreSQL replication configuration
  docs/_index.md
  docs/deployment.md
Due: docs-index

docs: standby replication bootstrap procedure
  docs/deployment.md
Due: docs-index

docs: Phase 4 results — cleanup gap was execution-order artefact (#434)
  docs/investigations/2026-03-27-memory-leak-434.md
Due: docs-index

docs: add maintenance, session invalidation, and memory restart ops
  docs/deployment.md
Due: docs-index

feat: replication lag monitoring script with BATS tests
  deploy/check-replication-lag.sh
  deploy/tests/test_check_replication_lag.bats
Due: none

docs: manual failover procedure for streaming replication
  docs/deployment.md
Due: docs-index

docs: add restart/session invalidation architecture to CLAUDE.md
  CLAUDE.md
Due: none

fix: address Phase 6 code review feedback
  deploy/check-replication-lag.sh
  deploy/tests/test_check_replication_lag.bats
Due: none

docs: clarify failover connection path for current production setup
  docs/deployment.md
Due: docs-index

docs: revise Phase 4 analysis per critical peer review (#434)
  docs/investigations/2026-03-27-memory-leak-434.md
Due: docs-index

docs: migration checklist for NCI to DO cutover
  docs/migration-checklist.md
Due: docs-index

docs: verification commands for migration data integrity
  docs/migration-checklist.md
Due: docs-index

docs: post-migration smoke test procedure
  docs/migration-checklist.md
Due: docs-index

fix: address Phase 7 code review feedback in migration-checklist.md
  docs/migration-checklist.md
Due: docs-index

fix: worker service paths, env, and shutdown semantics
  deploy/promptgrimoire-worker.service
  deploy/tests/test_worker_service.bats
Due: none

fix: retract graceful drain claim from worker docs and docstring
  docs/deployment.md
  src/promptgrimoire/export/worker_main.py
Due: ty-check, docs-index

fix: replication lag script uses application_name, not slot_name
  deploy/check-replication-lag.sh
  deploy/tests/test_check_replication_lag.bats
Due: none

docs: rewrite migration checklist for actual operational scenario
  docs/migration-checklist.md
Due: docs-index

docs: update project context for infra-split
  AGENTS.md
  CLAUDE.md
Due: none

fix: address second review round on migration checklist
  docs/design-plans/2026-03-24-infra-split.md
  docs/migration-checklist.md
Due: docs-index

docs: Phase 5 — upstream audit, MALLOC_ARENA_MAX experiment and results (#434)
  docs/investigations/2026-03-27-memory-leak-434.md
Due: docs-index

feat: add event-loop lag measurement to diagnostic logger (#434)
  src/promptgrimoire/diagnostics.py
  tests/unit/test_diagnostics.py
Due: ty-check

test: add probe provenance (ISO datetime, arena variant, loadavg) (#434)
  tests/e2e/test_memory_probe_434.py
  tests/unit/test_env_vars.py
Due: ty-check

fix: move Milkdown bundle to skeleton and restore page title (#377)
  src/promptgrimoire/pages/annotation/__init__.py
  src/promptgrimoire/pages/annotation/workspace.py
Due: ty-check

feat: accept pre-fetched data in CRDT tag consistency and registry (#377)
  src/promptgrimoire/crdt/annotation_doc.py
  tests/integration/test_crdt_prefetch.py
Due: ty-check

test(logging): guard test and debug output verification (#377)
  tests/unit/test_setlevel_guard.py
  tests/unit/test_structlog_debug_output.py
Due: ty-check

test(perf): fix perf test navigation and selector bugs (#377)
  tests/e2e/test_browser_perf_377.py
  tests/e2e/test_page_load_concurrency.py
Due: ty-check

fix(logging): remove setLevel from db/ and crdt/ modules (#377)
  src/promptgrimoire/crdt/annotation_doc.py
  src/promptgrimoire/crdt/persistence.py
  src/promptgrimoire/db/engine.py
  src/promptgrimoire/db/tags.py
  src/promptgrimoire/db/wargames.py
Due: ty-check

fix: update visible header and tab title after deferred load (#377)
  src/promptgrimoire/pages/annotation/workspace.py
  src/promptgrimoire/pages/layout.py
  tests/e2e/test_deferred_load.py
Due: ty-check

test: add wait_for_annotation_load to all NiceGUI integration tests (#377)
  tests/integration/test_annotation_cards_charac.py
  tests/integration/test_instructor_template_ui.py
  tests/integration/test_multi_doc_tabs.py
  tests/integration/test_page_load_query_count.py
  tests/integration/test_tag_management_crdt_sync.py
Due: ty-check

fix: JSON-escape page title and complete design plan cleanup (#377)
  docs/design-plans/2026-03-25-annotation-deferred-load-377.md
  src/promptgrimoire/pages/annotation/workspace.py
Due: ty-check, docs-index

test(e2e): add wait_for_annotation_ready gate and investigation doc (#377)
  docs/_index.md
  docs/investigations/2026-03-28-deferred-load-e2e-failures.md
  tests/e2e/fixture_loaders.py
  tests/e2e/test_document_upload.py
  tests/e2e/test_edit_mode.py
  tests/e2e/test_html_paste_whitespace.py
  tests/e2e/test_para_screenshot.py
Due: ty-check, docs-index

fix(logging): remove setLevel from export/ modules (#377)
  src/promptgrimoire/export/highlight_spans.py
  src/promptgrimoire/export/pandoc.py
  src/promptgrimoire/export/pdf_export.py
  src/promptgrimoire/export/platforms/__init__.py
  src/promptgrimoire/export/worker.py
Due: ty-check

fix(logging): remove setLevel from pages/ modules (#377)
  src/promptgrimoire/pages/annotation/broadcast.py
  src/promptgrimoire/pages/annotation/document_management.py
  src/promptgrimoire/pages/annotation/header.py
  src/promptgrimoire/pages/annotation/organise.py
  src/promptgrimoire/pages/annotation/paste_handler.py
  src/promptgrimoire/pages/annotation/pdf_export.py
  src/promptgrimoire/pages/annotation/respond.py
  src/promptgrimoire/pages/annotation/sharing.py
  src/promptgrimoire/pages/annotation/tag_management_save.py
  src/promptgrimoire/pages/annotation/tag_quick_create.py
  src/promptgrimoire/pages/annotation/upload_handler.py
  src/promptgrimoire/pages/annotation/workspace.py
  src/promptgrimoire/pages/auth.py
  src/promptgrimoire/pages/courses.py
  src/promptgrimoire/pages/highlight_api_demo.py
  src/promptgrimoire/pages/logviewer.py
  src/promptgrimoire/pages/milkdown_spike.py
  src/promptgrimoire/pages/navigator/_cards.py
  src/promptgrimoire/pages/navigator/_search.py
  src/promptgrimoire/pages/registry.py
  src/promptgrimoire/pages/roleplay.py
Due: ty-check

fix: use run_javascript for deferred-load script injection (#377)
  src/promptgrimoire/docs/helpers.py
  src/promptgrimoire/pages/annotation/content_form.py
  src/promptgrimoire/pages/annotation/document.py
  src/promptgrimoire/pages/annotation/paste_script.py
Due: ty-check
