Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

.pre-commit-config.yaml:

repos:
  # Ruff: lint with autofix, then format
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      # Run the linter with autofix
      - id: ruff-check
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # Type checking
  - repo: local
    hooks:
      - id: ty-check
        name: ty type check
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false

  # Docs index regeneration
  - repo: local
    hooks:
      - id: docs-index
        name: regenerate docs/_index.md
        entry: uv run python scripts/generate_docs_index.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.3
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml"]

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
        exclude: '^(paper/|ai_transcripts/|src/promptgrimoire/static/milkdown/dist/)'
      - id: check-merge-conflict

docs: add bottom-anchored tag bar design plan
  docs/design-plans/2026-02-27-bottom-tag-bar.md
Due: docs-index

test: add E2E CSS audit test for bottom toolbar layout
  tests/e2e/test_css_audit.py
Due: ty-check

feat: remove redundant inline title and workspace UUID label
  src/promptgrimoire/pages/annotation/__init__.py
  src/promptgrimoire/pages/annotation/workspace.py
Due: ty-check

docs: design notes for bottom-anchored tag bar
  docs/design-notes/bottom-tag-bar.md
Due: docs-index

feat: add page navigation bar to annotation page
  src/promptgrimoire/pages/annotation/__init__.py
  tests/e2e/test_css_audit.py
Due: ty-check

docs: add highlight menu and layout padding details to design notes
  docs/design-notes/bottom-tag-bar.md
Due: docs-index

feat: bump highlight menu z-index above toolbar
  src/promptgrimoire/pages/annotation/document.py
Due: ty-check

feat: move tag toolbar into Quasar q-footer for proper layout integration
  src/promptgrimoire/pages/annotation/__init__.py
  src/promptgrimoire/pages/annotation/css.py
  src/promptgrimoire/pages/annotation/document.py
  src/promptgrimoire/pages/annotation/workspace.py
  src/promptgrimoire/pages/layout.py
  src/promptgrimoire/static/annotation-card-sync.js
  tests/e2e/test_css_audit.py
Due: ty-check

feat: wrap roleplay page in shared page_layout
  src/promptgrimoire/pages/roleplay.py
  tests/e2e/test_navigator.py
Due: ty-check

test: add scroll/nav helpers and fix card visibility in E2E tests
  tests/e2e/annotation_helpers.py
  tests/e2e/test_law_student.py
  tests/e2e/test_naughty_student.py
Due: ty-check

docs: add bottom tag bar implementation plan
  docs/implementation-plans/2026-02-27-bottom-tag-bar/phase_01.md
  docs/implementation-plans/2026-02-27-bottom-tag-bar/phase_02.md
  docs/implementation-plans/2026-02-27-bottom-tag-bar/phase_03.md
  docs/implementation-plans/2026-02-27-bottom-tag-bar/phase_04.md
  docs/implementation-plans/2026-02-27-bottom-tag-bar/phase_05.md
  docs/implementation-plans/2026-02-27-bottom-tag-bar/test-requirements.md
Due: docs-index

docs: update project context for design/bottom-tag-bar
  docs/annotation-architecture.md
  tests/test-pseudocode.md
Due: docs-index

feat: add common.sh with Rodney/Showboat helpers
  docs/guides/scripts/common.sh
Due: none

deps: add showboat and make-docs entry point
  pyproject.toml
  uv.lock
Due: none

feat: add wait_for helper and ROD_TIMEOUT for robust NiceGUI waits
  docs/guides/scripts/common.sh
  src/promptgrimoire/cli.py
Due: ty-check

refactor: replace fragile sleeps with wait_for in instructor script
  docs/guides/scripts/generate-instructor-setup.sh
Due: none

refactor: replace fragile sleeps with wait_for in student script
  docs/guides/scripts/generate-student-workflow.sh
Due: none

fix: address Phase 2 code review findings
  docs/guides/scripts/generate-instructor-setup.sh
  src/promptgrimoire/pages/annotation/tag_management_rows.py
  src/promptgrimoire/pages/navigator/_cards.py
  tests/unit/test_env_vars.py
Due: ty-check

feat: implement full student workflow guide script (9 steps)
  docs/guides/scripts/generate-student-workflow.sh
Due: none

chore: add missing data-testid attributes for doc generation scripts
  src/promptgrimoire/pages/annotation/css.py
  src/promptgrimoire/pages/annotation/tag_management_rows.py
  src/promptgrimoire/pages/courses.py
  src/promptgrimoire/pages/navigator/_cards.py
Due: ty-check

feat: add Rodney start/stop lifecycle to make_docs
  src/promptgrimoire/cli.py
  tests/unit/test_make_docs.py
Due: ty-check

fix: address Phase 3 code review findings
  docs/guides/scripts/common.sh
  docs/guides/scripts/generate-instructor-setup.sh
  docs/guides/scripts/generate-student-workflow.sh
Due: none

feat: add make_docs() CLI with dependency checks and server lifecycle
  src/promptgrimoire/cli.py
  tests/unit/test_make_docs.py
Due: ty-check

docs: add implementation plan for user-docs-rodney-showboat-207
  docs/implementation-plans/2026-02-27-user-docs-rodney-showboat-207/phase_01.md
  docs/implementation-plans/2026-02-27-user-docs-rodney-showboat-207/phase_02.md
  docs/implementation-plans/2026-02-27-user-docs-rodney-showboat-207/phase_03.md
  docs/implementation-plans/2026-02-27-user-docs-rodney-showboat-207/phase_04.md
  docs/implementation-plans/2026-02-27-user-docs-rodney-showboat-207/test-requirements.md
Due: docs-index

fix: address Phase 1 code review — Rodney inside try, auth env assertion
  src/promptgrimoire/cli.py
  tests/unit/test_make_docs.py
Due: ty-check

chore: add gitignore entries for docs/guides artefacts and .rodney
  .gitignore
Due: none

chore: add data-testid to Export PDF button for doc generation
  src/promptgrimoire/pages/annotation/header.py
Due: ty-check

docs: cache Rodney CLI reference documentation
  docs/_index.md
  docs/rodney/cli-reference.md
Due: docs-index

feat: implement full instructor setup guide script (7 steps)
  docs/guides/scripts/generate-instructor-setup.sh
Due: none

feat: add stub guide scripts for end-to-end pipeline verification
  docs/guides/scripts/generate-instructor-setup.sh
  docs/guides/scripts/generate-student-workflow.sh
Due: none

feat: add error reporting with context and screenshot paths on script failure
  src/promptgrimoire/cli.py
  tests/unit/test_make_docs.py
Due: ty-check

fix: correct organise tab wait selector, use rodney sleep for consistency
  docs/guides/scripts/generate-student-workflow.sh
Due: none

fix: replace rodney waitload/waitstable with element polling in guide scripts
  docs/guides/scripts/common.sh
  docs/guides/scripts/generate-instructor-setup.sh
  docs/guides/scripts/generate-student-workflow.sh
Due: none

fix: clean previous run artifacts before showboat init
  docs/guides/scripts/generate-instructor-setup.sh
  docs/guides/scripts/generate-student-workflow.sh
Due: none

fix: enrol instructor in course before navigator Start button step
  docs/guides/scripts/generate-instructor-setup.sh
Due: none

docs: add make-docs to CLAUDE.md and update test pseudocode
  CLAUDE.md
  tests/test-pseudocode.md
Due: none

chore: gitignore UUID PNGs from showboat in docs/guides
  .gitignore
Due: none

chore: remove delivered design plan for #207
  docs/design-plans/2026-02-27-user-docs-rodney-showboat-207.md
Due: docs-index
