Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

.pre-commit-config.yaml:

repos:
  # Ruff: lint with autofix, then format
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      # Run the linter with autofix
      - id: ruff-check
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # Type checking
  - repo: local
    hooks:
      - id: ty-check
        name: ty type check
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false

  # Docs index regeneration
  - repo: local
    hooks:
      - id: docs-index
        name: regenerate docs/_index.md
        entry: uv run python scripts/generate_docs_index.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.3
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml"]

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
        exclude: '^(paper/|ai_transcripts/|src/promptgrimoire/static/milkdown/dist/)'
      - id: check-merge-conflict

test: add E2E tests for home icon navigation chrome
  tests/e2e/test_navigator.py
Due: ty-check

fix: navigator CSS layout — full-width stretch and title input styling
  src/promptgrimoire/pages/layout.py
  src/promptgrimoire/static/navigator.css
Due: ty-check

refactor: replace @ui.refreshable with append-only infinite scroll
  docs/design-plans/2026-02-24-workspace-navigator-196.md
  src/promptgrimoire/pages/navigator.py
Due: ty-check, docs-index

feat: add configurable unit_label to i18n settings
  .env.example
Due: none

refactor: add anonymous_sharing and owner_is_privileged to NavigatorRow
  src/promptgrimoire/db/navigator.py
  src/promptgrimoire/pages/navigator/_sections.py
Due: ty-check

docs: update project context for workspace-navigator-196
  CLAUDE.md
  tests/test-pseudocode.md
Due: none

Fix alignment in README table
  README.md
Due: none

fix: align search SQL with GIN index and batch tag queries in worker
  src/promptgrimoire/db/navigator.py
  src/promptgrimoire/db/workspaces.py
  src/promptgrimoire/search_worker.py
  tests/unit/test_search_worker.py
Due: ty-check

test: fix FTS ACL test default and add privileged visibility test
  tests/integration/test_fts_search.py
Due: ty-check

refactor: add PageState TypedDict and fix navigator page robustness
  src/promptgrimoire/pages/navigator/_cards.py
  src/promptgrimoire/pages/navigator/_helpers.py
  src/promptgrimoire/pages/navigator/_page.py
  src/promptgrimoire/pages/navigator/_search.py
  src/promptgrimoire/pages/navigator/_sections.py
Due: ty-check

fix: eliminate double workspace fetch in annotation page
  src/promptgrimoire/pages/annotation/__init__.py
  src/promptgrimoire/pages/annotation/workspace.py
Due: ty-check

fix: misc review items — CSS var, stale SQL ref, E2E assertion, helper tests
  src/promptgrimoire/db/navigator.sql
  src/promptgrimoire/static/navigator.css
  tests/e2e/test_navigator.py
  tests/unit/test_navigator_helpers.py
Due: ty-check

docs: update DBA review notes
  docs/implementation-plans/2026-02-24-workspace-navigator-196/dba-review-wip.md
Due: docs-index

chore: upgrade anthropic 0.79.0 → 0.84.0
  uv.lock
Due: none

fix(e2e): correct settings button locator and "Back to Unit" text
  tests/e2e/course_helpers.py
  tests/e2e/test_instructor_workflow.py
Due: ty-check

fix: load annotation scripts dynamically on SPA navigations
  src/promptgrimoire/pages/annotation/document.py
  src/promptgrimoire/pages/annotation/header.py
  tests/e2e/annotation_helpers.py
Due: ty-check

chore: upgrade psycopg 3.3.2 → 3.3.3
  uv.lock
Due: none

chore: upgrade rich 14.3.2 → 14.3.3
  uv.lock
Due: none

chore: upgrade alembic 1.18.3 → 1.18.4
  uv.lock
Due: none

chore: upgrade coolname 3.0.0 → 4.0.0
  uv.lock
Due: none

chore: upgrade pydantic-settings 2.12.0 → 2.13.1
  uv.lock
Due: none

chore: upgrade pymupdf 1.26.7 → 1.27.1
  uv.lock
Due: none

chore: upgrade sqlmodel 0.0.32 → 0.0.37
  uv.lock
Due: none

chore: upgrade ruff 0.15.0 → 0.15.4
  uv.lock
Due: none

chore: upgrade ast-grep-cli 0.40.5 → 0.41.0
  uv.lock
Due: none

docs: document data-testid locator strategy and SPA script loading
  docs/copy-protection.md
  docs/e2e-debugging.md
  docs/testing.md
Due: docs-index

chore: upgrade nicegui 3.6.1 → 3.8.0
  pyproject.toml
  src/promptgrimoire/cli.py
  uv.lock
Due: ty-check

refactor: add data-testid to all interactable UI elements
  src/promptgrimoire/pages/annotation/cards.py
  src/promptgrimoire/pages/annotation/content_form.py
  src/promptgrimoire/pages/annotation/tag_import.py
  src/promptgrimoire/pages/annotation/workspace.py
  src/promptgrimoire/pages/courses.py
  src/promptgrimoire/pages/dialogs.py
Due: ty-check

refactor(e2e): migrate locators to data-testid selectors
  tests/e2e/annotation_helpers.py
  tests/e2e/course_helpers.py
  tests/e2e/test_annotation_drag.py
  tests/e2e/test_annotation_tabs.py
  tests/e2e/test_anonymous_sharing.py
  tests/e2e/test_history_tutorial.py
  tests/e2e/test_html_paste_whitespace.py
  tests/e2e/test_instructor_workflow.py
  tests/e2e/test_law_student.py
  tests/e2e/test_naughty_student.py
  tests/e2e/test_organise_perf.py
  tests/e2e/test_translation_student.py
Due: ty-check

fix(e2e): add data-testid to home buttons, migrate navigator locators
  src/promptgrimoire/pages/annotation/workspace.py
  src/promptgrimoire/pages/courses.py
  src/promptgrimoire/pages/roleplay.py
  tests/e2e/test_navigator.py
Due: ty-check

docs: update project context for 190-dependency-upgrades
  CLAUDE.md
  docs/dependency-rationale.md
Due: docs-index

chore: fix rollup arbitrary file write vulnerability (GHSA-mw96-cpmx-2vgc)
  src/promptgrimoire/static/milkdown/package-lock.json
Due: none

docs: add automated user documentation design plan (#207)
  docs/dependency-rationale.md
  docs/design-plans/2026-02-27-user-docs-rodney-showboat-207.md
Due: docs-index

feat: add enable_multi_document feature flag (default: false)
  .env.example
  docs/configuration.md
  src/promptgrimoire/config.py
Due: ty-check, docs-index

feat: gate "Add Document" behind enable_multi_document flag
  src/promptgrimoire/pages/annotation/workspace.py
Due: ty-check

fix: include FEATURES/I18N prefixes in settings defaults test
  tests/unit/test_settings.py
Due: ty-check

feat: add ResizeObserver for dynamic toolbar height tracking
  src/promptgrimoire/static/annotation-card-sync.js
Due: none

feat: flip tag toolbar to bottom of viewport and fix compact button specificity
  src/promptgrimoire/pages/annotation/css.py
  src/promptgrimoire/pages/annotation/document.py
Due: ty-check

feat: add above/below flip logic to highlight menu positioning
  src/promptgrimoire/static/annotation-highlight.js
Due: none

test: update crash-detection selector after title removal
  tests/e2e/test_naughty_student.py
Due: ty-check
