Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

.pre-commit-config.yaml:

repos:
  # Ruff: lint with autofix, then format
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.4
    hooks:
      # Run the linter with autofix
      - id: ruff-check
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # Type checking
  - repo: local
    hooks:
      - id: ty-check
        name: ty type check
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false

  # Docs index regeneration
  - repo: local
    hooks:
      - id: docs-index
        name: regenerate docs/_index.md
        entry: uv run python scripts/generate_docs_index.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

  # Cognitive complexity gate â€” blocks commits with functions > 15
  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v4.2.0
    hooks:
      - id: complexipy
        args: ['--max-complexity-allowed=15']

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.4
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml"]

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
        exclude: '^(paper/|ai_transcripts/|src/promptgrimoire/static/milkdown/dist/)'
      - id: check-merge-conflict

docs: update project context for nav-metadata-search-316
  AGENTS.md
  CLAUDE.md
  tests/test-pseudocode.md
Due: none

test: add highlight-id guard assertion in broadcast drag test
  tests/e2e/test_annotation_drag.py
Due: ty-check

fix: scope backfill_tags tests to own workspace for xdist isolation
  tests/integration/test_migrate_backfill.py
Due: ty-check

docs: add implementation plan for organise broadcast E2E test (#304)
  docs/implementation-plans/2026-03-12-organise-broadcast-e2e-304/phase_01.md
  docs/implementation-plans/2026-03-12-organise-broadcast-e2e-304/test-requirements.md
Due: docs-index

refactor: batch completion gate query in publish_all (#296)
  src/promptgrimoire/db/wargames.py
Due: ty-check

test: add unit tests for PydanticAI wargame agents (#296)
  tests/unit/test_wargame_agents.py
Due: ty-check

feat: add PydanticAI agent definitions for wargame turn cycle (#296)
  src/promptgrimoire/wargame/__init__.py
  src/promptgrimoire/wargame/agents.py
Due: ty-check

feat: add publish_all() with integration tests (#296)
  src/promptgrimoire/db/wargames.py
  tests/integration/test_turn_cycle_service.py
Due: ty-check

feat: add CRDT and summary_system_prompt fields to wargame models (#296)
  src/promptgrimoire/db/models.py
Due: ty-check

docs: add wargame tables to database data dictionary (#296)
  docs/database.md
Due: docs-index

fix: address code review feedback on test_turn_cycle_e2e.py
  tests/integration/test_turn_cycle_e2e.py
Due: ty-check

fix: address code review feedback for Phase 7
  src/promptgrimoire/db/wargames.py
  tests/integration/test_turn_cycle_service.py
Due: ty-check

deps: add pydantic-ai for wargame turn cycle (#296)
  pyproject.toml
  uv.lock
Due: none

fix: address Phase 6 code review feedback
  src/promptgrimoire/db/wargames.py
  tests/integration/test_turn_cycle_service.py
Due: ty-check

feat: add run_preprocessing() and on_deadline_fired() to wargame service layer (#296)
  src/promptgrimoire/db/wargames.py
  tests/integration/conftest.py
  tests/integration/test_turn_cycle_service.py
Due: ty-check

fix: address code review feedback for Phase 4 deadline worker
  src/promptgrimoire/deadline_worker.py
  tests/unit/test_deadline_worker.py
Due: ty-check

schema: add turn cycle columns to wargame_team and wargame_config (#296)
  alembic/versions/0405a9085ccf_add_turn_cycle_columns.py
Due: ty-check

docs: add AC traceability matrix for turn cycle (#296)
  docs/implementation-plans/2026-03-10-turn-cycle-296/ac-traceability.md
Due: docs-index

fix: address Phase 2 code review feedback
  tests/unit/test_turn_cycle.py
Due: ty-check

feat: add start_game() and lock_round() with integration tests (#296)
  src/promptgrimoire/db/wargames.py
  tests/integration/test_turn_cycle_service.py
Due: ty-check

refactor: per-team preprocessing isolation with error marking
  src/promptgrimoire/db/wargames.py
  tests/integration/test_turn_cycle_service.py
Due: ty-check

test: add full round trip integration test for turn cycle (#296)
  tests/integration/test_turn_cycle_e2e.py
Due: ty-check

feat: add deadline polling worker for wargame turn cycle (#296)
  pyproject.toml
  src/promptgrimoire/__init__.py
  src/promptgrimoire/db/wargames.py
  src/promptgrimoire/deadline_worker.py
  tests/integration/test_deadline_worker.py
  tests/unit/test_deadline_worker.py
Due: ty-check

fix: address code review feedback for phase 5
  src/promptgrimoire/db/wargames.py
  tests/integration/test_turn_cycle_service.py
Due: ty-check

feat: add pure domain helpers for wargame turn cycle (#296)
  src/promptgrimoire/wargame/__init__.py
  src/promptgrimoire/wargame/turn_cycle.py
Due: ty-check

test: add unit tests for turn cycle pure domain helpers (#296)
  tests/unit/test_turn_cycle.py
Due: ty-check

fix: address Phase 6 code review feedback
  tests/integration/test_turn_cycle_service.py
Due: ty-check

docs: update project context for turn-cycle-296
  AGENTS.md
  CLAUDE.md
  docs/dependency-rationale.md
  tests/test-pseudocode.md
Due: docs-index

fix: address code review feedback on turn cycle engine (#296)
  docs/implementation-plans/2026-03-10-turn-cycle-296/phase_06.md
  src/promptgrimoire/db/wargames.py
  tests/integration/test_turn_cycle_service.py
Due: ty-check, docs-index

docs: add test plan for wargame turn cycle engine (#296)
  docs/_index.md
  docs/test-plans/2026-03-10-turn-cycle-296.md
Due: docs-index

feat: add e2e firefox, all-browsers commands and --browser flag on e2e run
  src/promptgrimoire/cli/e2e/__init__.py
  tests/unit/test_cli_e2e_runner.py
Due: ty-check

feat: thread browser parameter through E2E worker subprocess model
  src/promptgrimoire/cli/e2e/_parallel.py
  src/promptgrimoire/cli/e2e/_workers.py
Due: ty-check

test: apply browser_gate marker to existing gate tests
  tests/e2e/test_browser_gate.py
Due: ty-check

chore: add browser_gate pytest marker for gate-specific test selection
  pyproject.toml
Due: none

docs: add cross-browser E2E commands to CLAUDE.md and update design plan
  CLAUDE.md
  docs/design-plans/2026-03-12-cross-browser-e2e-261.md
Due: docs-index

docs: document validated caniuse thresholds for browser gate
  docs/design-plans/2026-03-12-cross-browser-e2e-261.md
Due: docs-index

docs: add cross-browser E2E testing design plan (#261)
  docs/dependency-rationale.md
  docs/design-plans/2026-03-12-cross-browser-e2e-261.md
Due: docs-index

fix: remove arbitrary 4-worker hardcap from E2E parallel runner
  src/promptgrimoire/cli/e2e/_parallel.py
Due: ty-check

docs: document CI pipeline structure and required GitHub Secrets
  docs/design-plans/2026-03-12-cross-browser-e2e-261.md
Due: docs-index

docs: add BrowserStack credentials to .env.example
  .env.example
Due: none
