Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

.pre-commit-config.yaml:

repos:
  # Ruff: lint with autofix, then format
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      # Run the linter with autofix
      - id: ruff-check
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # Type checking
  - repo: local
    hooks:
      - id: ty-check
        name: ty type check
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false

  # Docs index regeneration
  - repo: local
    hooks:
      - id: docs-index
        name: regenerate docs/_index.md
        entry: uv run python scripts/generate_docs_index.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.3
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml"]

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
        exclude: '^(paper/|ai_transcripts/|src/promptgrimoire/static/milkdown/dist/)'
      - id: check-merge-conflict

feat(config): add public get_current_branch() wrapper
  src/promptgrimoire/config.py
Due: ty-check

feat(cli): show branch and test DB name in pytest header
  src/promptgrimoire/cli.py
Due: ty-check

test(cli): verify branch and DB info in test runner header
  tests/unit/test_cli_header.py
Due: ty-check

feat(startup): auto-create branch database on app startup
  src/promptgrimoire/__init__.py
Due: ty-check

test(startup): verify app startup auto-create/migrate/seed
  tests/unit/test_main_startup.py
Due: ty-check

docs: add annotation.py module split design plan (#120)
  docs/design-plans/2026-02-14-120-annotation-split.md
Due: docs-index

docs: update project context for 165-auto-create-branch-db
  CLAUDE.md
  tests/test-pseudocode.md
Due: none

docs: add test plan for auto-create branch databases
  docs/test-plans/2026-02-14-165-auto-create-branch-db.md
Due: docs-index

refactor: extract scroll-sync card positioning JS to static file
  src/promptgrimoire/static/annotation-card-sync.js
Due: none

refactor: extract copy protection JS to static file
  src/promptgrimoire/static/annotation-copy-protection.js
Due: none

refactor: update annotation.py call sites to use extracted JS files
  src/promptgrimoire/pages/annotation.py
  tests/unit/test_copy_protection_js.py
Due: ty-check

test: add guard tests for JS extraction structural invariants
  tests/unit/test_annotation_js_extraction.py
Due: ty-check

test: skip flaky E2E tests with infrastructure timeouts
  tests/e2e/test_annotation_drag.py
  tests/e2e/test_annotation_tabs.py
  tests/e2e/test_auth_pages.py
  tests/e2e/test_fixture_screenshots.py
  tests/e2e/test_highlight_rendering.py
  tests/e2e/test_html_paste_whitespace.py
  tests/e2e/test_organise_perf.py
  tests/e2e/test_remote_presence_e2e.py
  tests/e2e/test_remote_presence_rendering.py
Due: ty-check

refactor: split annotation.py monolith into pages/annotation/ package
  src/promptgrimoire/pages/annotation.py
  src/promptgrimoire/pages/annotation/__init__.py
  src/promptgrimoire/pages/annotation/broadcast.py
  src/promptgrimoire/pages/annotation/cards.py
  src/promptgrimoire/pages/annotation/content_form.py
  src/promptgrimoire/pages/annotation/css.py
  src/promptgrimoire/pages/annotation/document.py
  src/promptgrimoire/pages/annotation/highlights.py
  src/promptgrimoire/pages/annotation/pdf_export.py
  src/promptgrimoire/pages/annotation/workspace.py
Due: ty-check

refactor: update test import paths for annotation package split
  src/promptgrimoire/pages/annotation/highlights.py
  tests/unit/pages/test_annotation_organise.py
  tests/unit/pages/test_annotation_warp.py
  tests/unit/test_copy_protection_js.py
  tests/unit/test_no_char_span_queries.py
Due: ty-check

docs: add workspace ACL design plan (#96)
  docs/design-plans/2026-02-15-96-workspace-acl.md
Due: docs-index

test: add guard tests for annotation package structure
  tests/unit/test_annotation_package_structure.py
Due: ty-check

refactor: git mv satellite modules into annotation package
  src/promptgrimoire/pages/annotation/__init__.py
  src/promptgrimoire/pages/annotation/organise.py
  src/promptgrimoire/pages/annotation/respond.py
  src/promptgrimoire/pages/annotation/tags.py
  src/promptgrimoire/pages/annotation/workspace.py
  tests/unit/pages/test_annotation_organise.py
  tests/unit/pages/test_annotation_respond.py
  tests/unit/pages/test_annotation_tags.py
  tests/unit/pages/test_annotation_warp.py
Due: ty-check

test: extend guard tests for satellite module migration
  tests/unit/test_annotation_package_structure.py
Due: ty-check

docs: update project structure for annotation package split
  CLAUDE.md
  docs/design-plans/2026-02-10-annotation-perf.md
  src/promptgrimoire/pages/annotation/__init__.py
Due: ty-check, docs-index

test: relax PDF export timing threshold from 5s to 6s
  tests/integration/test_pdf_export.py
Due: ty-check

docs: add phase implementation plans for annotation split (#120)
  docs/implementation-plans/2026-02-14-120-annotation-split/phase_01.md
  docs/implementation-plans/2026-02-14-120-annotation-split/phase_02.md
  docs/implementation-plans/2026-02-14-120-annotation-split/phase_03.md
  docs/implementation-plans/2026-02-14-120-annotation-split/phase_04.md
  docs/implementation-plans/2026-02-14-120-annotation-split/test-requirements.md
Due: docs-index

docs: update project context for annotation package split (#120)
  CLAUDE.md
  tests/test-pseudocode.md
Due: none

docs: add test plan for annotation module split (#120)
  docs/test-plans/2026-02-14-120-annotation-split.md
Due: docs-index

docs: revise ACL design plan — drop Resource table, use string PKs
  docs/design-plans/2026-02-15-96-workspace-acl.md
Due: docs-index

docs: add workspace ACL implementation plans (phases 1-8)
  docs/implementation-plans/2026-02-15-96-workspace-acl/phase_01.md
  docs/implementation-plans/2026-02-15-96-workspace-acl/phase_02.md
  docs/implementation-plans/2026-02-15-96-workspace-acl/phase_03.md
  docs/implementation-plans/2026-02-15-96-workspace-acl/phase_04.md
  docs/implementation-plans/2026-02-15-96-workspace-acl/phase_05.md
  docs/implementation-plans/2026-02-15-96-workspace-acl/phase_06.md
  docs/implementation-plans/2026-02-15-96-workspace-acl/phase_07.md
  docs/implementation-plans/2026-02-15-96-workspace-acl/phase_08.md
  docs/implementation-plans/2026-02-15-96-workspace-acl/test-requirements.md
Due: docs-index

docs: add database schema documentation
  docs/database.md
Due: docs-index

feat: add Permission and CourseRoleRef SQLModel tables
  src/promptgrimoire/db/__init__.py
  src/promptgrimoire/db/models.py
Due: ty-check

feat: add migration for ACL reference tables with seed data
  alembic/env.py
  alembic/versions/7c50e4641d69_add_acl_reference_tables.py
  tests/unit/test_db_schema.py
Due: ty-check

docs: add E2E test migration design plan (#156)
  docs/design-plans/2026-02-15-156-e2e-test-migration.md
Due: docs-index

fix: use course_role table name per design plan, not course_role_ref
  alembic/versions/7c50e4641d69_add_acl_reference_tables.py
  src/promptgrimoire/db/models.py
  tests/unit/test_db_schema.py
Due: ty-check

test: add integration tests for ACL reference table seed data and constraints
  src/promptgrimoire/cli.py
  tests/integration/test_acl_reference_tables.py
Due: ty-check

docs: fix plan inconsistencies found during audit
  docs/implementation-plans/2026-02-15-96-workspace-acl/phase_04.md
  docs/implementation-plans/2026-02-15-96-workspace-acl/phase_06.md
  docs/implementation-plans/2026-02-15-96-workspace-acl/phase_07.md
  docs/implementation-plans/2026-02-15-96-workspace-acl/test-requirements.md
Due: docs-index

fix: add explicit names to UNIQUE constraints on reference table levels
  alembic/versions/7c50e4641d69_add_acl_reference_tables.py
  src/promptgrimoire/db/models.py
Due: ty-check

feat: migrate CourseEnrollment.role from PG enum to FK on course_role
  alembic/versions/6d21ba550579_normalise_course_role_to_fk.py
Due: ty-check

refactor: replace CourseRole StrEnum with string FK on CourseEnrollment
  src/promptgrimoire/db/models.py
Due: ty-check

refactor: update enrollment CRUD and week visibility to use string roles
  src/promptgrimoire/db/courses.py
  src/promptgrimoire/db/weeks.py
Due: ty-check

refactor: update courses page to use string roles and static dropdown
  src/promptgrimoire/pages/courses.py
Due: ty-check
