Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

.pre-commit-config.yaml:

repos:
  # Ruff: lint with autofix, then format
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.4
    hooks:
      # Run the linter with autofix
      - id: ruff-check
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # Type checking
  - repo: local
    hooks:
      - id: ty-check
        name: ty type check
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false

  # Docs index regeneration
  - repo: local
    hooks:
      - id: docs-index
        name: regenerate docs/_index.md
        entry: uv run python scripts/generate_docs_index.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

  # Cognitive complexity gate â€” blocks commits with functions > 15
  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v4.2.0
    hooks:
      - id: complexipy
        args: ['--max-complexity-allowed=15']

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.4
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml"]

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
        exclude: '^(paper/|ai_transcripts/|src/promptgrimoire/static/milkdown/dist/)'
      - id: check-merge-conflict

feat: add respond_markdown_flush event for pre-restart drain (#454)
  src/promptgrimoire/pages/annotation/respond.py
  src/promptgrimoire/pages/restart.py
  tests/unit/test_pre_restart_flush.py
Due: ty-check

fix: watchdog adds instant restart at >1000ms lag
  deploy/lag-watchdog.sh
Due: none

fix: watchdog triggers on escalating lag, not fixed threshold
  deploy/lag-watchdog.sh
Due: none

feat: add external lag watchdog for automatic restart under load
  deploy/lag-watchdog.sh
Due: none

fix: watchdog cooldown on startup, not just after restart
  deploy/lag-watchdog.sh
Due: none

fix: raise watchdog strike threshold from 50ms to 100ms
  deploy/lag-watchdog.sh
Due: none

docs: postmortem for 2026-03-29 search worker cascade failure
  docs/_index.md
  docs/postmortems/2026-03-29-search-worker-cascade.md
Due: docs-index

docs: add 502/504 errorfiles to HAProxy config
  docs/_index.md
  docs/deployment.md
Due: docs-index

fix: watchdog 2-minute cooldown after restart to ignore thundering herd
  deploy/lag-watchdog.sh
Due: none

refactor: remove redundant tab-leave markdown sync (#454)
  src/promptgrimoire/pages/annotation/__init__.py
  src/promptgrimoire/pages/annotation/respond.py
  src/promptgrimoire/pages/annotation/tab_bar.py
  tests/unit/test_markdown_sync_event.py
Due: ty-check

test: update existing tests for Phase 2 event-driven changes (#454)
  tests/integration/test_annotation_pdf_export_filename_ui.py
  tests/integration/test_pre_restart.py
Due: ty-check

fix: only mark workspace dirty when flush changes CRDT content (#454)
  src/promptgrimoire/pages/annotation/respond.py
  tests/unit/test_pre_restart_flush.py
Due: ty-check

test: add AST guard test preventing await run_javascript() regression (#454)
  tests/unit/test_run_javascript_guard.py
Due: ty-check

refactor: remove dead _SCROLL_SAVE_JS constant from tab_bar.py (#454)
  src/promptgrimoire/pages/annotation/tab_bar.py
Due: ty-check

fix: anchor guard test path to file location, add scan-count assertion (#454)
  tests/unit/test_run_javascript_guard.py
Due: ty-check

fix: preserve Organise scroll via continuous JS listener (#454)
  src/promptgrimoire/pages/annotation/tab_bar.py
  tests/unit/test_scroll_save_fire_and_forget.py
Due: ty-check

fix: deduplicate scroll protocol in _handle_organise_tab (#454)
  src/promptgrimoire/pages/annotation/tab_bar.py
  tests/unit/test_scroll_save_fire_and_forget.py
Due: ty-check

fix: only clear editor on successful document submission (#454)
  src/promptgrimoire/pages/annotation/content_form.py
  src/promptgrimoire/pages/annotation/paste_handler.py
  tests/unit/test_paste_handler_event_payload.py
Due: ty-check

fix: missing markdown field preserves existing CRDT mirror (#454)
  src/promptgrimoire/pages/annotation/respond.py
  tests/unit/test_markdown_sync_event.py
Due: ty-check

fix: gate nicegui_user fixture on route readiness (#454)
  tests/integration/conftest.py
Due: ty-check

fix: propagate SyntaxError in guard test, document dead code retention (#454)
  docs/implementation-plans/2026-03-29-eliminate-js-await-454/phase_03.md
  tests/unit/test_run_javascript_guard.py
Due: ty-check, docs-index

refactor: remove dead helpers and fix stale type comment (#454)
  src/promptgrimoire/pages/annotation/__init__.py
  src/promptgrimoire/pages/annotation/respond.py
  src/promptgrimoire/pages/restart.py
  tests/unit/test_pre_restart_flush.py
Due: ty-check

docs: update project context for 454-respond-tab-js-blocking
  AGENTS.md
  CLAUDE.md
  tests/test-pseudocode.md
Due: none

fix: replace sequential placement queries with single JOIN
  src/promptgrimoire/db/workspaces.py
  tests/integration/test_query_efficiency.py
Due: ty-check

test: strengthen audit findings — vacuous assertions, filename contract, CLI stub
  src/promptgrimoire/export/filename.py
  tests/integration/test_annotation_cards_charac.py
  tests/unit/export/test_filename_policy.py
  tests/unit/test_anonymise.py
  tests/unit/test_anonymise_highlights.py
  tests/unit/test_cli_testing.py
Due: ty-check

fix: upload race in bulk enrolment E2E + soften absolute comments
  src/promptgrimoire/auth/client.py
  src/promptgrimoire/input_pipeline/html_input.py
  tests/e2e/test_bulk_enrol_upload.py
Due: ty-check

fix: eliminate test warnings from fire-and-forget mock mismatch and Stytch SDK (#454)
  pyproject.toml
  tests/unit/test_add_highlight_timeout.py
Due: ty-check

feat: add noci marker to exclude expensive E2E tests from default CI lane
  .github/workflows/nightly-e2e-slow.yml
  pyproject.toml
  src/promptgrimoire/cli/e2e/__init__.py
  src/promptgrimoire/cli/e2e/_lanes.py
  tests/e2e/test_bulk_enrol_upload.py
  tests/e2e/test_empty_tag_ux.py
  tests/e2e/test_happy_path_workflow.py
  tests/e2e/test_multi_doc_tabs_e2e.py
  tests/e2e/test_navigator.py
  tests/e2e/test_word_count.py
  tests/unit/test_cli_e2e_runner.py
  tests/unit/test_cli_parallel.py
Due: ty-check

docs: update project context for test-audit-fixes
  AGENTS.md
  CLAUDE.md
Due: none

merge: resolve conflict in session-contamination investigation doc
  docs/investigations/2026-03-28-session-contamination-438.md
Due: docs-index

chore: upgrade cryptography 46.0.5 → 46.0.6, requests 2.32.5 → 2.33.0
  uv.lock
Due: none

chore: fix npm security vulnerabilities (happy-dom, picomatch)
  package-lock.json
Due: none

fix: replace timeout-based semaphore test with deterministic events
  tests/unit/test_compile_latex_timeout.py
Due: ty-check

fix: load-invariant semaphore concurrency test
  tests/unit/test_compile_latex_timeout.py
Due: ty-check

feat: watchdog detects mass client disconnect (>50% user drop)
  deploy/lag-watchdog.sh
Due: none

perf: lazy detail section build for annotation cards (#457)
  src/promptgrimoire/cli/e2e/_lanes.py
  src/promptgrimoire/cli/testing.py
  src/promptgrimoire/pages/annotation/__init__.py
  src/promptgrimoire/pages/annotation/cards.py
  tests/integration/test_lazy_card_detail.py
Due: ty-check

fix: address code review feedback on phase 1 lazy card rendering
  docs/_index.md
  docs/implementation-plans/2026-03-30-lazy-card-rendering-457/phase_01.md
  src/promptgrimoire/pages/annotation/cards.py
  tests/integration/test_lazy_card_detail.py
Due: ty-check, docs-index

docs: add roleplay parity & UX design plan (#289)
  docs/design-plans/2026-03-20-roleplay-parity-289.md
Due: docs-index

docs: add layout debugging tools and viewport lessons learned
  docs/_index.md
  docs/nicegui/layout-viewport.md
  scripts/screenshot_page.py
Due: ty-check, docs-index

fix: set session.ended on detection, catch BaseException, strengthen test assertion
  src/promptgrimoire/llm/client.py
  src/promptgrimoire/pages/roleplay.py
  tests/unit/test_end_of_conversation.py
Due: ty-check
