Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

.pre-commit-config.yaml:

repos:
  # Ruff: lint with autofix, then format
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.4
    hooks:
      # Run the linter with autofix
      - id: ruff-check
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # Type checking
  - repo: local
    hooks:
      - id: ty-check
        name: ty type check
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false

  # Docs index regeneration
  - repo: local
    hooks:
      - id: docs-index
        name: regenerate docs/_index.md
        entry: uv run python scripts/generate_docs_index.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

  # Cognitive complexity gate â€” blocks commits with functions > 15
  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v4.2.0
    hooks:
      - id: complexipy
        args: ['--max-complexity-allowed=15']

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.4
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml"]

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
        exclude: '^(paper/|ai_transcripts/|src/promptgrimoire/static/milkdown/dist/)'
      - id: check-merge-conflict

fix: clamp find_text_range end offset at document boundary
  tests/e2e/annotation_helpers.py
Due: ty-check

test: add monotonic epoch signal to resolve DOM rebuild races in E2E tests
  docs/testing.md
  src/promptgrimoire/pages/annotation/__init__.py
  src/promptgrimoire/pages/annotation/cards.py
  tests/e2e/annotation_helpers.py
Due: ty-check, docs-index

fix: add on_submit_with_value helper and AST guard for input race
  docs/design-plans/2026-03-11-value-capture-hardening.md
  docs/design-plans/2026-03-11-value-capture-peer-review-2.md
  src/promptgrimoire/ui_helpers.py
  tests/unit/test_value_capture_guard.py
Due: ty-check, docs-index

refactor: wire 4 high-risk call sites through on_submit_with_value
  src/promptgrimoire/pages/annotation/cards.py
  src/promptgrimoire/pages/annotation/sharing.py
  src/promptgrimoire/pages/annotation/tag_quick_create.py
  src/promptgrimoire/pages/roleplay.py
Due: ty-check

refactor: extract card helpers from annotation_helpers into card_helpers.py
  tests/e2e/annotation_helpers.py
  tests/e2e/card_helpers.py
  tests/e2e/test_annotation_canvas.py
  tests/e2e/test_annotation_drag.py
  tests/e2e/test_anonymous_sharing.py
  tests/e2e/test_card_layout.py
  tests/e2e/test_happy_path_workflow.py
  tests/e2e/test_history_tutorial.py
  tests/e2e/test_law_student.py
  tests/e2e/test_translation_student.py
Due: ty-check

test: add E2E test for emoji survival through export pipeline (#274)
  tests/e2e/test_emoji_export.py
  tests/fixtures/conversations/chatgpt54-emoji.html.gz
Due: ty-check

refactor: decompose annotation_helpers.py into 6 focused E2E modules
  tests/e2e/annotation_helpers.py
  tests/e2e/conftest.py
  tests/e2e/db_fixtures.py
  tests/e2e/export_tools.py
  tests/e2e/fixture_loaders.py
  tests/e2e/highlight_tools.py
  tests/e2e/page_interactions.py
  tests/e2e/tag_helpers.py
  tests/e2e/test_annotation_canvas.py
  tests/e2e/test_annotation_drag.py
  tests/e2e/test_annotation_highlight_api.py
  tests/e2e/test_annotation_tabs.py
  tests/e2e/test_anonymous_sharing.py
  tests/e2e/test_card_layout.py
  tests/e2e/test_chatcraft_ingest_232.py
  tests/e2e/test_css_audit.py
  tests/e2e/test_emoji_export.py
  tests/e2e/test_empty_tag_ux.py
  tests/e2e/test_happy_path_workflow.py
  tests/e2e/test_highlight_rendering.py
  tests/e2e/test_history_tutorial.py
  tests/e2e/test_law_student.py
  tests/e2e/test_naughty_student.py
  tests/e2e/test_navigator.py
  tests/e2e/test_organise_perf.py
  tests/e2e/test_pdf_export_filename.py
  tests/e2e/test_remote_presence_e2e.py
  tests/e2e/test_remote_presence_rendering.py
  tests/e2e/test_tag_colour.py
  tests/e2e/test_tag_import.py
  tests/e2e/test_tag_sync.py
  tests/e2e/test_text_selection.py
  tests/e2e/test_translation_student.py
  tests/e2e/test_word_count.py
  tests/unit/test_e2e_annotation_helpers.py
Due: ty-check

docs: document E2E race-condition patterns and updated helper modules
  CLAUDE.md
  docs/testing.md
Due: docs-index

fix: switch to Annotate tab before clicking tag-settings-btn (#315)
  tests/e2e/test_tag_sync.py
Due: ty-check

fix: update env-var guard allowlist for decomposed E2E modules
  tests/unit/test_env_vars.py
Due: ty-check

fix: remove --reruns from unit tests, fix E2E retry env guard
  src/promptgrimoire/cli/e2e/_retry.py
  src/promptgrimoire/cli/testing.py
Due: ty-check

fix: isolate clone test from shared xdist database
  src/promptgrimoire/cli/_shared.py
  tests/integration/test_db_cloning.py
  tests/unit/test_env_vars.py
Due: ty-check

docs: xdist ConnectionDoesNotExistError root cause analysis
  docs/design-plans/2026-03-11-xdist-connection-flake-analysis.md
Due: docs-index

fix: remove xdist worker cap, use auto for full CPU utilisation
  src/promptgrimoire/cli/testing.py
  tests/unit/test_cli_testing.py
Due: ty-check

fix: use code-point iteration in find_text_range to handle emoji
  tests/e2e/highlight_tools.py
Due: ty-check

fix: wrap card rebuild in container context to prevent slot death
  docs/testing.md
  src/promptgrimoire/pages/annotation/cards.py
Due: ty-check, docs-index

evince fixture
  tests/fixtures/conversations/evince_cooking.html.gz
Due: none

fix: address Phase 2 code review feedback (#109)
  src/promptgrimoire/input_pipeline/html_input.py
  tests/unit/input_pipeline/test_process_input.py
Due: ty-check

fix: address Phase 4 code review feedback (#109)
  src/promptgrimoire/db/workspace_documents.py
  src/promptgrimoire/pages/annotation/document_management.py
  tests/integration/test_workspace_documents.py
Due: ty-check

Revert "feat: add metadata FTS leg to navigator search (#316)"
  src/promptgrimoire/db/navigator.py
Due: ty-check

fix: use definite height + overflow-y-auto for edit dialog (#109)
  src/promptgrimoire/pages/annotation/document_management.py
Due: ty-check

fix: wrap sync DOCX/PDF extraction in run_in_executor (#109)
  src/promptgrimoire/input_pipeline/converters.py
  src/promptgrimoire/input_pipeline/html_input.py
Due: ty-check

fix: strip images from DOCX conversion (#109)
  src/promptgrimoire/input_pipeline/converters.py
Due: ty-check

feat: integrate DOCX and PDF converters into process_input (#109)
  .pre-commit-config.yaml
  src/promptgrimoire/input_pipeline/html_input.py
  tests/unit/input_pipeline/test_process_input.py
Due: ty-check

fix: detect fake HTML from PDF paste as plain text (#238)
  src/promptgrimoire/input_pipeline/html_input.py
  tests/unit/input_pipeline/test_content_type.py
Due: ty-check

feat: add edit mode UI in Manage Documents dialog (#109)
  src/promptgrimoire/pages/annotation/__init__.py
  src/promptgrimoire/pages/annotation/document_management.py
  src/promptgrimoire/pages/annotation/workspace.py
  tests/e2e/test_edit_mode.py
  tests/unit/test_document_management.py
  tests/unit/test_e2e_compliance.py
Due: ty-check

test: add DOCX and PDF fixtures for file upload (#109)
  tests/fixtures/2025 LAWS1000 case.docx
  tests/fixtures/Lawlis v R [2025] NSWCCA 183 (3 November 2025).pdf
Due: none

refactor: reduce complexity in html_input.py functions (#109)
  src/promptgrimoire/input_pipeline/html_input.py
Due: ty-check

fix: add missing ValueError docstring for workspace mismatch (#109)
  src/promptgrimoire/db/workspace_documents.py
Due: ty-check

docs: add file upload design plan (#109, #238)
  docs/dependency-rationale.md
  docs/design-plans/2026-03-10-file-upload-109.md
  pyproject.toml
  uv.lock
Due: docs-index

fix: address Phase 3 minor code review comments
  tests/e2e/test_document_upload.py
Due: ty-check

docs: add navigator metadata search design plan (#316)
  docs/design-plans/2026-03-11-nav-metadata-search-316.md
Due: docs-index

fix: address Phase 5 code review feedback (#109)
  src/promptgrimoire/input_pipeline/marker_insertion.py
  src/promptgrimoire/input_pipeline/text_extraction.py
  src/promptgrimoire/pages/annotation/content_form.py
  src/promptgrimoire/pages/annotation/paste_handler.py
  src/promptgrimoire/pages/annotation/upload_handler.py
  tests/integration/test_paragraph_numbering.py
Due: ty-check

fix: clear footer before refreshable re-render to prevent duplicate tag toolbar (#109)
  src/promptgrimoire/pages/annotation/workspace.py
Due: ty-check

refactor: reduce complexity in document.py functions (#109)
  src/promptgrimoire/pages/annotation/document.py
Due: ty-check

docs: update design doc for AC6.1 drop based on investigation (#238)
  docs/design-plans/2026-03-10-file-upload-109.md
Due: docs-index

refactor: wrap document rendering in @ui.refreshable (#109)
  src/promptgrimoire/pages/annotation/workspace.py
Due: ty-check

test: add E2E test for no-reload document addition (#109)
  tests/e2e/test_document_upload.py
Due: ty-check

refactor: split content_form.py into smaller modules (#109)
  pyproject.toml
  src/promptgrimoire/pages/annotation/__init__.py
  src/promptgrimoire/pages/annotation/content_form.py
  src/promptgrimoire/pages/annotation/paste_handler.py
  src/promptgrimoire/pages/annotation/paste_script.py
  src/promptgrimoire/pages/annotation/upload_handler.py
  tests/integration/test_paragraph_numbering.py
Due: ty-check

docs: update design doc for Phase 4 edit mode architecture (#109)
  docs/design-plans/2026-03-10-file-upload-109.md
Due: docs-index
