Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

ty-check:
  name: ty type check
  entry: uvx ty check
  language: system
  pass_filenames: false

docs-index:
  name: regenerate docs/_index.md
  entry: uv run python scripts/generate_docs_index.py
  language: system
  pass_filenames: false

fix: use data-testid for template buttons in instructor workflow E2E test
  tests/e2e/test_instructor_workflow.py
Due: ty-check

fix: address Phase 5 code review feedback
  src/promptgrimoire/cli/e2e/__init__.py
Due: ty-check

chore: remove nosec from cli_loadtest.py/roleplay.py, exclude from complexipy
  .pre-commit-config.yaml
  src/promptgrimoire/cli_loadtest.py
Due: ty-check

docs: add CI harness design plan
  docs/dependency-rationale.md
  docs/design-plans/2026-03-03-ci-harness.md
Due: docs-index

fix: resolve ruff S-rule violations and remove bandit (replaced by ruff S)
  .pre-commit-config.yaml
  pyproject.toml
  src/promptgrimoire/__init__.py
  src/promptgrimoire/auth/anonymise.py
  src/promptgrimoire/cli/e2e/_workers.py
  src/promptgrimoire/db/engine.py
  src/promptgrimoire/db/navigator.py
Due: ty-check

feat: add -k pytest filter option to all test CLI commands
  src/promptgrimoire/cli/_shared.py
  src/promptgrimoire/cli/e2e/__init__.py
  src/promptgrimoire/cli/testing.py
Due: ty-check

deps: add pip-audit for dependency vulnerability scanning
  pyproject.toml
  uv.lock
Due: none

chore: remove stale e2e.py tracked by git (replaced by e2e/ package)
  src/promptgrimoire/cli/e2e.py
Due: ty-check

fix: add pandoc, fonts, and TinyTeX to CI test-all job
  .github/workflows/ci.yml
Due: none

fix: cache Playwright browsers in CI e2e job
  .github/workflows/ci.yml
Due: none

chore: temporarily disable complexipy in CI (pre-existing violations)
  .github/workflows/ci.yml
Due: none

fix: address PR #244 code quality bot findings
  src/promptgrimoire/cli/e2e/__init__.py
  src/promptgrimoire/cli/e2e/_server_script.py
Due: ty-check

chore: remove obsolete ci.yml.disabled (replaced by ci.yml)
  .github/workflows/ci.yml.disabled
Due: none

docs: update CLAUDE.md Key Commands for grimoire CLI
  CLAUDE.md
Due: none

feat: add CI workflow with quality, test-all, and e2e jobs
  .github/workflows/ci.yml
Due: none

fix: add poppler-utils (pdftotext) to CI and deployment
  .github/workflows/ci.yml
  docs/_index.md
  docs/deployment.md
Due: docs-index

docs: add CI harness implementation plan (3 phases)
  docs/design-plans/2026-03-03-ci-harness.md
  docs/implementation-plans/2026-03-03-ci-harness/phase_01.md
  docs/implementation-plans/2026-03-03-ci-harness/phase_02.md
  docs/implementation-plans/2026-03-03-ci-harness/phase_03.md
  docs/implementation-plans/2026-03-03-ci-harness/test-requirements.md
Due: docs-index

fix: pin ty version and add explicit POSTGRES_USER in CI workflow
  .github/workflows/ci.yml
Due: none

docs: add E2E Test Suite Refactor design plan
  docs/design-plans/e2e-instructor-workflow-split.md
Due: docs-index

docs: update implementation guidance — bandit replaced by ruff S rules
  .ed3d/implementation-plan-guidance.md
Due: none

docs: update CLI commands across guides to use grimoire CLI
  .ed3d/implementation-plan-guidance.md
  .env.example
  CLAUDE.md
  tests/e2e/test_para_screenshot.py
Due: ty-check

docs: add data-testid requirement to code quality checks in .ed3d
  .ed3d/implementation-plan-guidance.md
Due: none

fix: update actions, add apt + TinyTeX caching to CI
  .github/workflows/ci.yml
Due: none

fix: use JS evaluate for Quasar dropdown clicks to avoid DOM detachment
  tests/e2e/test_history_tutorial.py
  tests/e2e/test_law_student.py
Due: ty-check

refactor: delete cli_legacy.py — all functions migrated to cli/ package
  .pre-commit-config.yaml
  pyproject.toml
  src/promptgrimoire/cli_legacy.py
  tests/unit/test_env_vars.py
Due: ty-check

deps: upgrade cryptography 46.0.4 → 46.0.5 (CVE-2026-26007)
  pyproject.toml
  uv.lock
Due: none

fix: add Quasar dropdown E2E tests to JS evaluate allowlist
  tests/unit/test_e2e_compliance.py
Due: ty-check

chore: enable ruff S (security) rules, replacing bandit
  pyproject.toml
Due: none

test: skip monolithic instructor workflow e2e test (superseded)
  tests/e2e/test_instructor_workflow.py
Due: ty-check

test: extract nicegui_user fixture for integration tests
  tests/integration/conftest.py
  tests/integration/test_crud_management_ui.py
Due: ty-check

test: add happy path glue workflow E2E test
  tests/e2e/test_happy_path_workflow.py
Due: ty-check

test: add instructor marking interaction e2e tests
  tests/e2e/test_annotation_canvas.py
Due: ty-check

refactor: simplify annotation canvas test helpers
  tests/e2e/annotation_helpers.py
  tests/e2e/test_annotation_canvas.py
Due: ty-check

fix: address code review feedback for phase 3 canvas tests
  tests/e2e/annotation_helpers.py
  tests/e2e/test_annotation_canvas.py
Due: ty-check

fix: guard course_id against subtest suppression, remove hard sleep
  tests/e2e/test_happy_path_workflow.py
Due: ty-check

fix: consolidate duplicated NiceGUI helpers across integration test files
  tests/integration/conftest.py
  tests/integration/nicegui_helpers.py
  tests/integration/test_crud_management_ui.py
  tests/integration/test_instructor_course_admin_ui.py
  tests/integration/test_instructor_template_ui.py
Due: ty-check

test: add student canvas interaction e2e tests
  tests/e2e/test_annotation_canvas.py
Due: ty-check

test: add course admin nicegui integration tests
  tests/integration/test_instructor_course_admin_ui.py
Due: ty-check

test: add template configuration nicegui integration tests
  src/promptgrimoire/pages/annotation/tag_import.py
  tests/integration/test_instructor_template_ui.py
Due: ty-check

Path conditions:
  ty-check: any of: \.py$
  docs-index: any of: ^docs/.*\.md$
