Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

ty-check:
  name: ty type check
  entry: uvx ty check
  language: system
  pass_filenames: false

docs-index:
  name: regenerate docs/_index.md
  entry: uv run python scripts/generate_docs_index.py
  language: system
  pass_filenames: false

docs(deploy): snapshot service production runbook
  deploy/promptgrimoire-snapshot.service
  docs/configuration.md
  docs/deployment.md
Due: docs-index

test(sidebar): re-point para-ref viewer guard at effectivePermissions
  tests/integration/test_vue_sidebar_interactions.py
Due: ty-check

refactor(db): migrate reads to tstring raw SQL per ADR 0004
  src/promptgrimoire/db/acl.py
  src/promptgrimoire/db/activities.py
  src/promptgrimoire/db/courses.py
  src/promptgrimoire/db/engine.py
  src/promptgrimoire/db/enrolment.py
  src/promptgrimoire/db/export_jobs.py
  src/promptgrimoire/db/navigator.py
  src/promptgrimoire/db/roles.py
  src/promptgrimoire/db/tags.py
  src/promptgrimoire/db/users.py
  src/promptgrimoire/db/weeks.py
  src/promptgrimoire/db/workspace_documents.py
  src/promptgrimoire/db/workspaces.py
  src/promptgrimoire/search_worker.py
  tests/integration/test_acl_crud.py
  tests/integration/test_activity_crud.py
  tests/integration/test_annotation_context.py
  tests/integration/test_bulk_enrolment.py
  tests/integration/test_course_service.py
  tests/integration/test_user_listing.py
  tests/integration/test_wargame_schema.py
  tests/unit/pages/test_tag_management.py
  tests/unit/test_engine_nullpool.py
  tests/unit/test_search_worker.py
  tests/unit/test_to_jsonb_field_type_guard.py
Due: ty-check

refactor(cli): tstring migration, runner fixes, complexity decomposition
  src/promptgrimoire/cli/admin.py
  src/promptgrimoire/cli/e2e/__init__.py
  src/promptgrimoire/cli/e2e/_artifacts.py
  src/promptgrimoire/cli/e2e/_parallel.py
  src/promptgrimoire/cli/e2e/_retry.py
  src/promptgrimoire/cli/e2e/_server_script.py
  src/promptgrimoire/cli/e2e/_workers.py
  src/promptgrimoire/cli/export.py
  src/promptgrimoire/cli/migrate.py
  src/promptgrimoire/cli/testing.py
  src/promptgrimoire/cli_loadtest.py
  tests/integration/test_loadtest_queries.py
  tests/unit/test_cli_e2e_runner.py
  tests/unit/test_cli_parallel.py
  tests/unit/test_cli_testing.py
  tests/unit/test_grimoire_test_partition.py
  tests/unit/test_loadtest_pure_helpers.py
  tests/unit/test_manage_users.py
Due: ty-check

docs: record ADRs 0004-0007 and the raw-SQL convention
  docs/_index.md
  docs/architecture/raw-sql-convention.md
  docs/decisions/0004-raw-sql-for-reads.md
  docs/decisions/0005-sqlalchemy-21-beta-override.md
  docs/decisions/0006-toolchain-single-sourced-in-uv-lock.md
  docs/decisions/0007-plr-rules-enforced.md
  docs/decisions/adr-register.md
  docs/design-plans/2026-04-23-ty-sa-typing-cleanup.md
  docs/implementation-plans/2026-08-17-ty-bump-toolchain/index-candidates.md
  docs/implementation-plans/2026-08-17-ty-bump-toolchain/tracker.md
Due: docs-index

chore(toolchain): single-source ty/ruff/complexipy in uv.lock
  .claude/hooks/final_lint.py
  .claude/hooks/python_lint.py
  .github/workflows/act-ci.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  AGENTS.md
  CLAUDE.md
  pyproject.toml
  uv.lock
Due: ty-check

test: harden shared fixtures against cross-test contamination
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/nicegui_helpers.py
  tests/unit/conftest.py
  tests/unit/test_settings.py
Due: ty-check

refactor(scripts): incident tooling typing, complexity, and first tests
  scripts/analyse_fixture.py
  scripts/extract_anthropic_console_to_json.py
  scripts/fetch_export_logs.py
  scripts/grimoire_exemplars.py
  scripts/incident/analysis.py
  scripts/incident/ingest.py
  scripts/incident/parsers/beszel.py
  scripts/incident/parsers/github.py
  scripts/incident/parsers/jsonl.py
  scripts/incident/queries.py
  scripts/incident_db.py
  scripts/jsonl_to_md.py
  scripts/profile_workspace.py
  scripts/save_clipboard_fixture.py
  tests/unit/incident/test_pglog_parser.py
  tests/unit/scripts/__init__.py
  tests/unit/scripts/test_analyse_fixture.py
  tests/unit/scripts/test_jsonl_to_md.py
  tests/unit/scripts/test_profile_workspace.py
  tests/unit/test_enrol_upload_handler.py
  tests/unit/test_epoch_enrichment.py
  tests/unit/test_github_fetcher.py
Due: ty-check

refactor(test): extend PLR campaign over the stacked snapshot layer
  tests/e2e/test_assessment_cram_load.py
Due: ty-check

feat(db): add the four EXPLAIN-promoted partial indices
  alembic/versions/c9d1e7a40b21_add_promoted_partial_indices.py
Due: ty-check

docs(tracker): close P12, record stacked-gate evidence and ledger 17
  docs/implementation-plans/2026-08-17-ty-bump-toolchain/tracker.md
Due: docs-index

fix(courses): capture form values client-side at submit time
  CLAUDE.md
  docs/implementation-plans/2026-08-17-ty-bump-toolchain/tracker.md
  src/promptgrimoire/pages/courses.py
  src/promptgrimoire/ui_helpers.py
  tests/e2e/test_course_edit_dialogs.py
  tests/integration/nicegui_helpers.py
  tests/unit/test_ui_helpers_value_capture.py
  tests/unit/test_value_capture_guard.py
Due: ty-check, docs-index

docs(tracker): record 100-way perf leg result — stack is perf-clear
  docs/implementation-plans/2026-08-17-ty-bump-toolchain/tracker.md
Due: docs-index

test(e2e): locate edited activity by row testid, not text (PG002)
  tests/e2e/test_course_edit_dialogs.py
Due: ty-check

fix(deploy): correct watch script log dir and survive transient failures
  deploy/watch-class-load.sh
Due: none

docs(snapshot): Phase 12 — stacked-head leg, freshness gate, flag-on soak
  docs/design-notes/2026-08-16-initial-snapshot-delivery.md
  perf-results/snapshot-stacked-100.json
Due: docs-index

test(snapshot): adversarial freshness probe for the mint-to-mount race
  tests/e2e/test_snapshot_delivery.py
Due: ty-check

test: enforce the no-JS-injection E2E policy at commit time
  .pre-commit-config.yaml
  docs/implementation-plans/2026-08-17-ty-bump-toolchain/tracker.md
  scripts/check_js_injection.py
  tests/e2e/highlight_tools.py
  tests/e2e/test_tag_colour.py
  tests/unit/test_e2e_compliance.py
Due: ty-check, docs-index

feat(annotation): tag-apply events carry their own selection (#502)
  src/promptgrimoire/pages/annotation/css.py
  src/promptgrimoire/pages/annotation/document.py
  src/promptgrimoire/pages/annotation/document_render.py
  src/promptgrimoire/pages/annotation/highlights.py
  src/promptgrimoire/pages/annotation/tag_quick_create.py
  src/promptgrimoire/pages/annotation/workspace.py
  src/promptgrimoire/static/annotation-highlight.js
  src/promptgrimoire/ui_helpers.py
  tests/integration/nicegui_helpers.py
  tests/js/annotation-highlight.test.js
  tests/unit/test_add_highlight_timeout.py
  tests/unit/test_selection_capture_502.py
Due: ty-check

test(e2e): regression tests for tag-apply/selection reordering (#502)
  tests/e2e/test_highlight_rendering.py
  tests/e2e/test_selection_capture_502.py
  tests/e2e/test_text_selection.py
  tests/unit/test_e2e_compliance.py
Due: ty-check

docs: document the selection-capture race pattern (#502)
  CLAUDE.md
  docs/testing.md
Due: docs-index

fix(export): preserve code-block annotations in PDF export (#495)
  docs/export.md
  scripts/setup_latex.py
  src/promptgrimoire/export/filters/highlight.lua
  src/promptgrimoire/export/html_normaliser.py
  src/promptgrimoire/export/pandoc.py
  src/promptgrimoire/export/promptgrimoire-export.sty
  tests/integration/test_code_block_annotation_export.py
Due: ty-check, docs-index

fix(export): tolerate an already-dead process group at compile timeout
  src/promptgrimoire/export/pdf.py
  tests/unit/test_compile_latex_timeout.py
Due: ty-check

fix(test): make select_chars drag reliable and assert on selection whiffs (#562)
  src/promptgrimoire/docs/helpers.py
  tests/e2e/highlight_tools.py
Due: ty-check

fix(annotation): cache snapshot bundles so tab return survives token expiry (#563)
  src/promptgrimoire/static/annotation-snapshot-bootstrap.js
  tests/js/annotation-snapshot-bootstrap.test.js
Due: none

Keep annotation tabs mounted
  docs/testing.md
  docs/uat-565.md
  src/promptgrimoire/cli/e2e/_server_script.py
  src/promptgrimoire/pages/annotation/tab_bar.py
  tests/conftest.py
  tests/e2e/test_browser_perf_377.py
  tests/integration/test_workspace_persistence.py
  tests/unit/test_markdown_sync_event.py
Due: ty-check, docs-index

test(perf): soak reports attainment, audits responds, degrades whiffs
  tests/e2e/test_soak_full_crud_load.py
  tests/unit/test_env_vars.py
Due: ty-check

test(perf): retry bounced organise drags, then degrade
  tests/e2e/test_soak_full_crud_load.py
Due: ty-check

fix(deploy): default watch course filter to all courses
  deploy/watch-class-load.sh
Due: none

test(perf): cram failures are data below the collapse boundary
  tests/e2e/test_assessment_cram_load.py
Due: ty-check

feat(perf): pool-fidelity wiring, remote-server mode, GC pause recorder
  src/promptgrimoire/cli/e2e/__init__.py
  src/promptgrimoire/cli/e2e/_server_script.py
  tests/unit/test_cli_e2e_runner.py
Due: ty-check

fix(test): settle smooth scroll before reading drag coordinates (#562)
  src/promptgrimoire/docs/helpers.py
  tests/e2e/highlight_tools.py
Due: ty-check

test(perf): boundary is systemic, not a singleton tail event
  tests/e2e/test_soak_full_crud_load.py
Due: ty-check

test(perf): record run provenance and server-side page-load profiles
  tests/e2e/perf_reporting.py
  tests/unit/test_perf_server_log_parse.py
Due: ty-check

refactor(test): extract assessment-fixture provisioning for reuse
  tests/e2e/assessment_fixtures.py
  tests/e2e/test_assessment_cram_load.py
Due: ty-check

fix(db): let perf runs opt into production-shaped pooling
  src/promptgrimoire/db/engine.py
  tests/unit/test_engine_pool_fidelity.py
  tests/unit/test_pool_settings_config.py
Due: ty-check

test(perf): thundering-herd probe -- synchronised burst on a heavy fixture
  tests/e2e/test_thundering_herd.py
Due: ty-check

test(perf): browser-side degradation is counted, not fatal
  scripts/check_js_injection.py
  tests/e2e/test_soak_full_crud_load.py
Due: ty-check

test(perf): add crunched-soak full-CRUD load probe
  tests/e2e/test_soak_full_crud_load.py
Due: ty-check

Path conditions:
  ty-check: any of: \.py$
  docs-index: any of: ^docs/.*\.md$
