Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

.pre-commit-config.yaml:

repos:
  # Ruff: lint with autofix, then format
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      # Run the linter with autofix
      - id: ruff-check
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # Type checking
  - repo: local
    hooks:
      - id: ty-check
        name: ty type check
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false

  # Docs index regeneration
  - repo: local
    hooks:
      - id: docs-index
        name: regenerate docs/_index.md
        entry: uv run python scripts/generate_docs_index.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.3
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml"]

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
        exclude: '^(paper/|ai_transcripts/|src/promptgrimoire/static/milkdown/dist/)'
      - id: check-merge-conflict

refactor: extract annotation helpers to promptgrimoire.docs.helpers for guide scripts
  src/promptgrimoire/docs/helpers.py
  tests/e2e/annotation_helpers.py
Due: ty-check

feat: migrate student workflow guide to Python DSL
  src/promptgrimoire/docs/scripts/student_workflow.py
Due: ty-check

chore: remove all replaced bash guide scripts
  docs/guides/scripts/common.sh
  docs/guides/scripts/debug-instructor.sh
  docs/guides/scripts/generate-student-workflow.sh
Due: none

fix: address Phase 4 code review feedback
  src/promptgrimoire/docs/scripts/student_workflow.py
  tests/e2e/annotation_helpers.py
Due: ty-check

deps: add mkdocs-material for documentation site generation
  pyproject.toml
  uv.lock
Due: none

feat: add MkDocs Material configuration and landing page
  .gitignore
  docs/guides/index.md
  mkdocs.yml
Due: docs-index

feat: add mkdocs build and Pandoc PDF steps to make_docs() pipeline
  src/promptgrimoire/cli.py
  tests/unit/test_make_docs.py
Due: ty-check

fix: address Phase 5 code review feedback
  mkdocs.yml
  src/promptgrimoire/cli.py
  tests/unit/test_make_docs.py
Due: ty-check

chore: remove all rodney/showboat references and obsolete files
  .gitignore
  CLAUDE.md
  docs/_index.md
  docs/dependency-rationale.md
  docs/implementation-plans/2026-02-17-showboat-e2e-demos/phase_01.md
  docs/implementation-plans/2026-02-17-showboat-e2e-demos/phase_02.md
  docs/implementation-plans/2026-02-17-showboat-e2e-demos/phase_03.md
  docs/rodney/cli-reference.md
  tests/test-pseudocode.md
Due: docs-index

feat: thread on_add_click through floating highlight menu
  src/promptgrimoire/pages/annotation/__init__.py
  src/promptgrimoire/pages/annotation/document.py
  src/promptgrimoire/pages/annotation/tag_management_save.py
Due: ty-check

test: add E2E tests for empty-tag floating menu UX
  tests/e2e/annotation_helpers.py
  tests/e2e/test_empty_tag_ux.py
Due: ty-check

fix: address Phase 1 code review feedback
  src/promptgrimoire/pages/annotation/document.py
  tests/e2e/test_empty_tag_ux.py
Due: ty-check

fix: use not_to_be_attached for absent DOM node assertion in AC1.1
  tests/e2e/test_empty_tag_ux.py
Due: ty-check

fix: use data-testid on highlight-menu tag buttons, not CSS class
  src/promptgrimoire/pages/annotation/document.py
  tests/e2e/test_empty_tag_ux.py
Due: ty-check

fix: improve screenshot quality in Guide DSL
  src/promptgrimoire/docs/guide.py
  src/promptgrimoire/docs/screenshot.py
  tests/unit/test_docs_guide.py
Due: ty-check

fix: add explicit screenshots and 4x scale for sharper guide images
  src/promptgrimoire/cli.py
  src/promptgrimoire/docs/scripts/instructor_setup.py
  tests/unit/test_make_docs.py
Due: ty-check

fix: use data-testid for tag quick-create name input in E2E tests
  src/promptgrimoire/pages/annotation/tag_quick_create.py
  tests/e2e/test_empty_tag_ux.py
  tests/e2e/test_instructor_workflow.py
Due: ty-check

feat: add data-testid attributes for guide automation
  src/promptgrimoire/pages/annotation/__init__.py
  src/promptgrimoire/pages/annotation/placement.py
  src/promptgrimoire/pages/annotation/tag_quick_create.py
  src/promptgrimoire/pages/annotation/workspace.py
Due: ty-check

docs: add "Your Personal Grimoire" guide design plan
  docs/design-plans/2026-03-01-personal-grimoire-guide-208.md
Due: docs-index

refactor: consolidate props calls and remove redundant getattr
  src/promptgrimoire/pages/annotation/document.py
  src/promptgrimoire/pages/annotation/tag_management_save.py
Due: ty-check

feat: expand toolbar button labels when fewer than 5 tags exist
  src/promptgrimoire/pages/annotation/css.py
Due: ty-check

refactor: rename TRAN8034 to UNIT1234 in guide documentation
  docs/design-plans/2026-03-01-personal-grimoire-guide-208.md
  src/promptgrimoire/docs/scripts/instructor_setup.py
Due: ty-check, docs-index

test: add E2E tests for toolbar expanded labels and tooltips
  tests/e2e/test_empty_tag_ux.py
Due: ty-check

fix: address code review feedback on tooltip assertions
  tests/e2e/test_empty_tag_ux.py
Due: ty-check

fix: fold speaker metadata into labels, strip chrome from cards
  src/promptgrimoire/export/platforms/chatcraft.py
  src/promptgrimoire/export/platforms/openrouter.py
  src/promptgrimoire/pages/annotation/content_form.py
  src/promptgrimoire/pages/annotation/css.py
  tests/unit/export/platforms/test_chatcraft.py
  tests/unit/export/platforms/test_openrouter.py
Due: ty-check

fix: use full tooltip string in manage button assertions
  tests/e2e/test_empty_tag_ux.py
Due: ty-check

fix: strip OpenAI metadata badges from exported HTML
  src/promptgrimoire/export/platforms/openai.py
  tests/unit/export/platforms/test_openai.py
Due: ty-check

fix: strip AI Studio metadata and OpenRouter thinking content
  src/promptgrimoire/export/platforms/aistudio.py
  src/promptgrimoire/pages/annotation/content_form.py
  tests/unit/export/platforms/test_aistudio.py
Due: ty-check

refactor: data-driven toolbar button rendering loop
  src/promptgrimoire/pages/annotation/css.py
  tests/e2e/test_empty_tag_ux.py
Due: ty-check

docs: update project context for empty-tag-ux-210
  docs/annotation-architecture.md
  tests/test-pseudocode.md
Due: docs-index

fix: use structural approach for OpenRouter metadata/thinking stripping
  src/promptgrimoire/export/platforms/openrouter.py
  src/promptgrimoire/pages/annotation/content_form.py
  tests/unit/export/platforms/test_openrouter.py
Due: ty-check

test(e2e): verify selection state preserved after cancel (AC1.5)
  tests/e2e/test_empty_tag_ux.py
Due: ty-check

fix: rewrite OpenRouter handler for real paste HTML structure
  src/promptgrimoire/export/platforms/openrouter.py
  src/promptgrimoire/pages/annotation/content_form.py
  tests/unit/export/platforms/test_openrouter.py
Due: ty-check

docs: add test plan for empty-tag annotation UX
  docs/test-plans/2026-03-01-empty-tag-ux-210.md
Due: docs-index

refactor: extract tag button and group rendering helpers
  src/promptgrimoire/pages/annotation/css.py
  src/promptgrimoire/pages/annotation/document.py
Due: ty-check

feat: add personal_grimoire.py module structure and setup helpers
  src/promptgrimoire/docs/scripts/personal_grimoire.py
Due: ty-check

fix: inject speaker labels for OpenAI and AI Studio pastes
  src/promptgrimoire/pages/annotation/content_form.py
Due: ty-check

feat: add Section 1 — Enter the Grimoire
  src/promptgrimoire/docs/scripts/personal_grimoire.py
Due: ty-check

feat: add Section 2 — Bring Your Conversation
  src/promptgrimoire/docs/scripts/personal_grimoire.py
Due: ty-check

feat: add Section 3 — Make Meaning Through Tags
  src/promptgrimoire/docs/scripts/personal_grimoire.py
Due: ty-check
