Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

ty-check:
  name: ty type check
  entry: uvx ty check
  language: system
  pass_filenames: false

docs-index:
  name: regenerate docs/_index.md
  entry: uv run python scripts/generate_docs_index.py
  language: system
  pass_filenames: false

chore: remove delivered implementation plans for #207
  docs/implementation-plans/2026-02-27-user-docs-rodney-showboat-207/phase_01.md
  docs/implementation-plans/2026-02-27-user-docs-rodney-showboat-207/phase_02.md
  docs/implementation-plans/2026-02-27-user-docs-rodney-showboat-207/phase_03.md
  docs/implementation-plans/2026-02-27-user-docs-rodney-showboat-207/phase_04.md
  docs/implementation-plans/2026-02-27-user-docs-rodney-showboat-207/test-requirements.md
Due: docs-index

chore: remove #174 design plan, superseded by #208
  docs/design-plans/2026-02-17-showboat-e2e-demos.md
Due: docs-index

docs: add OpenRouter and ChatCraft platform handlers design plan
  docs/design-plans/2026-02-28-platform-handlers-openrouter-chatcraft-209.md
  tests/fixtures/conversations/chatcraft_prd.html.gz
  tests/fixtures/conversations/openrouter_fizzbuzz.html.gz
Due: docs-index

docs: add documentation platform design plan
  docs/dependency-rationale.md
  docs/design-plans/2026-02-28-docs-platform-208.md
Due: docs-index

refactor: generalise speaker label injection to generic loop over turn markers
  src/promptgrimoire/export/platforms/__init__.py
Due: ty-check

test: verify generic loop injects labels for arbitrary role count
  tests/unit/export/platforms/test_registry.py
Due: ty-check

feat: add CSS styling for system speaker role
  src/promptgrimoire/pages/annotation/css.py
  tests/unit/test_annotation_css.py
Due: ty-check

feat: add LaTeX systemcolor and systemturn environment
  src/promptgrimoire/export/promptgrimoire-export.sty
  tests/unit/export/test_sty_system_turn.py
Due: ty-check

refactor: replace Lua filter binary conditionals with speaker role lookup table
  src/promptgrimoire/export/filters/libreoffice.lua
Due: none

test: add guard test ensuring all handler roles have CSS and LaTeX styling
  tests/unit/export/platforms/test_role_coverage.py
Due: ty-check

fix: address code review — tighten guard test, add role validation and nil guards
  src/promptgrimoire/export/filters/libreoffice.lua
  src/promptgrimoire/export/platforms/__init__.py
  tests/unit/export/platforms/test_role_coverage.py
  tests/unit/export/test_sty_system_turn.py
Due: ty-check

docs: add implementation plans for docs-platform-208
  docs/implementation-plans/2026-02-28-docs-platform-208/phase_01.md
  docs/implementation-plans/2026-02-28-docs-platform-208/phase_02.md
  docs/implementation-plans/2026-02-28-docs-platform-208/phase_03.md
  docs/implementation-plans/2026-02-28-docs-platform-208/phase_04.md
  docs/implementation-plans/2026-02-28-docs-platform-208/phase_05.md
  docs/implementation-plans/2026-02-28-docs-platform-208/phase_06.md
  docs/implementation-plans/2026-02-28-docs-platform-208/test-requirements.md
Due: docs-index

test: add coverage for role name validation ValueError path
  tests/unit/export/platforms/test_registry.py
Due: ty-check

feat: add OpenRouter platform handler
  src/promptgrimoire/export/platforms/openrouter.py
  tests/unit/export/platforms/test_registry.py
Due: ty-check

test: add OpenRouter handler unit tests
  tests/unit/export/platforms/test_openrouter.py
Due: ty-check

test: add OpenRouter fixture and register in test infrastructure
  tests/fixtures/conversations/openrouter_fizzbuzz.html.gz
  tests/integration/test_chatbot_fixtures.py
  tests/unit/input_pipeline/test_insert_markers_fixtures.py
Due: ty-check

deps: add Pillow to dev dependencies for guide screenshot trimming
  pyproject.toml
  uv.lock
Due: none

fix: use realistic Gemini HTML in OpenRouter negative test
  tests/unit/export/platforms/test_openrouter.py
Due: ty-check

feat: add ChatCraft platform handler with speaker classification
  src/promptgrimoire/export/platforms/chatcraft.py
  tests/unit/export/platforms/test_chatcraft.py
Due: ty-check

test: update registry test for ChatCraft handler (7 → 8)
  tests/unit/export/platforms/test_registry.py
Due: ty-check

test: add ChatCraft handler unit tests including speaker classification
  tests/unit/export/platforms/test_chatcraft.py
Due: ty-check

test: add ChatCraft fixture and register in test infrastructure
  tests/integration/test_chatbot_fixtures.py
  tests/unit/input_pipeline/test_insert_markers_fixtures.py
Due: ty-check

feat: add screenshot module with whitespace trimming and CSS highlight injection
  src/promptgrimoire/docs/screenshot.py
  tests/unit/test_docs_screenshot.py
Due: ty-check

feat: add Guide DSL context managers for documentation generation
  src/promptgrimoire/docs/guide.py
  tests/unit/test_docs_guide.py
Due: ty-check

chore: add public exports for docs package
  src/promptgrimoire/docs/__init__.py
Due: ty-check

fix: address Phase 1 code review feedback
  src/promptgrimoire/docs/guide.py
  src/promptgrimoire/docs/screenshot.py
  tests/unit/test_docs_guide.py
  tests/unit/test_docs_screenshot.py
Due: ty-check

refactor: simplify docs source modules
  src/promptgrimoire/docs/guide.py
  src/promptgrimoire/docs/screenshot.py
Due: ty-check

refactor: reduce boilerplate in docs test files
  tests/unit/test_docs_guide.py
  tests/unit/test_docs_screenshot.py
Due: ty-check

fix: address code review — add system prompt to fixture, document assumptions
  src/promptgrimoire/export/platforms/chatcraft.py
  tests/fixtures/conversations/chatcraft_prd.html.gz
  tests/integration/test_chatbot_fixtures.py
Due: ty-check

deps: remove showboat from dev dependencies
  pyproject.toml
  uv.lock
Due: none

feat: add stub guide functions for Playwright-based make_docs()
  src/promptgrimoire/docs/scripts/__init__.py
  src/promptgrimoire/docs/scripts/instructor_setup.py
  src/promptgrimoire/docs/scripts/student_workflow.py
Due: ty-check

feat: refactor make_docs() to use Playwright instead of rodney/showboat
  src/promptgrimoire/cli.py
  tests/unit/test_make_docs.py
Due: ty-check

fix: address Phase 2 code review feedback
  src/promptgrimoire/cli.py
  tests/unit/test_make_docs.py
Due: ty-check

feat: add client-side paste detection for OpenRouter and ChatCraft
  src/promptgrimoire/pages/annotation/content_form.py
Due: ty-check

fix: show "New Unit" button for all privileged users, not just org admins
  src/promptgrimoire/pages/courses.py
Due: ty-check

feat: migrate instructor setup guide to Python DSL
  src/promptgrimoire/docs/scripts/instructor_setup.py
Due: ty-check

chore: remove replaced instructor guide bash script
  docs/guides/scripts/generate-instructor-setup.sh
Due: none

fix: address Phase 3 code review feedback
  src/promptgrimoire/docs/scripts/instructor_setup.py
Due: ty-check

docs: add empty-tag annotation UX design plan (#210)
  docs/design-plans/2026-03-01-empty-tag-ux-210.md
Due: docs-index

fix: run _seed_template_tags in subprocess to avoid event loop conflict
  src/promptgrimoire/docs/scripts/instructor_setup.py
Due: ty-check

Path conditions:
  ty-check: any of: \.py$
  docs-index: any of: ^docs/.*\.md$
