Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

.pre-commit-config.yaml:

repos:
  # Ruff: lint with autofix, then format
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.4
    hooks:
      # Run the linter with autofix
      - id: ruff-check
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # Type checking
  - repo: local
    hooks:
      - id: ty-check
        name: ty type check
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false

  # Docs index regeneration
  - repo: local
    hooks:
      - id: docs-index
        name: regenerate docs/_index.md
        entry: uv run python scripts/generate_docs_index.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

  # Cognitive complexity gate â€” blocks commits with functions > 15
  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v4.2.0
    hooks:
      - id: complexipy
        args: ['--max-complexity-allowed=15']

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.4
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml"]

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
        exclude: '^(paper/|ai_transcripts/|src/promptgrimoire/static/milkdown/dist/)'
      - id: check-merge-conflict

fix(annotation): rename annotation-sidebar.js to remove hyphens (#457)
  src/promptgrimoire/pages/annotation/sidebar.py
  src/promptgrimoire/static/annotationsidebar.js
Due: ty-check

test(annotation): unit and integration tests for items serialisation and DOM contract (#457)
  tests/integration/test_vue_sidebar_dom_contract.py
  tests/unit/test_items_serialise.py
Due: ty-check

feat(annotation): add expand/collapse and lazy detail to Vue sidebar (#457)
  src/promptgrimoire/pages/annotation/sidebar.py
  src/promptgrimoire/static/annotationsidebar.js
  tests/integration/test_vue_sidebar_spike.py
Due: ty-check

docs: address critical peer review findings for Phase 3-4 (#457)
  docs/implementation-plans/2026-03-30-vue-annotation-sidebar-457/phase-3-4-peer-review.md
  docs/implementation-plans/2026-03-30-vue-annotation-sidebar-457/phase-3-results.md
  docs/implementation-plans/2026-03-30-vue-annotation-sidebar-457/phase_03.md
  docs/implementation-plans/2026-03-30-vue-annotation-sidebar-457/phase_04.md
Due: docs-index

feat(annotation): wire CRDT mutation events in Vue sidebar (#457)
  src/promptgrimoire/pages/annotation/sidebar.py
  src/promptgrimoire/static/annotationsidebar.js
Due: ty-check

docs: update Phase 3-4 plans with completion status and deviations (#457)
  docs/implementation-plans/2026-03-30-vue-annotation-sidebar-457/phase_03.md
  docs/implementation-plans/2026-03-30-vue-annotation-sidebar-457/phase_04.md
Due: docs-index

docs: record Phase 3 spike go/no-go results (#457)
  docs/implementation-plans/2026-03-30-vue-annotation-sidebar-457/phase-3-results.md
Due: docs-index

fix(test): add pytest-timeout and reset compile semaphore to prevent xdist deadlock
  pyproject.toml
  tests/unit/export/test_compile_latex_corrupt_pdf.py
  tests/unit/export/test_export_instrumentation.py
  tests/unit/test_compile_latex_timeout.py
  uv.lock
Due: ty-check

feat(annotation): remove Python card system, delegate to Vue sidebar (#457)
  src/promptgrimoire/pages/annotation/__init__.py
  src/promptgrimoire/pages/annotation/cards.py
  src/promptgrimoire/pages/annotation/document.py
  src/promptgrimoire/pages/annotation/highlights.py
  src/promptgrimoire/pages/annotation/sidebar.py
  src/promptgrimoire/pages/annotation/tab_bar.py
  src/promptgrimoire/pages/annotation/tab_state.py
  src/promptgrimoire/pages/annotation/workspace.py
  src/promptgrimoire/static/annotation-card-sync.js
  src/promptgrimoire/static/annotationsidebar.js
  tests/integration/test_annotation_cards_charac.py
  tests/integration/test_event_loop_render_lag.py
  tests/integration/test_lazy_card_detail.py
  tests/integration/test_slot_deletion_race_369.py
  tests/integration/test_vue_sidebar_broadcast.py
  tests/integration/test_vue_sidebar_charac.py
  tests/integration/test_vue_sidebar_spike.py
  tests/js/annotation-card-sync.test.js
  tests/js/setup.js
  tests/unit/pages/test_tab_bar_deferred.py
  tests/unit/test_annotation_js_extraction.py
  tests/unit/test_annotation_package_structure.py
  tests/unit/test_card_header_html.py
  tests/unit/test_document_tab_state.py
  tests/unit/test_snapshot_highlight.py
  tests/unit/test_tag_toolbar_gating.py
Due: ty-check

test(annotation): update E2E tests, guides, and allowlists for Vue sidebar (#457)
  src/promptgrimoire/cli/e2e/_lanes.py
  src/promptgrimoire/cli/testing.py
  src/promptgrimoire/docs/scripts/personal_grimoire.py
  src/promptgrimoire/docs/scripts/student_workflow.py
  src/promptgrimoire/docs/scripts/using_promptgrimoire.py
  tests/e2e/card_helpers.py
  tests/e2e/test_annotation_canvas.py
  tests/e2e/test_annotation_drag.py
  tests/e2e/test_card_layout.py
  tests/e2e/test_emoji_export.py
  tests/e2e/test_history_tutorial.py
  tests/e2e/test_law_student.py
  tests/e2e/test_translation_student.py
  tests/e2e/test_vue_sidebar_cross_tab.py
  tests/e2e/test_vue_sidebar_spike_e2e.py
  tests/unit/test_e2e_compliance.py
  tests/unit/test_guide_testid_guard.py
Due: ty-check

fix(e2e): disable admission gate and fix idle tracker in test server
  src/promptgrimoire/cli/e2e/__init__.py
  src/promptgrimoire/cli/e2e/_server_script.py
  tests/e2e/test_idle_tab_eviction.py
  tests/unit/test_env_vars.py
Due: ty-check

fix(annotation): restore Quasar card styling to Vue sidebar (#457)
  src/promptgrimoire/static/annotationsidebar.js
Due: none

chore: upgrade ruff 0.15.7 → 0.15.8
  uv.lock
Due: none

chore: upgrade vulture 2.15 → 2.16
  uv.lock
Due: none

chore: upgrade browserstack-sdk 1.42.0 → 1.43.1
  uv.lock
Due: none

chore: upgrade anthropic 0.86.0 → 0.87.0
  uv.lock
Due: none

chore: upgrade pydantic-ai 1.70.0 → 1.75.0
  uv.lock
Due: none

chore: upgrade junitparser 4.0.2 → 5.0.0
  uv.lock
Due: none

docs: update annotation architecture for Vue sidebar (#457)
  CLAUDE.md
  docs/annotation-architecture.md
  src/promptgrimoire/pages/annotation/__init__.py
Due: ty-check, docs-index

chore: harden npm supply chain security
  .npmrc
  .pre-commit-config.yaml
  package-lock.json
  package.json
  tests/unit/test_print_usage_guard.py
Due: ty-check

chore: upgrade milkdown deps and fix npm audit vulnerabilities
  src/promptgrimoire/static/milkdown/package-lock.json
Due: none

chore: update pre-commit hook versions
  .pre-commit-config.yaml
Due: none

security: fix 13 CVEs in transitive deps (pip-audit clean)
  uv.lock
Due: none

chore: exclude node_modules from vulture scan
  pyproject.toml
Due: none

docs: update dependency-rationale.md for 2026-04-04 audit
  docs/dependency-rationale.md
Due: docs-index

fix(test): move 23 orphaned LaTeX parse tests into collected path
  tests/unit/export/test_latex_parse.py
Due: ty-check

fix(test): make path traversal guard test actually assert
  tests/unit/test_security_patterns.py
Due: ty-check

fix(test): assert claim_next_job returns None when queue empty
  tests/integration/test_export_jobs.py
Due: ty-check

fix(e2e): consolidate Pabai fixture, fix q-select interaction (#457)
  tests/e2e/card_helpers.py
  tests/e2e/test_browser_perf_377.py
  tests/e2e/test_history_tutorial.py
  tests/e2e/test_law_student.py
  tests/e2e/test_memory_probe_434.py
  tests/e2e/test_session_contamination.py
  tests/e2e/test_vue_sidebar_cross_tab.py
Due: ty-check

fix(test): use claim_own_job for xdist-safe empty queue assertion
  tests/integration/test_export_jobs.py
Due: ty-check

fix(e2e): extend timeout for anonymous sharing three-perspective test
  tests/e2e/test_anonymous_sharing.py
Due: ty-check

chore: remove 13 stale type-ignore comments flagged by ty 0.0.24
  src/promptgrimoire/db/workspaces.py
  tests/unit/test_engine_nullpool.py
  tests/unit/test_organise_card_html.py
  tests/unit/test_respond_reference_card_html.py
Due: ty-check

fix(e2e): raise per-test timeout for latexmk serial lane to 120s
  src/promptgrimoire/cli/e2e/__init__.py
  tests/unit/test_cli_e2e_runner.py
Due: ty-check

fix(e2e): make lane summary output consistent and faithful
  src/promptgrimoire/cli/e2e/__init__.py
  tests/unit/test_cli_e2e_runner.py
Due: ty-check

feat(e2e): add `e2e latexmk` subcommand for standalone latexmk lane
  src/promptgrimoire/cli/e2e/__init__.py
Due: ty-check

fix: address critical peer review findings
  CLAUDE.md
  docs/annotation-architecture.md
  src/promptgrimoire/cli/e2e/__init__.py
  src/promptgrimoire/pages/annotation/__init__.py
  src/promptgrimoire/pages/annotation/sidebar.py
  src/promptgrimoire/static/annotationsidebar.js
  tests/e2e/test_browser_perf_377.py
Due: ty-check, docs-index

fix(test): update epoch assertion for Vue-managed epoch (#457)
  tests/integration/test_vue_sidebar_broadcast.py
Due: ty-check

fix: remove dead cards_epoch field and update stale docs
  docs/reviews/2026-04-04-cards-epoch-dead-code-review.md
  docs/reviews/2026-04-04-event-loop-offload-review.md
  docs/testing.md
  src/promptgrimoire/pages/annotation/__init__.py
  src/promptgrimoire/pages/annotation/sidebar.py
  src/promptgrimoire/pages/annotation/tab_bar.py
  src/promptgrimoire/pages/annotation/tab_state.py
  tests/integration/test_vue_sidebar_broadcast.py
  tests/unit/pages/test_tab_bar_deferred.py
  tests/unit/test_document_tab_state.py
Due: ty-check, docs-index

fix(annotation): poll for Milkdown bundle in editor init instead of failing immediately
  src/promptgrimoire/pages/annotation/respond.py
  tests/unit/test_editor_init_bundle_wait.py
Due: ty-check

test(export): add regression test for 57-highlight annot extraction
  tests/unit/fixtures/workspace_legal_will_57hl_scrubbed.json
  tests/unit/test_move_annots_outside_restricted.py
Due: ty-check
