Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

.pre-commit-config.yaml:

repos:
  # Ruff: lint with autofix, then format
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      # Run the linter with autofix
      - id: ruff-check
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # Type checking
  - repo: local
    hooks:
      - id: ty-check
        name: ty type check
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false

  # Docs index regeneration
  - repo: local
    hooks:
      - id: docs-index
        name: regenerate docs/_index.md
        entry: uv run python scripts/generate_docs_index.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.3
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml"]

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
        exclude: '^(paper/|ai_transcripts/|src/promptgrimoire/static/milkdown/dist/)'
      - id: check-merge-conflict

docs: add E2E test commands to implementation-plan-guidance
  .ed3d/implementation-plan-guidance.md
Due: none

docs: add Showboat E2E demo documents design plan
  docs/dependency-rationale.md
  docs/design-plans/2026-02-17-showboat-e2e-demos.md
Due: docs-index

docs: add implementation plans for E2E test migration (#156)
  docs/implementation-plans/2026-02-15-156-e2e-test-migration/phase_01.md
  docs/implementation-plans/2026-02-15-156-e2e-test-migration/phase_02.md
  docs/implementation-plans/2026-02-15-156-e2e-test-migration/phase_03.md
  docs/implementation-plans/2026-02-15-156-e2e-test-migration/phase_04.md
  docs/implementation-plans/2026-02-15-156-e2e-test-migration/phase_05.md
  docs/implementation-plans/2026-02-15-156-e2e-test-migration/phase_06.md
  docs/implementation-plans/2026-02-15-156-e2e-test-migration/phase_07.md
  docs/implementation-plans/2026-02-15-156-e2e-test-migration/phase_08.md
Due: docs-index

wip: save state for machine transfer — Phase 3 review pending
  WIP.md
Due: none

feat(e2e): add test_history_tutorial.py persona test (AC3.4)
  tests/e2e/test_history_tutorial.py
Due: ty-check

feat(e2e): add test_translation_student.py persona test (AC3.3)
  tests/e2e/test_translation_student.py
Due: ty-check

feat: add connection pool instrumentation and pg_stat diagnostics
  src/promptgrimoire/db/engine.py
Due: ty-check

refactor(e2e): delete 12 obsolete test files replaced by persona tests
  tests/benchmark/test_dom_performance.py
  tests/e2e/test_annotation_basics.py
  tests/e2e/test_annotation_blns.py
  tests/e2e/test_annotation_cards.py
  tests/e2e/test_annotation_cjk.py
  tests/e2e/test_annotation_collab.py
  tests/e2e/test_annotation_highlights.py
  tests/e2e/test_annotation_sync.py
  tests/e2e/test_annotation_workflows.py
  tests/e2e/test_i18n_pdf_export.py
  tests/e2e/test_pdf_export.py
  tests/e2e/test_subtests_validation.py
Due: ty-check

feat(cli): add test-e2e-debug command for last-failed E2E re-runs
  pyproject.toml
  src/promptgrimoire/cli.py
Due: ty-check

feat(e2e): add course_helpers.py with course/activity setup functions
  tests/e2e/course_helpers.py
Due: ty-check

fix: evict CRDT documents from memory when last client disconnects
  src/promptgrimoire/crdt/persistence.py
  src/promptgrimoire/pages/annotation/broadcast.py
Due: ty-check

fix(e2e): use aria-checked for Quasar toggle state detection
  tests/e2e/course_helpers.py
  tests/e2e/test_instructor_workflow.py
Due: ty-check

fix(e2e): add email parameter to _authenticate_page for role-specific auth
  tests/e2e/conftest.py
Due: ty-check

fix(e2e): address Phase 4 review — extract wait helper, specific exceptions, stronger assertions
  tests/e2e/annotation_helpers.py
  tests/e2e/test_law_student.py
Due: ty-check

fix(e2e): remove /courses page navigation from instructor auth subtest
  tests/e2e/test_instructor_workflow.py
Due: ty-check

docs: update e2e-test-audit.md with migration completion status
  docs/_index.md
  docs/implementation-plans/2026-02-04-html-input-pipeline-106/e2e-test-audit.md
Due: docs-index

fix(e2e): resolve Playwright strict mode violations in instructor workflow tests
  tests/e2e/course_helpers.py
  tests/e2e/test_instructor_workflow.py
Due: ty-check

feat(e2e): add test_law_student.py persona test (AC3.2)
  tests/e2e/test_law_student.py
Due: ty-check

chore(e2e): add debug logging to annotation workspace rendering
  src/promptgrimoire/pages/annotation/__init__.py
  src/promptgrimoire/pages/annotation/workspace.py
Due: ty-check

docs: add Showboat E2E implementation plans for #174
  docs/design-plans/2026-02-17-showboat-e2e-demos.md
  docs/implementation-plans/2026-02-17-showboat-e2e-demos/phase_01.md
  docs/implementation-plans/2026-02-17-showboat-e2e-demos/phase_02.md
  docs/implementation-plans/2026-02-17-showboat-e2e-demos/phase_03.md
Due: docs-index

feat(e2e): add test_naughty_student.py with dead-end navigation tests
  tests/e2e/test_naughty_student.py
Due: ty-check

refactor(e2e): extract repeated patterns in test_translation_student.py
  tests/e2e/test_translation_student.py
Due: ty-check

feat(e2e): add copy protection bypass tests to test_naughty_student
  tests/e2e/test_naughty_student.py
Due: ty-check

fix(e2e): replace page.evaluate() with native Playwright API in test_annotation_tabs
  tests/e2e/test_annotation_tabs.py
Due: ty-check

fix(e2e): replace heading role locator with button wait in instructor test
  tests/e2e/test_instructor_workflow.py
Due: ty-check

fix(e2e): normalise LaTeX soft-hyphens in PDF text before UUID search
  tests/e2e/test_law_student.py
  tests/e2e/test_translation_student.py
Due: ty-check

feat: add ACL enforcement to workspace access and multi-context fixtures
  src/promptgrimoire/pages/annotation/workspace.py
  tests/e2e/annotation_helpers.py
  tests/e2e/conftest.py
  tests/e2e/test_remote_presence_e2e.py
Due: ty-check

fix(e2e): replace data-char-index waits with _textNodes readiness in conftest fixtures
  tests/e2e/conftest.py
Due: ty-check

fix(e2e): read aria-checked from root .q-toggle element
  tests/e2e/course_helpers.py
  tests/e2e/test_instructor_workflow.py
Due: ty-check

feat(e2e): add watchdog, cleanup endpoint, and NiceGUI task leak workarounds
  src/promptgrimoire/cli.py
  tests/e2e/conftest.py
Due: ty-check

feat(e2e): add BLNS/XSS content injection tests to test_naughty_student
  tests/e2e/test_naughty_student.py
Due: ty-check

wip: Phase 4 review complete, ready for Phase 5
  WIP.md
Due: none

feat(cli): add --parallel flag to test-e2e, default to serial fail-fast
  src/promptgrimoire/cli.py
Due: ty-check

fix(e2e): replace data-char-index wait in test_fixture_screenshots with _textNodes readiness
  tests/e2e/test_fixture_screenshots.py
Due: ty-check

feat(e2e): add per-test server diagnostics and logging
  src/promptgrimoire/cli.py
  tests/conftest.py
  tests/e2e/conftest.py
Due: ty-check

wip: update status — Phase 3 approved, ready for Phase 4
  WIP.md
Due: none

docs: update CLAUDE.md for test-e2e serial default
  CLAUDE.md
Due: none

fix: move cleanup from on_disconnect to on_delete and guard init_db re-entrance
  src/promptgrimoire/db/engine.py
  src/promptgrimoire/pages/annotation/broadcast.py
Due: ty-check

fix(e2e): replace data-char-index locators in test_html_paste_whitespace with text walker checks
  tests/e2e/test_html_paste_whitespace.py
Due: ty-check

docs: extract subsystem documentation into dedicated docs files
  docs/_index.md
Due: docs-index
