Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

ty-check:
  name: ty type check
  entry: uvx ty check
  language: system
  pass_filenames: false

docs-index:
  name: regenerate docs/_index.md
  entry: uv run python scripts/generate_docs_index.py
  language: system
  pass_filenames: false

docs: add generated personal grimoire guide
  docs/guides/your-personal-grimoire.md
Due: docs-index

docs: add personal grimoire guide implementation plan
  docs/implementation-plans/2026-03-01-personal-grimoire-guide-208/phase_01.md
  docs/implementation-plans/2026-03-01-personal-grimoire-guide-208/phase_02.md
  docs/implementation-plans/2026-03-01-personal-grimoire-guide-208/test-requirements.md
Due: docs-index

fix: move PROMPTGRIMOIRE_RELOAD to settings.app.reload
  src/promptgrimoire/__init__.py
  src/promptgrimoire/config.py
Due: ty-check

docs: add APP__RELOAD to .env.example
  .env.example
Due: none

chore: add complexipy and vulture for complexity and dead code analysis
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: none

docs: add mechanical refactoring heuristics to implementation guidance
  .ed3d/implementation-plan-guidance.md
Due: none

chore: add .complexipy_cache/ to .gitignore
  .gitignore
Due: none

docs: add LLM Playground issue hierarchy design plan
  docs/_index.md
  docs/design-plans/2026-03-02-playground-issues-151.md
Due: docs-index

docs: add courses page refactoring design plan
  docs/design-plans/2026-03-02-courses-refactor-212.md
Due: docs-index

docs: add word count with configurable limits design plan
  docs/dependency-rationale.md
  docs/design-plans/2026-03-02-word-count-limits-47.md
Due: docs-index

docs: add empty template tag management design plan
  docs/design-plans/2026-03-02-tags-214.md
Due: docs-index

docs: add empty template tag management design plan
  docs/_index.md
  docs/design-plans/2026-03-02-tags-214.md
Due: docs-index

test: add integration tests for empty template tag management
  tests/integration/test_empty_template_tags.py
Due: ty-check

feat: add tag toolbar to empty template workspace
  src/promptgrimoire/pages/annotation/workspace.py
Due: ty-check

docs: update project context for tags-214
  tests/test-pseudocode.md
Due: none

fix: stop tracking generated personal grimoire guide
  .gitignore
  docs/guides/your-personal-grimoire.md
Due: docs-index

feat: add default_word_limit_enforcement to course defaults
  src/promptgrimoire/pages/courses.py
Due: ty-check

feat: add word count number inputs to activity settings dialog
  src/promptgrimoire/pages/courses.py
Due: ty-check

docs: add MeCab system dependency to deployment guide
  docs/deployment.md
Due: docs-index

feat: add segment_by_script() with per-codepoint script detection
  src/promptgrimoire/word_count.py
  tests/unit/test_word_count.py
Due: ty-check

test: add segment_by_script edge cases
  tests/unit/test_word_count.py
Due: ty-check

deps: add uniseg, jieba, mecab-python3, unidic-lite for word counting
  pyproject.toml
  uv.lock
Due: none

feat: add word count fields migration
  alembic/versions/b0f92eaf26aa_add_word_count_fields.py
Due: ty-check

feat: add word count validation and update_activity() support
  src/promptgrimoire/db/activities.py
  tests/integration/test_word_count_placement.py
  tests/unit/test_word_count_models.py
Due: ty-check

feat: add data-testid attributes to word count UI controls
  src/promptgrimoire/pages/courses.py
Due: ty-check

feat: add word_limit_enforcement to activity tri-state fields
  src/promptgrimoire/pages/courses.py
  tests/unit/test_word_count_models.py
Due: ty-check

test: add normalise_text edge case coverage
  tests/unit/test_word_count.py
Due: ty-check

feat: add word count fields to Activity and Course models
  src/promptgrimoire/db/models.py
  tests/unit/test_word_count_models.py
Due: ty-check

refactor: simplify word_count pipeline and test consistency
  src/promptgrimoire/word_count.py
  tests/unit/test_word_count.py
Due: ty-check

refactor: simplify Phase 2 word count code
  src/promptgrimoire/db/workspaces.py
  tests/unit/test_word_count_models.py
Due: ty-check

feat: add shared ui_helpers module for option testid utilities
  src/promptgrimoire/pages/ui_helpers.py
Due: ty-check

feat: add word count fields to PlacementContext with tri-state resolution
  src/promptgrimoire/db/workspaces.py
  tests/integration/test_word_count_placement.py
Due: ty-check

fix: use shared add_option_testids and add anon_select testid
  src/promptgrimoire/pages/courses.py
Due: ty-check

feat: add normalise_text() with tests
  pyproject.toml
  src/promptgrimoire/word_count.py
  tests/unit/test_word_count.py
Due: ty-check

fix: address Phase 1 code review issues
  pyproject.toml
  src/promptgrimoire/word_count.py
  tests/unit/test_word_count.py
Due: ty-check

feat: add word_count() with multilingual tokenisation
  src/promptgrimoire/word_count.py
  tests/unit/test_word_count.py
Due: ty-check

feat: add word count fields to PageState
  src/promptgrimoire/pages/annotation/__init__.py
  tests/unit/test_page_state_word_count.py
Due: ty-check

feat: populate PageState word fields from PlacementContext
  src/promptgrimoire/pages/annotation/workspace.py
  tests/integration/test_pagestate_word_count.py
Due: ty-check

Path conditions:
  ty-check: any of: \.py$
  docs-index: any of: ^docs/.*\.md$
