Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

.pre-commit-config.yaml:

repos:
  # Ruff: lint with autofix, then format
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.4
    hooks:
      # Run the linter with autofix
      - id: ruff-check
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # Type checking
  - repo: local
    hooks:
      - id: ty-check
        name: ty type check
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false

  # Docs index regeneration
  - repo: local
    hooks:
      - id: docs-index
        name: regenerate docs/_index.md
        entry: uv run python scripts/generate_docs_index.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

  # Cognitive complexity gate â€” blocks commits with functions > 15
  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v4.2.0
    hooks:
      - id: complexipy
        args: ['--max-complexity-allowed=15']

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.4
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml"]

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
        exclude: '^(paper/|ai_transcripts/|src/promptgrimoire/static/milkdown/dist/)'
      - id: check-merge-conflict

fix: exclude perf tests from standard Playwright E2E lane
  src/promptgrimoire/cli/e2e/_lanes.py
Due: ty-check

fix: pass lane marker_expr to per-file workers + unique download tokens
  src/promptgrimoire/cli/e2e/_parallel.py
  src/promptgrimoire/cli/e2e/_workers.py
Due: ty-check

fix: collect-telemetry.sh PG log glob and add PgBouncer support (#415)
  .claude/skills/run-incident-investigation/SKILL.md
  deploy/collect-telemetry.sh
  scripts/incident/ingest.py
  scripts/incident/parsers/pgbouncer.py
  scripts/incident/provenance.py
  scripts/incident/schema.py
Due: ty-check

fix: use output/incident/ instead of /tmp for incident DB and artifacts
  .claude/skills/run-incident-investigation/SKILL.md
  tests/unit/test_cli_parallel.py
Due: ty-check

feat: expand incident analysis tooling with epoch analysis and dataset workflow (#415)
  deploy/collect-telemetry.sh
  docs/_index.md
  docs/postmortems/incident-analysis-playbook.md
  scripts/incident/AGENTS.md
  scripts/incident/analysis.py
  scripts/incident/ingest.py
  scripts/incident_db.py
  tests/unit/incident/conftest.py
Due: ty-check, docs-index

fix: strip C0/C1 control chars from Pandoc output before LaTeX compilation
  src/promptgrimoire/export/pandoc.py
  tests/unit/export/test_control_char_strip.py
Due: ty-check

fix: remove setLevel(INFO) suppression and convert JS awaits to fire-and-forget (#377)
  src/promptgrimoire/pages/annotation/__init__.py
  src/promptgrimoire/pages/annotation/cards.py
  src/promptgrimoire/pages/annotation/document.py
  src/promptgrimoire/pages/annotation/highlights.py
  src/promptgrimoire/pages/annotation/workspace.py
  src/promptgrimoire/static/annotation-card-sync.js
  src/promptgrimoire/static/annotation-highlight.js
  tests/unit/test_add_highlight_timeout.py
  tests/unit/test_e2e_compliance.py
Due: ty-check

feat: add E2E performance test infrastructure and workspace profiling (#377)
  pyproject.toml
  scripts/baseline_377.json
  scripts/baseline_377_with_interactions.json
  scripts/profile_workspace.py
  scripts/rehydrate_workspace.py
  src/promptgrimoire/cli/e2e/__init__.py
  tests/e2e/fixtures/pabai_workspace.json
  tests/e2e/test_browser_perf_377.py
Due: ty-check

docs: add #377 workspace performance postmortem and WIP handoff notes
  CLAUDE.md
  docs/postmortems/2026-03-22-workspace-performance-377.md
  docs/postmortems/2026-03-24-377-wip-handoff.md
  docs/postmortems/2026-03-24-clobber-scan-prompt.md
Due: docs-index

feat(export): add \paranumber LaTeX command and Lua filter (#417)
  src/promptgrimoire/export/filters/highlight.lua
  src/promptgrimoire/export/promptgrimoire-export.sty
Due: none

test(export): add integration tests for paranumber LaTeX rendering (#417)
  tests/unit/export/test_paranumber_latex.py
Due: ty-check

feat(export): add visible link affordance icon to endnote cross-references (#417)
  src/promptgrimoire/export/promptgrimoire-export.sty
  tests/unit/export/test_endnote_crossref.py
Due: ty-check

test(export): add Pandoc round-trip smoke test for paranumber markers (#417)
  tests/unit/export/test_paragraph_markers.py
Due: ty-check

fix(export): compute para_ref at export time from word_to_legal_para (#417)
  src/promptgrimoire/export/highlight_spans.py
  tests/unit/export/test_paragraph_numbering_edge_cases.py
Due: ty-check

docs: add PDF paragraph numbering design plan (#417)
  docs/design-plans/2026-03-24-pdf-para-numbering-417.md
Due: docs-index

fix: move compile_latex import to module level in test_paranumber_latex
  tests/unit/export/test_paranumber_latex.py
Due: ty-check

test(export): add edge case and verification tests for paragraph numbering (#417)
  tests/unit/export/test_paragraph_numbering_edge_cases.py
Due: ty-check

feat(export): add bidirectional endnote cross-references (#417)
  src/promptgrimoire/export/promptgrimoire-export.sty
  tests/unit/export/test_endnote_crossref.py
Due: ty-check

fix: address code review feedback on paragraph marker tests
  tests/unit/export/test_paragraph_markers.py
Due: ty-check

feat(export): inject paragraph number markers into export HTML (#417)
  src/promptgrimoire/export/pandoc.py
  src/promptgrimoire/input_pipeline/paragraph_map.py
  tests/unit/export/test_paragraph_markers.py
Due: ty-check

test(export): add failing unit tests for paragraph marker injection (#417)
  src/promptgrimoire/input_pipeline/paragraph_map.py
  tests/unit/export/test_paragraph_markers.py
Due: ty-check

docs: add paragraph numbering and endnote cross-reference guide entry (#417)
  docs/implementation-plans/2026-03-24-pdf-para-numbering-417/phase_01.md
  docs/implementation-plans/2026-03-24-pdf-para-numbering-417/phase_02.md
  docs/implementation-plans/2026-03-24-pdf-para-numbering-417/phase_03.md
  docs/implementation-plans/2026-03-24-pdf-para-numbering-417/phase_04.md
  docs/implementation-plans/2026-03-24-pdf-para-numbering-417/phase_05.md
  docs/implementation-plans/2026-03-24-pdf-para-numbering-417/test-requirements.md
  src/promptgrimoire/docs/scripts/using_promptgrimoire.py
Due: ty-check, docs-index

fix(export): remove false link affordance from margin stub (#417)
  src/promptgrimoire/export/promptgrimoire-export.sty
  tests/unit/export/test_endnote_crossref.py
Due: ty-check

fix(test): correct para_ref test for mid-paragraph highlights (#417)
  tests/unit/export/test_highlight_spans.py
Due: ty-check

refactor: simplify paragraph marker code and tests (#417)
  src/promptgrimoire/input_pipeline/paragraph_map.py
  tests/unit/export/test_paragraph_markers.py
  tests/unit/export/test_paranumber_latex.py
Due: ty-check

docs: add 2026-03-25 incident postmortem — PgBouncer SIGABRT and LaTeX failures
  docs/_index.md
  docs/postmortems/2026-03-25-pgbouncer-crash-and-export-failures.md
Due: docs-index

fix: deploy reliability — drop --no-dev sync and defer sudo in telemetry
  deploy/collect-telemetry.sh
  deploy/restart.sh
Due: none

docs: update project context for feat/pdf-para-numbering-417
  AGENTS.md
  CLAUDE.md
  tests/test-pseudocode.md
Due: none

docs: add multi-document tabbed workspace design plan (#186)
  docs/_index.md
Due: docs-index

test: add unit tests for card data functions (characterisation)
  tests/unit/test_card_functions.py
Due: ty-check

fix: remove invalid anonymous_sharing call on Workspace in characterisation test
  tests/integration/test_respond_charac.py
Due: ty-check

docs: document Phase 1 characterisation test coverage
  docs/implementation-plans/2026-03-14-multi-doc-tabs-186-plan-a/phase_01_coverage.md
Due: docs-index

fix: address Phase 1 code review feedback
  docs/implementation-plans/2026-03-14-multi-doc-tabs-186-plan-a/phase_01_coverage.md
  tests/integration/nicegui_helpers.py
  tests/integration/test_annotation_cards_charac.py
  tests/integration/test_organise_charac.py
  tests/integration/test_respond_charac.py
Due: ty-check, docs-index

fix: address Codex audit round 2 findings
  docs/implementation-plans/2026-03-14-multi-doc-tabs-186-plan-a/phase_01_coverage.md
  tests/integration/test_annotation_cards_charac.py
  tests/integration/test_organise_charac.py
Due: ty-check, docs-index

refactor: deduplicate inner loop in E2E anti-pattern guard
  tests/unit/test_e2e_anti_patterns.py
Due: ty-check

WIP: fixing Codex audit issues
  tests/integration/test_organise_charac.py
  tests/integration/test_respond_charac.py
Due: ty-check

fix: address Codex test audit findings for Phase 1
  docs/implementation-plans/2026-03-14-multi-doc-tabs-186-plan-a/phase_01_coverage.md
  tests/integration/test_annotation_cards_charac.py
  tests/integration/test_annotation_pdf_export_filename_ui.py
  tests/integration/test_bulk_enrol_upload_ui.py
  tests/integration/test_tag_management_crdt_sync.py
  tests/unit/test_e2e_anti_patterns.py
Due: ty-check, docs-index

test: characterise get_highlights_for_document filtering and ordering
  tests/unit/test_annotation_doc.py
Due: ty-check

test: add NiceGUI characterisation tests for card rendering (Tasks 3-5)
  tests/integration/test_annotation_cards_charac.py
  tests/integration/test_organise_charac.py
  tests/integration/test_respond_charac.py
Due: ty-check

test: extend E2E card flow tests for cross-tab characterisation
  tests/e2e/test_organise_respond_flow.py
Due: ty-check
