Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

.pre-commit-config.yaml:

repos:
  # Ruff: lint with autofix, then format
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.4
    hooks:
      # Run the linter with autofix
      - id: ruff-check
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # Type checking
  - repo: local
    hooks:
      - id: ty-check
        name: ty type check
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false

  # Docs index regeneration
  - repo: local
    hooks:
      - id: docs-index
        name: regenerate docs/_index.md
        entry: uv run python scripts/generate_docs_index.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

  # Cognitive complexity gate â€” blocks commits with functions > 15
  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v4.2.0
    hooks:
      - id: complexipy
        args: ['--max-complexity-allowed=15']

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.4
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml"]

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
        exclude: '^(paper/|ai_transcripts/|src/promptgrimoire/static/milkdown/dist/)'
      - id: check-merge-conflict

docs: add BrowserStack E2E commands to CLAUDE.md
  CLAUDE.md
Due: none

feat: add BrowserStack YAML configs for supported/unsupported/safari/firefox profiles
  browserstack/firefox.yml
  browserstack/safari.yml
  browserstack/supported.yml
  browserstack/unsupported.yml
Due: none

fix: use Popen with process group for BrowserStack signal handling
  src/promptgrimoire/cli/e2e/_browserstack.py
  tests/unit/test_browserstack_cli.py
Due: ty-check

ci: convert e2e-playwright to browser matrix and add BrowserStack PR gate
  .github/workflows/ci.yml
Due: none

fix: load BrowserStack credentials through pydantic-settings
  .env.example
  src/promptgrimoire/cli/e2e/__init__.py
  src/promptgrimoire/cli/e2e/_browserstack.py
  src/promptgrimoire/config.py
  tests/unit/test_browserstack_cli.py
Due: ty-check

deps: add browserstack-sdk for real-browser E2E testing
  pyproject.toml
  uv.lock
Due: none

ci: document why browserstack job has no artifact upload
  .github/workflows/ci.yml
Due: none

feat: add e2e browserstack CLI subcommand with profile selection
  src/promptgrimoire/cli/e2e/__init__.py
  src/promptgrimoire/cli/e2e/_browserstack.py
  tests/unit/test_browserstack_cli.py
Due: ty-check

chore: upgrade sqlalchemy 2.0.46 → 2.0.48 (via sqlmodel)
  uv.lock
Due: none

chore: upgrade selectolax 0.4.6 → 0.4.7
  uv.lock
Due: none

docs: add bulk student enrolment design plan (#320)
  docs/_index.md
  docs/dependency-rationale.md
  docs/design-plans/2026-03-12-bulk-enrol-320.md
  docs/openpyxl/read-only-mode.md
Due: docs-index

chore: upgrade pycrdt 0.12.46 → 0.12.48
  uv.lock
Due: none

chore: upgrade vulture 2.14 → 2.15
  uv.lock
Due: none

chore: upgrade mkdocs-material 9.7.3 → 9.7.5
  uv.lock
Due: none

chore: register StudentGroup models in Alembic env
  alembic/env.py
Due: ty-check

fix: add FK indexes to StudentGroup model __table_args__
  src/promptgrimoire/db/models.py
Due: ty-check

test: update schema tests for StudentGroup tables
  tests/unit/test_db_schema.py
Due: ty-check

feat: add StudentGroup and StudentGroupMembership models
  src/promptgrimoire/db/models.py
Due: ty-check

feat: add student_id field to User model
  src/promptgrimoire/db/models.py
Due: ty-check

feat: add student enrolment schema migration
  alembic/versions/f8df8cfbeeb6_add_student_enrolment_schema.py
Due: ty-check

test: assert enrolled role value in AC3.3 test
  tests/integration/test_bulk_enrolment.py
Due: ty-check

test: add atomicity verification for bulk_enrol transaction
  tests/integration/test_bulk_enrolment.py
Due: ty-check

feat: add enroll-bulk CLI command for Moodle XLSX imports
  src/promptgrimoire/cli/admin.py
  tests/unit/test_manage_users.py
Due: ty-check

feat: add bulk_enrol() DB orchestration for student enrolment
  src/promptgrimoire/db/__init__.py
  src/promptgrimoire/db/enrolment.py
  tests/integration/test_bulk_enrolment.py
Due: ty-check

refactor: extract session-aware _enroll_user_with_session from enroll_user
  src/promptgrimoire/db/courses.py
Due: ty-check

refactor: extract email validation to shared validation module
  src/promptgrimoire/validation.py
  src/promptgrimoire/wargame/roster.py
Due: ty-check

test: add XLSX fixture helper for enrolment parser tests
  tests/conftest.py
Due: ty-check

feat: add XLSX parser for Moodle enrolment exports
  src/promptgrimoire/enrol/__init__.py
  src/promptgrimoire/enrol/xlsx_parser.py
  tests/unit/test_xlsx_parser.py
Due: ty-check

test: strengthen course-not-found assertion in AC6.2 test
  tests/unit/test_manage_users.py
Due: ty-check

feat: add bulk enrolment upload widget to unit settings dialog
  .pre-commit-config.yaml
  src/promptgrimoire/pages/courses.py
  tests/unit/test_enrol_upload_handler.py
Due: ty-check

deps: add openpyxl and type stubs for XLSX parsing
  pyproject.toml
  uv.lock
Due: none

fix: address code review — locator convention and type comment
  src/promptgrimoire/pages/courses.py
  tests/e2e/test_bulk_enrol_upload.py
Due: ty-check

test: add E2E tests for bulk enrolment upload widget
  tests/e2e/test_bulk_enrol_upload.py
Due: ty-check

refactor: move bulk enrol widget from settings to manage enrollments
  alembic/versions/9eebaa40c9fd_merge_turn_cycle_and_student_enrolment.py
  src/promptgrimoire/pages/courses.py
  tests/e2e/test_bulk_enrol_upload.py
Due: ty-check

fix: show info notification when all students already enrolled
  src/promptgrimoire/pages/courses.py
  tests/unit/test_enrol_upload_handler.py
Due: ty-check

fix: upload handler robustness and NiceGUI User tests
  src/promptgrimoire/cli/e2e/_lanes.py
  src/promptgrimoire/pages/courses.py
  tests/integration/test_bulk_enrol_upload_ui.py
Due: ty-check

fix: correct luaotfload font mode for Noto Color Emoji
  docs/testing.md
  src/promptgrimoire/export/unicode_latex.py
Due: ty-check, docs-index

test: add emoji compile regression test for luaotfload crash
  tests/integration/test_pdf_export.py
Due: ty-check

feat: add data-testid attributes and reduce function complexity
  src/promptgrimoire/pages/annotation/__init__.py
  src/promptgrimoire/pages/annotation/document.py
  src/promptgrimoire/pages/annotation/header.py
  src/promptgrimoire/pages/annotation/tag_quick_create.py
  src/promptgrimoire/pages/annotation/workspace.py
  src/promptgrimoire/pages/auth.py
  src/promptgrimoire/pages/courses.py
  src/promptgrimoire/pages/navigator/_page.py
  src/promptgrimoire/pages/navigator/_sections.py
Due: ty-check

fix: replace E2E anti-patterns with robust locators and waits
  tests/e2e/card_helpers.py
  tests/e2e/course_helpers.py
  tests/e2e/export_tools.py
  tests/e2e/fixture_loaders.py
  tests/e2e/page_interactions.py
  tests/e2e/test_anonymous_sharing.py
  tests/e2e/test_auth_pages.py
  tests/e2e/test_bulk_enrol_upload.py
  tests/e2e/test_edit_mode.py
  tests/e2e/test_emoji_export.py
  tests/e2e/test_empty_tag_ux.py
  tests/e2e/test_happy_path_workflow.py
  tests/e2e/test_history_tutorial.py
  tests/e2e/test_html_paste_whitespace.py
  tests/e2e/test_law_student.py
  tests/e2e/test_naughty_student.py
  tests/e2e/test_navigator.py
  tests/e2e/test_para_screenshot.py
  tests/e2e/test_tag_import.py
  tests/e2e/test_tag_sync.py
  tests/e2e/test_text_selection.py
  tests/e2e/test_translation_student.py
Due: ty-check
