Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

ty-check:
  name: ty type check
  entry: uvx ty check
  language: system
  pass_filenames: false

docs-index:
  name: regenerate docs/_index.md
  entry: uv run python scripts/generate_docs_index.py
  language: system
  pass_filenames: false

fix: stop hiding cards when highlights scroll off-screen (#236)
  src/promptgrimoire/static/annotation-card-sync.js
  tests/e2e/test_card_layout.py
Due: ty-check

docs: update project context for card-layout-236
  docs/annotation-architecture.md
Due: docs-index

docs: add wargame team management design plan (#295)
  docs/_index.md
  docs/design-plans/2026-03-07-wargame-team-mgmt-295.md
Due: docs-index

test: strictly test db boundary in CRUD ui
  tests/integration/test_crud_management_ui.py
Due: ty-check

test: replace JS injection with native insert_text for compliance
  tests/e2e/test_word_count.py
Due: ty-check

test: expand annotation card before checking tag dropdown
  tests/e2e/test_annotation_drag.py
Due: ty-check

test: rigorously test navigator boundaries and remove arbitrary sleeps
  tests/e2e/test_navigator.py
Due: ty-check

test: replace arbitrary sleeps with wait_for in CRUD UI tests
  tests/integration/test_crud_management_ui.py
Due: ty-check

test: rigorously test word count boundaries instead of blind waits
  AGENTS.md
  tests/e2e/test_word_count.py
Due: ty-check

test: rigorously test drag and drop boundaries
  tests/e2e/test_annotation_drag.py
Due: ty-check

docs: update test audit tracking
  WIP.md
Due: none

docs: update WIP.md to mark systematic test audit as complete
  WIP.md
Due: none

test: rigorously test database boundaries instead of UI redirects
  tests/integration/test_instructor_course_admin_ui.py
Due: ty-check

docs: update WIP.md with test audit tracking
  WIP.md
Due: none

test: replace arbitrary sleeps with wait_for in instructor ui tests
  tests/integration/nicegui_helpers.py
  tests/integration/test_instructor_course_admin_ui.py
Due: ty-check

test: remove deprecated test_instructor_workflow.py
  WIP.md
  tests/e2e/test_instructor_workflow.py
Due: ty-check

test: replace arbitrary timeouts in HTML paste tests
  tests/e2e/test_html_paste_whitespace.py
Due: ty-check

test: replace arbitrary sleeps with wait_for in template UI tests
  tests/integration/nicegui_helpers.py
  tests/integration/test_instructor_template_ui.py
Due: ty-check

test: replace arbitrary timeouts in highlight rendering E2E tests
  tests/e2e/test_highlight_rendering.py
Due: ty-check

test: replace arbitrary timeouts in para screenshot E2E tests
  tests/e2e/test_para_screenshot.py
Due: ty-check

chore: remove stale WIP.md from prior session cleanup
  WIP.md
Due: none

adding wargame prd to repo
  docs/prds/2026-03-04-operation-solano-dawn-wargame-prd.md
Due: docs-index

adding the two design plans to repo
  docs/design-plans/2026-03-04-roleplay-privileged-access-258.md
  docs/design-plans/2026-03-08-pdf-export-filename-271.md
Due: docs-index

test fixture for 232
  tests/fixtures/conversations/chatcraft_sonnet-232.html.gz
Due: none

fix: preserve chatcraft ingest turns and structure
  src/promptgrimoire/export/platforms/chatcraft.py
  src/promptgrimoire/pages/annotation/content_form.py
  tests/e2e/test_chatcraft_ingest_232.py
  tests/unit/export/platforms/test_chatcraft.py
  tests/unit/export/platforms/test_chatcraft_fixture.py
  tests/unit/input_pipeline/test_process_input.py
Due: ty-check

test: reuse shared ChatCraft paste helper for policy compliance
  tests/e2e/test_chatcraft_ingest_232.py
Due: ty-check

add workspace extraction script for production debugging
  docs/_index.md
  scripts/extract_workspace.sh
  src/promptgrimoire/cli/docs.py
  tests/unit/test_make_docs.py
Due: ty-check, docs-index

fix extract script sudo when already running as target user
  scripts/extract_workspace.sh
Due: none

replace bash workspace extractor with Python version
  scripts/extract_workspace.py
  scripts/extract_workspace.sh
Due: ty-check

guard against raw `uv run pytest` — require test harness
  src/promptgrimoire/cli/e2e/_workers.py
  src/promptgrimoire/cli/testing.py
  tests/conftest.py
Due: ty-check

add rehydrate script and extract tags with workspaces
  scripts/extract_workspace.py
  scripts/rehydrate_workspace.py
Due: ty-check

add `grimoire test run` for targeted test execution
  CLAUDE.md
  src/promptgrimoire/cli/testing.py
  tests/conftest.py
Due: ty-check

fix: export empty conversation turns from ChatCraft-ingested HTML
  src/promptgrimoire/export/filters/libreoffice.lua
  src/promptgrimoire/export/platforms/__init__.py
  src/promptgrimoire/export/platforms/base.py
Due: ty-check

feat: route long annotations to endnotes, rename General Notes to Response
  scripts/setup_latex.py
  src/promptgrimoire/export/pdf_export.py
  src/promptgrimoire/export/promptgrimoire-export.sty
  tests/integration/test_pdf_export.py
  tests/integration/test_workspace_fixture_export.py
  tests/unit/export/test_markdown_to_latex.py
Due: ty-check

fix test_changed assertion for merge-base title
  tests/unit/test_cli_testing.py
Due: ty-check

fix: remove unused endnotes package that invalidated CI TinyTeX cache
  scripts/setup_latex.py
Due: ty-check

refactor: deduplicate E2E comment posting via add_comment_to_highlight
  tests/e2e/annotation_helpers.py
  tests/e2e/test_history_tutorial.py
  tests/e2e/test_law_student.py
  tests/e2e/test_translation_student.py
Due: ty-check

fix: use merge-base for depper comparison in test changed
  src/promptgrimoire/cli/testing.py
Due: ty-check

docs: update settings, guidance, and #271 design plan
  .claude/settings.json
  .ed3d/implementation-plan-guidance.md
  docs/design-plans/2026-03-08-pdf-export-filename-271.md
Due: docs-index

Path conditions:
  ty-check: any of: \.py$
  docs-index: any of: ^docs/.*\.md$
