Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

ty-check:
  name: ty type check
  entry: uvx ty check
  language: system
  pass_filenames: false

docs-index:
  name: regenerate docs/_index.md
  entry: uv run python scripts/generate_docs_index.py
  language: system
  pass_filenames: false

fix: pin Save/Cancel below editor with flex layout and content-style (#109)
  src/promptgrimoire/pages/annotation/document_management.py
Due: ty-check

fix: address Phase 3 code review feedback (#109)
  .pre-commit-config.yaml
  src/promptgrimoire/pages/annotation/document.py
  src/promptgrimoire/pages/annotation/workspace.py
  tests/e2e/test_document_upload.py
  tests/unit/test_e2e_compliance.py
Due: ty-check

feat: add DOCX and PDF converter functions (#109)
  src/promptgrimoire/input_pipeline/converters.py
  tests/unit/input_pipeline/test_converters.py
Due: ty-check

refactor: split html_input.py into smaller modules (#109)
  src/promptgrimoire/input_pipeline/html_input.py
  src/promptgrimoire/input_pipeline/marker_insertion.py
  src/promptgrimoire/input_pipeline/paragraph_map.py
  src/promptgrimoire/input_pipeline/sanitisation.py
  src/promptgrimoire/input_pipeline/text_extraction.py
Due: ty-check

test: add PDF paste end-to-end test for #238
  tests/unit/input_pipeline/test_process_input.py
Due: ty-check

docs: note paste_script.py line-count exception (#109)
  src/promptgrimoire/pages/annotation/paste_script.py
Due: ty-check

feat: add metadata FTS leg to navigator search (#316)
  src/promptgrimoire/db/navigator.py
Due: ty-check

feat: add update_document_content() for edit mode (#109)
  src/promptgrimoire/db/workspace_documents.py
  tests/integration/test_workspace_documents.py
Due: ty-check

fix: hide content form after first document add when multi-document disabled (#109)
  src/promptgrimoire/pages/annotation/workspace.py
Due: ty-check

docs: add Phase 1 implementation plan for file upload (#109)
  docs/implementation-plans/2026-03-10-file-upload-109/phase_01.md
Due: docs-index

fix: expect content form hidden after add when multi-doc disabled (#109)
  tests/e2e/test_document_upload.py
Due: ty-check

refactor: break circular import in input_pipeline
  pyproject.toml
  src/promptgrimoire/input_pipeline/html_input.py
Due: ty-check

fix: address code review feedback on Phase 1 converters
  src/promptgrimoire/input_pipeline/converters.py
  tests/unit/input_pipeline/test_converters.py
Due: ty-check

fix: scroll-safe editor dialog and paragraph_map E2E test (#109)
  src/promptgrimoire/pages/annotation/document_management.py
  tests/e2e/test_edit_mode.py
Due: ty-check

fix: hide tag toolbar footer on non-Annotate tabs (#109)
  src/promptgrimoire/pages/annotation/__init__.py
  src/promptgrimoire/pages/annotation/workspace.py
Due: ty-check

fix: replace regex HTML detection with selectolax in _is_fake_html()
  src/promptgrimoire/input_pipeline/html_input.py
Due: ty-check

fix: strip images from PDF extraction (#109)
  src/promptgrimoire/input_pipeline/converters.py
Due: ty-check

feat: replace page reload with in-place refresh after document add (#109)
  src/promptgrimoire/pages/annotation/content_form.py
  src/promptgrimoire/pages/annotation/workspace.py
Due: ty-check

chore: export converter functions from input_pipeline package (#109)
  src/promptgrimoire/input_pipeline/__init__.py
  tests/unit/input_pipeline/test_public_api.py
Due: ty-check

fix: address final code review and rebase import fixes (#109)
  .pre-commit-config.yaml
  src/promptgrimoire/input_pipeline/sanitisation.py
  src/promptgrimoire/pages/annotation/document_management.py
  src/promptgrimoire/pages/annotation/upload_handler.py
  tests/e2e/test_document_upload.py
  tests/e2e/test_edit_mode.py
Due: ty-check

test: verify URL unchanged after edit-save (AC4.2) (#109)
  tests/e2e/test_edit_mode.py
Due: ty-check

docs: update project context for file-upload-109
  AGENTS.md
  CLAUDE.md
  docs/annotation-architecture.md
  docs/input-pipeline.md
  tests/test-pseudocode.md
Due: docs-index

docs: update annotation package module count to 26 (#109)
  src/promptgrimoire/pages/annotation/__init__.py
Due: ty-check

fix: use lightweight peer-left callback for CLIENT_DELETE events
  CLAUDE.md
  docs/annotation-architecture.md
  src/promptgrimoire/pages/annotation/__init__.py
  src/promptgrimoire/pages/annotation/broadcast.py
Due: ty-check, docs-index

test: add card-detail visibility wait and diagnostic to add_comment helper
  tests/e2e/card_helpers.py
Due: ty-check

removing serena log
  .serena/.gitignore
  .serena/memories
  .serena/project.yml
Due: none

feat: make E2E parallel by default, add umbrella `e2e all` command
  src/promptgrimoire/cli/e2e/__init__.py
  src/promptgrimoire/cli/e2e/_lanes.py
  src/promptgrimoire/cli/e2e/_parallel.py
Due: ty-check

docs: update E2E commands for parallel-by-default and e2e all
  CLAUDE.md
Due: none

test: update unit tests for parallel-default and on_peer_left changes
  tests/unit/test_cli_e2e_runner.py
  tests/unit/test_cli_parallel.py
  tests/unit/test_remote_presence_refactor.py
Due: ty-check

docs: update project context for e2e-parallel
  AGENTS.md
Due: none

test: add metadata search integration tests (#316)
  tests/integration/test_fts_search.py
Due: ty-check

test: add metadata search performance test at 1k scale (#316)
  tests/integration/test_fts_search.py
Due: ty-check

style: add TODO comment for missing GIN index on metadata FTS (#316)
  src/promptgrimoire/db/navigator.py
Due: ty-check

fix: guard against staff user with no enrollments in perf test (#316)
  tests/integration/test_fts_search.py
Due: ty-check

docs: add design plan for organise broadcast E2E test (#304)
  docs/design-plans/2026-03-12-organise-broadcast-e2e-304.md
Due: docs-index

test: add broadcast auto-refresh E2E test for Organise tab (#304)
  tests/e2e/test_annotation_drag.py
Due: ty-check

refactor: replace tab-switching polling with broadcast expect in concurrent drag test (#304)
  tests/e2e/test_annotation_drag.py
Due: ty-check

feat: add prefix matching and labelled metadata snippets to navigator search (#316)
  src/promptgrimoire/db/navigator.py
Due: ty-check

test: add prefix matching and labelled snippet tests (#316)
  tests/e2e/test_navigator.py
  tests/integration/test_fts_search.py
Due: ty-check

docs: add implementation plans for navigator metadata search (#316)
  docs/implementation-plans/2026-03-10-nav-metadata-search-316/phase_01.md
  docs/implementation-plans/2026-03-10-nav-metadata-search-316/phase_02.md
  docs/implementation-plans/2026-03-10-nav-metadata-search-316/test-requirements.md
Due: docs-index

Path conditions:
  ty-check: any of: \.py$
  docs-index: any of: ^docs/.*\.md$
