Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

.pre-commit-config.yaml:

repos:
  # Ruff: lint with autofix, then format
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      # Run the linter with autofix
      - id: ruff-check
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # Type checking
  - repo: local
    hooks:
      - id: ty-check
        name: ty type check
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false

  # Docs index regeneration
  - repo: local
    hooks:
      - id: docs-index
        name: regenerate docs/_index.md
        entry: uv run python scripts/generate_docs_index.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.3
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml"]

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
        exclude: '^(paper/|ai_transcripts/|src/promptgrimoire/static/milkdown/dist/)'
      - id: check-merge-conflict

fix: use inline-tag allowlist and ancestor tracking to eliminate double data-para
  src/promptgrimoire/input_pipeline/paragraph_map.py
Due: ty-check

fix: address Phase 4 code review feedback
  src/promptgrimoire/input_pipeline/paragraph_map.py
  tests/unit/input_pipeline/test_paragraph_map.py
Due: ty-check

feat: add paragraph numbering toggle to workspace header
  src/promptgrimoire/db/workspace_documents.py
  src/promptgrimoire/pages/annotation/__init__.py
  src/promptgrimoire/pages/annotation/document.py
  src/promptgrimoire/pages/annotation/header.py
  src/promptgrimoire/pages/annotation/workspace.py
  tests/integration/test_paragraph_numbering.py
Due: ty-check

WIP: paragraph-numbering-191 — DBA review with identified clone function halt
  dba-review-wip.md
  docs/implementation-plans/2026-02-25-paragraph-numbering-191/phase_01.md
  docs/implementation-plans/2026-02-25-paragraph-numbering-191/phase_02.md
  docs/implementation-plans/2026-02-25-paragraph-numbering-191/phase_03.md
  docs/implementation-plans/2026-02-25-paragraph-numbering-191/phase_04.md
  docs/implementation-plans/2026-02-25-paragraph-numbering-191/phase_05.md
  docs/implementation-plans/2026-02-25-paragraph-numbering-191/phase_06.md
  docs/implementation-plans/2026-02-25-paragraph-numbering-191/phase_07.md
  docs/implementation-plans/2026-02-25-paragraph-numbering-191/test-requirements.md
Due: docs-index

feat: add paragraph numbering switch to upload dialog with auto-detection hint
  src/promptgrimoire/pages/annotation/content_form.py
  src/promptgrimoire/pages/dialogs.py
  tests/unit/pages/test_dialogs.py
Due: ty-check

feat: add paragraph numbering fields to WorkspaceDocument model
  src/promptgrimoire/db/models.py
Due: ty-check

feat: add CSS for paragraph number margin display
  src/promptgrimoire/pages/annotation/css.py
Due: ty-check

fix: suppress grey margin numbers on ordered list items
  src/promptgrimoire/pages/annotation/css.py
Due: ty-check

feat: add paragraph mapping builder with auto-number and source-number modes
  src/promptgrimoire/input_pipeline/__init__.py
  src/promptgrimoire/input_pipeline/paragraph_map.py
  tests/unit/input_pipeline/test_paragraph_map.py
Due: ty-check

test: add integration tests for paragraph numbering model columns
  tests/integration/test_paragraph_numbering.py
Due: ty-check

test: add integration test for highlight para_ref wiring
  tests/integration/test_paragraph_numbering.py
Due: ty-check

feat: add Alembic migration for paragraph numbering columns
  alembic/versions/6e7f4b2ac3e7_add_paragraph_numbering_columns.py
Due: ty-check

test: add integration tests for paragraph toggle and upload dialog
  tests/integration/test_paragraph_numbering.py
Due: ty-check

fix: address Phase 3 code review feedback
  docs/implementation-plans/2026-02-25-paragraph-numbering-191/phase_03.md
  pyproject.toml
  src/promptgrimoire/cli_backfill.py
  src/promptgrimoire/pages/annotation/content_form.py
Due: ty-check, docs-index

test: add key conversion test for PDF export paragraph map
  tests/unit/export/test_pdf_export_para_map.py
Due: ty-check

refactor: simplify Phase 5 paragraph map code
  src/promptgrimoire/input_pipeline/paragraph_map.py
  tests/integration/test_paragraph_numbering.py
Due: ty-check

docs: add deployment guide and teaching timeline
  docs/deployment.md
  docs/timeline.md
Due: docs-index

feat: add production entry point with configurable hot reload
  run_prod.py
  src/promptgrimoire/__init__.py
Due: ty-check

chore: update project status for Session 1 2026
  CLAUDE.md
Due: none

chore: add CLI update and plugin refresh to worktree-sync skill
  .claude/skills/worktree-sync/SKILL.md
Due: none

test: add chatcraft and openrouter fixtures, exclude AI Studio from screenshot tests
  tests/e2e/test_para_screenshot.py
Due: ty-check

refactor: simplify personal_grimoire.py and its tests
  src/promptgrimoire/docs/scripts/personal_grimoire.py
  tests/unit/test_docs_personal_grimoire.py
Due: ty-check

docs: update project context for paragraph-numbering-191
  CLAUDE.md
  docs/annotation-architecture.md
  docs/input-pipeline.md
  tests/test-pseudocode.md
Due: docs-index

feat: add personal grimoire guide to make_docs pipeline
  mkdocs.yml
  src/promptgrimoire/cli.py
Due: ty-check

test: update make_docs tests for three-guide pipeline
  tests/unit/test_make_docs.py
Due: ty-check

fix: use PlaywrightTimeoutError instead of string-based exception check
  src/promptgrimoire/docs/scripts/personal_grimoire.py
Due: ty-check

fix: add data-testid to placement radio options for Playwright targeting
  src/promptgrimoire/docs/scripts/personal_grimoire.py
  src/promptgrimoire/pages/annotation/placement.py
Due: ty-check

fix: replace all Quasar CSS class selectors with data-testid targeting
  src/promptgrimoire/docs/scripts/personal_grimoire.py
  src/promptgrimoire/docs/scripts/student_workflow.py
  src/promptgrimoire/pages/annotation/css.py
  src/promptgrimoire/pages/annotation/placement.py
Due: ty-check

fix: add missing TeX packages to setup_latex.py
  scripts/setup_latex.py
  tests/unit/export/test_latex_string_functions.py
Due: ty-check

docs: fix deployment guide from live server walkthrough
  docs/deployment.md
Due: docs-index

fix: display tag name instead of UUID in PDF export margin notes
  src/promptgrimoire/export/latex_format.py
Due: ty-check

feat: add Respond tab coverage and English-only sample content
  src/promptgrimoire/docs/scripts/personal_grimoire.py
  src/promptgrimoire/pages/annotation/respond.py
Due: ty-check

fix: enrich highlights with tag display names for PDF export
  src/promptgrimoire/pages/annotation/pdf_export.py
  tests/unit/export/test_latex_string_functions.py
Due: ty-check

docs: add .venv to ReadWritePaths in systemd service
  docs/deployment.md
Due: docs-index

fix: use contenteditable="true" to avoid ProseMirror virtual cursor
  src/promptgrimoire/docs/scripts/personal_grimoire.py
Due: ty-check

fix: read para_ref from highlight dict instead of re-deriving it
  src/promptgrimoire/export/highlight_spans.py
  tests/unit/export/test_highlight_spans.py
Due: ty-check

fix: remove non-functional Quasar attrs and use text selector
  src/promptgrimoire/docs/scripts/personal_grimoire.py
  src/promptgrimoire/pages/annotation/placement.py
Due: ty-check

feat: add serve and gh-deploy subcommands to make-docs
  src/promptgrimoire/cli.py
  tests/unit/test_make_docs.py
Due: ty-check

fix: use port 8484 for make-docs serve and extract build helper
  src/promptgrimoire/cli.py
Due: ty-check

feat: expand guide with red-box highlights, Organise/Respond sections
  src/promptgrimoire/docs/scripts/personal_grimoire.py
Due: ty-check
