Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

ty-check:
  name: ty type check
  entry: uvx ty check
  language: system
  pass_filenames: false

docs-index:
  name: regenerate docs/_index.md
  entry: uv run python scripts/generate_docs_index.py
  language: system
  pass_filenames: false

docs: add WIP state for workspace ACL implementation
  docs/implementation-plans/2026-02-15-96-workspace-acl/WIP.md
Due: docs-index

wip: save state for machine transfer — Phase 3 review pending
  WIP.md
Due: none

docs: add E2E test migration design plan (#156)
  docs/design-plans/2026-02-15-156-e2e-test-migration.md
Due: docs-index

docs: add workspace ACL design plan (#96)
  docs/design-plans/2026-02-15-96-workspace-acl.md
Due: docs-index

fix: add explicit names to UNIQUE constraints on reference table levels
  alembic/versions/7c50e4641d69_add_acl_reference_tables.py
  src/promptgrimoire/db/models.py
Due: ty-check

test: add integration tests for ACL reference table seed data and constraints
  src/promptgrimoire/cli.py
  tests/integration/test_acl_reference_tables.py
Due: ty-check

refactor: update courses page to use string roles and static dropdown
  src/promptgrimoire/pages/courses.py
Due: ty-check

feat: add is_staff column to course_role and replace hardcoded staff sets
  CLAUDE.md
  alembic/versions/064c301121d4_add_is_staff_to_course_role.py
  docs/database.md
  src/promptgrimoire/db/__init__.py
  src/promptgrimoire/db/acl.py
  src/promptgrimoire/db/models.py
  src/promptgrimoire/db/roles.py
  src/promptgrimoire/db/weeks.py
  src/promptgrimoire/pages/courses.py
Due: ty-check, docs-index

refactor: export ACLEntry and ACL CRUD from db package
  src/promptgrimoire/db/__init__.py
Due: ty-check

feat: add Course.default_instructor_permission FK to permission table
  alembic/versions/f7f6dd2b12c5_add_course_default_instructor_permission.py
  src/promptgrimoire/db/models.py
Due: ty-check

feat: add ACLEntry model with workspace/user/permission FKs
  src/promptgrimoire/db/models.py
Due: ty-check

docs: add database schema documentation
  docs/database.md
Due: docs-index

feat: add migration for acl_entry table
  alembic/env.py
  alembic/versions/5cfeecc45356_add_acl_entry_table.py
Due: ty-check

test: add integration tests for hybrid permission resolution
  tests/integration/test_permission_resolution.py
Due: ty-check

feat: add can_access_workspace() convenience function
  src/promptgrimoire/db/acl.py
Due: ty-check

feat: migrate CourseEnrollment.role from PG enum to FK on course_role
  alembic/versions/6d21ba550579_normalise_course_role_to_fk.py
Due: ty-check

feat: add Permission and CourseRoleRef SQLModel tables
  src/promptgrimoire/db/__init__.py
  src/promptgrimoire/db/models.py
Due: ty-check

refactor: update enrollment CRUD and week visibility to use string roles
  src/promptgrimoire/db/courses.py
  src/promptgrimoire/db/weeks.py
Due: ty-check

fix: add ondelete=RESTRICT to CourseEnrollment.role FK and update docs
  alembic/versions/6d21ba550579_normalise_course_role_to_fk.py
  docs/database.md
  src/promptgrimoire/db/models.py
Due: ty-check, docs-index

refactor: export permission resolution functions from db package
  src/promptgrimoire/db/__init__.py
Due: ty-check

docs: fix plan inconsistencies found during audit
  docs/implementation-plans/2026-02-15-96-workspace-acl/phase_04.md
  docs/implementation-plans/2026-02-15-96-workspace-acl/phase_06.md
  docs/implementation-plans/2026-02-15-96-workspace-acl/phase_07.md
  docs/implementation-plans/2026-02-15-96-workspace-acl/test-requirements.md
Due: docs-index

test: add tests for custom instructor permission and template workspace
  tests/integration/test_permission_resolution.py
Due: ty-check

docs: add workspace ACL implementation plans (phases 1-8)
  docs/implementation-plans/2026-02-15-96-workspace-acl/phase_01.md
  docs/implementation-plans/2026-02-15-96-workspace-acl/phase_02.md
  docs/implementation-plans/2026-02-15-96-workspace-acl/phase_03.md
  docs/implementation-plans/2026-02-15-96-workspace-acl/phase_04.md
  docs/implementation-plans/2026-02-15-96-workspace-acl/phase_05.md
  docs/implementation-plans/2026-02-15-96-workspace-acl/phase_06.md
  docs/implementation-plans/2026-02-15-96-workspace-acl/phase_07.md
  docs/implementation-plans/2026-02-15-96-workspace-acl/phase_08.md
  docs/implementation-plans/2026-02-15-96-workspace-acl/test-requirements.md
Due: docs-index

refactor: replace CourseRole StrEnum with string FK on CourseEnrollment
  src/promptgrimoire/db/models.py
Due: ty-check

fix: address Phase 3 review findings
  CLAUDE.md
  docs/database.md
  tests/integration/test_acl_crud.py
Due: ty-check, docs-index

fix: use course_role table name per design plan, not course_role_ref
  alembic/versions/7c50e4641d69_add_acl_reference_tables.py
  src/promptgrimoire/db/models.py
  tests/unit/test_db_schema.py
Due: ty-check

refactor: update cli seed data and db exports for string roles
  src/promptgrimoire/cli.py
  src/promptgrimoire/db/__init__.py
Due: ty-check

test: update test_course_service to use string role values
  tests/integration/test_course_service.py
Due: ty-check

test: update schema tests for acl_entry table (10 tables)
  tests/unit/test_db_schema.py
Due: ty-check

feat: add ACL CRUD operations (grant, revoke, list)
  src/promptgrimoire/db/acl.py
Due: ty-check

feat: add migration for ACL reference tables with seed data
  alembic/env.py
  alembic/versions/7c50e4641d69_add_acl_reference_tables.py
  tests/unit/test_db_schema.py
Due: ty-check

test: add integration tests for ACLEntry model and ACL CRUD operations
  src/promptgrimoire/db/acl.py
  tests/integration/test_acl_crud.py
Due: ty-check

test: add integration tests for CourseRole normalisation (AC3.1-AC3.4)
  tests/integration/test_course_role_normalisation.py
Due: ty-check

docs: revise ACL design plan — drop Resource table, use string PKs
  docs/design-plans/2026-02-15-96-workspace-acl.md
Due: docs-index

refactor: reduce CLAUDE.md from 555 to 172 lines with doc cross-references
  CLAUDE.md
Due: none

feat: implement hybrid permission resolution in db/acl.py
  src/promptgrimoire/db/acl.py
Due: ty-check

docs: extract subsystem documentation into dedicated docs files
  docs/_index.md
  docs/annotation-architecture.md
  docs/configuration.md
  docs/copy-protection.md
  docs/database.md
  docs/export.md
  docs/input-pipeline.md
  docs/testing.md
  docs/worktrees.md
Due: docs-index

fix: annotation page fills viewport for short documents (#170)
  src/promptgrimoire/pages/annotation/document.py
Due: ty-check

feat: add get_user_workspace_for_activity() and wire owner ACLEntry into clone
  src/promptgrimoire/db/workspaces.py
  src/promptgrimoire/pages/courses.py
  tests/integration/test_workspace_cloning.py
Due: ty-check

Path conditions:
  ty-check: any of: \.py$
  docs-index: any of: ^docs/.*\.md$
