Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

.pre-commit-config.yaml:

repos:
  # Ruff: lint with autofix, then format
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.4
    hooks:
      # Run the linter with autofix
      - id: ruff-check
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # Type checking
  - repo: local
    hooks:
      - id: ty-check
        name: ty type check
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false

  # Docs index regeneration
  - repo: local
    hooks:
      - id: docs-index
        name: regenerate docs/_index.md
        entry: uv run python scripts/generate_docs_index.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

  # Cognitive complexity gate â€” blocks commits with functions > 15
  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v4.2.0
    hooks:
      - id: complexipy
        args: ['--max-complexity-allowed=15']

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.4
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml"]

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
        exclude: '^(paper/|ai_transcripts/|src/promptgrimoire/static/milkdown/dist/)'
      - id: check-merge-conflict

fix: stabilise shared Playwright CI
  .github/workflows/act-ci.yml
  .github/workflows/ci.yml
  src/promptgrimoire/cli/e2e/__init__.py
  src/promptgrimoire/pages/annotation/broadcast.py
  src/promptgrimoire/pages/annotation/workspace.py
  tests/unit/test_cli_e2e_runner.py
  tests/unit/test_remote_update_toolbar.py
  tests/unit/test_workspace_ready_signal.py
Due: ty-check

test: emit diagnostics during performance probes
  docs/design-notes/2026-08-16-large-document-performance.md
  src/promptgrimoire/cli/e2e/_server_script.py
Due: ty-check, docs-index

perf: expose large-document load diagnostics
  docs/_index.md
  docs/design-notes/2026-08-16-large-document-performance.md
  src/promptgrimoire/crdt/persistence.py
  src/promptgrimoire/db/engine.py
  src/promptgrimoire/diagnostics.py
  src/promptgrimoire/pages/annotation/broadcast.py
  tests/unit/test_diagnostics.py
Due: ty-check, docs-index

docs: record production-pool load investigation
  docs/_index.md
  docs/design-notes/2026-08-16-large-document-performance.md
  docs/investigations/2026-08-16-production-pool-load-curve.md
Due: docs-index

perf: remove duplicate CRDT load work
  docs/investigations/2026-08-16-production-pool-load-curve.md
  perf-results/attributed-100.json
  perf-results/attributed-75.json
  perf-results/dedup-crdt-100.json
  perf-results/dedup-crdt-75.json
  src/promptgrimoire/cli/e2e/_server_script.py
  src/promptgrimoire/crdt/annotation_doc.py
  src/promptgrimoire/pages/annotation/broadcast.py
  src/promptgrimoire/pages/annotation/tab_bar.py
  src/promptgrimoire/pages/annotation/workspace.py
  tests/integration/test_crdt_prefetch.py
  tests/unit/test_broadcast_fire_and_forget.py
  tests/unit/test_diagnostics.py
Due: ty-check, docs-index

perf: reproduce production pool load curve
  docs/design-notes/2026-08-16-large-document-performance.md
  perf-results/prod-pool-1.json
  perf-results/prod-pool-10.json
  perf-results/prod-pool-100.json
  perf-results/prod-pool-25.json
  perf-results/prod-pool-50.json
  perf-results/prod-pool-75.json
  src/promptgrimoire/cli/e2e/__init__.py
  src/promptgrimoire/cli/e2e/_server.py
  tests/unit/test_cli_e2e_runner.py
  tests/unit/test_cli_typer.py
Due: ty-check, docs-index

perf: shorten annotation permission reads
  docs/investigations/2026-08-16-production-pool-load-curve.md
  perf-results/owner-shortcut-100.json
  perf-results/prod-timeout-100.json
  perf-results/query-collapse-100.json
  src/promptgrimoire/cli/e2e/__init__.py
  src/promptgrimoire/cli/e2e/_server_script.py
  src/promptgrimoire/db/workspaces.py
  tests/integration/test_query_efficiency.py
  tests/unit/test_cli_e2e_runner.py
Due: ty-check, docs-index

perf: isolate authenticated document loads
  docs/investigations/2026-08-16-production-pool-load-curve.md
  perf-results/auth-settled-100-r2.json
  perf-results/auth-settled-100.json
  tests/e2e/test_independent_workspace_load.py
Due: ty-check, docs-index

perf: locate browser readiness delay
  docs/investigations/2026-08-16-production-pool-load-curve.md
  perf-results/browser-milestones-100.json
  perf-results/websocket-payload-1.json
  perf-results/websocket-payload-100.json
  tests/e2e/test_independent_workspace_load.py
Due: ty-check, docs-index

test: refuse perf runs on busy hosts
  src/promptgrimoire/cli/e2e/__init__.py
  tests/unit/test_cli_e2e_runner.py
Due: ty-check

perf: measure outbox transport boundary
  docs/investigations/2026-08-16-production-pool-load-curve.md
  perf-results/engineio-send-100.json
  perf-results/outbox-timing-100.json
  src/promptgrimoire/cli/e2e/__init__.py
  src/promptgrimoire/cli/e2e/_server_script.py
  tests/unit/test_cli_e2e_runner.py
Due: ty-check, docs-index

test: allow E2E server CPU-pinning env read
  tests/unit/test_env_vars.py
Due: ty-check

perf: collapse annotation-load round-trips
  .pre-commit-config.yaml
  docs/investigations/2026-08-16-production-pool-load-curve.md
  perf-results/collapse-baseline-100-p20-pos5.json
  perf-results/collapse-baseline-100-p20.json
  perf-results/collapse-baseline-100.json
  perf-results/round-trip-collapse-100-p20-pos6.json
  perf-results/round-trip-collapse-100-p20.json
  perf-results/round-trip-collapse-100.json
  src/promptgrimoire/db/export_jobs.py
  src/promptgrimoire/db/workspace_documents.py
  src/promptgrimoire/db/workspaces.py
  src/promptgrimoire/pages/annotation/header.py
  src/promptgrimoire/pages/annotation/pdf_export.py
  src/promptgrimoire/pages/annotation/tab_bar.py
  src/promptgrimoire/pages/annotation/workspace.py
  tests/integration/test_page_load_query_count.py
  tests/integration/test_query_efficiency.py
Due: ty-check, docs-index

docs: salvage falsified load-experiment dead ends
  docs/_index.md
  docs/dead-ends/2026-04-23-independent-load-db-narrowing.md
  docs/dead-ends/2026-04-23-independent-load-prefetch-outside-client.md
  docs/dead-ends/2026-04-24-independent-load-export-recovery-deferral.md
Due: docs-index

docs: define performance evidence contract
  docs/design-notes/2026-08-16-large-document-performance.md
  docs/investigations/2026-08-16-production-pool-load-curve.md
  docs/testing.md
Due: docs-index

docs: reject same-process document delivery
  docs/investigations/2026-08-16-production-pool-load-curve.md
  perf-results/http-delivery-1.json
  perf-results/http-delivery-100.json
Due: docs-index

test: serialize performance waves
  docs/investigations/2026-08-16-production-pool-load-curve.md
  docs/testing.md
  src/promptgrimoire/cli/e2e/__init__.py
  tests/unit/test_cli_e2e_runner.py
Due: ty-check, docs-index

fix(test): queue and bound test runs
  docs/deployment.md
  docs/testing.md
  src/promptgrimoire/cli/_shared.py
  src/promptgrimoire/cli/e2e/__init__.py
  src/promptgrimoire/cli/e2e/_parallel.py
  src/promptgrimoire/cli/testing.py
  tests/unit/test_cli_e2e_runner.py
  tests/unit/test_cli_parallel.py
  tests/unit/test_cli_testing.py
Due: ty-check, docs-index

chore(deps): apply controlled August upgrades
  docs/dependency-rationale.md
  package-lock.json
  pyproject.toml
  src/promptgrimoire/static/milkdown/dist/milkdown-bundle.js
  src/promptgrimoire/static/milkdown/package-lock.json
  uv.lock
Due: docs-index

fix(latex): warm the production CJK font chain, not luatexja defaults
  scripts/setup_latex.py
Due: ty-check

docs: record assessment-cram ramp evidence
  docs/_index.md
  docs/investigations/2026-08-16-production-pool-load-curve.md
  docs/testing.md
  perf-data/cram_n100.json
  perf-data/cram_n25.json
  perf-data/cram_n25_think8s.json
  perf-data/cram_n50.json
  perf-data/cram_n75.json
Due: docs-index

feat(deploy): add live class-load watch script
  deploy/watch-class-load.sh
Due: none

feat(config): add snapshot delivery settings sub-model
  .env.example
  src/promptgrimoire/config.py
Due: ty-check

refactor(annotation): extract NiceGUI-free functional core
  src/promptgrimoire/annotation_core.py
  src/promptgrimoire/pages/annotation/card_shared.py
  src/promptgrimoire/pages/annotation/highlights.py
  src/promptgrimoire/pages/annotation/items_serialise.py
  src/promptgrimoire/pages/annotation/tags.py
  tests/unit/test_annotation_core.py
Due: ty-check

feat(snapshot): HMAC token and bundle builder
  src/promptgrimoire/snapshot.py
  tests/integration/test_snapshot_bundle.py
  tests/unit/test_snapshot_token.py
Due: ty-check

feat(snapshot): standalone delivery service
  src/promptgrimoire/snapshot_service.py
  tests/integration/test_snapshot_service.py
Due: ty-check

feat(snapshot): declarative client bootstrap and sidebar bundle hand-off
  src/promptgrimoire/pages/annotation/__init__.py
  src/promptgrimoire/pages/annotation/document.py
  src/promptgrimoire/pages/annotation/workspace.py
  src/promptgrimoire/static/annotation-snapshot-bootstrap.js
  src/promptgrimoire/static/annotationsidebar.js
  tests/js/annotation-snapshot-bootstrap.test.js
  tests/js/annotationsidebar.test.js
  tests/js/setup.js
Due: ty-check

test(snapshot): E2E boundary, service harness, perf candidate fixture
  tests/e2e/snapshot_harness.py
  tests/e2e/test_independent_workspace_load.py
  tests/e2e/test_snapshot_delivery.py
  tests/unit/test_env_vars.py
Due: ty-check

docs(snapshot): design note with Phase 10 ABBA verdict and evidence
  docs/design-notes/2026-08-16-initial-snapshot-delivery.md
  perf-results/snapshot-baseline-100-pos1.json
  perf-results/snapshot-baseline-100-pos4.json
  perf-results/snapshot-candidate-100-pos2.json
  perf-results/snapshot-candidate-100-pos3.json
Due: docs-index

chore(hooks): non-blocking lint feedback, pin ty in stop hook
  .claude/hooks/final_lint.py
  .claude/hooks/python_lint.py
Due: ty-check

test(perf): add assessment-cram interaction load probe
  tests/e2e/test_assessment_cram_load.py
  tests/fixtures/narayan_workspace.json
  tests/fixtures/savage_workspace.json
Due: ty-check

fix(snapshot): observe attribute arming; retry once; calmer error copy
  src/promptgrimoire/static/annotation-snapshot-bootstrap.js
  tests/js/annotation-snapshot-bootstrap.test.js
Due: none

test(snapshot): move service fixture to shared e2e conftest
  tests/e2e/conftest.py
  tests/e2e/test_independent_workspace_load.py
  tests/e2e/test_snapshot_delivery.py
Due: ty-check

docs(snapshot): Phase 11 cram A/B — knee unmoved, win scales with doc size
  docs/design-notes/2026-08-16-initial-snapshot-delivery.md
  perf-results/cram-snapshot-off-100.json
  perf-results/cram-snapshot-on-100.json
Due: docs-index

fix(snapshot): unmissable document-load error state
  src/promptgrimoire/static/annotation-snapshot-bootstrap.js
  tests/js/annotation-snapshot-bootstrap.test.js
Due: none

fix(annotation): version-stamp static script URLs
  src/promptgrimoire/pages/annotation/__init__.py
  src/promptgrimoire/pages/annotation/document.py
Due: ty-check
