Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

.pre-commit-config.yaml:

repos:
  # Ruff: lint with autofix, then format
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.4
    hooks:
      # Run the linter with autofix
      - id: ruff-check
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # Type checking
  - repo: local
    hooks:
      - id: ty-check
        name: ty type check
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false

  # Docs index regeneration
  - repo: local
    hooks:
      - id: docs-index
        name: regenerate docs/_index.md
        entry: uv run python scripts/generate_docs_index.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

  # Cognitive complexity gate â€” blocks commits with functions > 15
  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v4.2.0
    hooks:
      - id: complexipy
        args: ['--max-complexity-allowed=15']

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.4
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml"]

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
        exclude: '^(paper/|ai_transcripts/|src/promptgrimoire/static/milkdown/dist/)'
      - id: check-merge-conflict

fix(export): route emoji/dingbats to fallback chain in CJK documents (#351)
  src/promptgrimoire/export/unicode_latex.py
Due: ty-check

fix(export): label table annotation refs as "endnote N" (#351)
  src/promptgrimoire/export/promptgrimoire-export.sty
Due: none

fix(test): update font preamble test for emoji range (#351)
  tests/unit/export/test_font_preamble.py
Due: ty-check

fix(export): set cwd=output_dir for latexmk subprocess (#351)
  docs/_index.md
  docs/postmortems/2026-03-15-harf-emoji-cwd-crash.md
  src/promptgrimoire/export/pdf.py
Due: ty-check, docs-index

fix(export): resolve paths to absolute before cwd change (#351)
  src/promptgrimoire/export/pdf.py
Due: ty-check

docs: update log viewing commands for structured logging
  docs/deployment.md
Due: docs-index

docs: add 2026-03-16 incident postmortem, investigation, and runbook
  docs/_index.md
  docs/deployment.md
  docs/postmortems/2026-03-16-gateway-failures-data-loss.md
  docs/postmortems/2026-03-16-incident-response.md
  docs/postmortems/2026-03-16-investigation.md
Due: docs-index

test: add xfail contract tests for tag/group duplicate handling (#360)
  .gitignore
  src/promptgrimoire/db/tags.py
  tests/integration/test_tag_race_condition.py
Due: ty-check

perf(db): increase connection pool size for production load (#366)
  src/promptgrimoire/db/engine.py
Due: ty-check

fix(db): catch IntegrityError in tag/group creation, raise DuplicateNameError (#360)
  src/promptgrimoire/db/tags.py
  tests/integration/test_tag_crud.py
  tests/integration/test_tag_race_condition.py
Due: ty-check

fix(ui): handle DuplicateNameError in tag/group creation UI (#361)
  src/promptgrimoire/pages/annotation/tag_management.py
  src/promptgrimoire/pages/annotation/tag_management_save.py
  tests/unit/pages/test_tag_management.py
  tests/unit/pages/test_tag_management_save.py
Due: ty-check

docs: note new errors observed post-deploy 2026-03-16 ~15:00
  docs/_index.md
  docs/postmortems/2026-03-16-new-errors.md
Due: docs-index

Deployed 8aaa99e6 with MkDocs version: 1.6.1
  instructor-setup.pdf
  screenshots/instructor-setup-07-thumb.png
  screenshots/instructor-setup-07.png
  screenshots/student-workflow-04-thumb.png
  screenshots/student-workflow-04.png
  screenshots/using-promptgrimoire-02-thumb.png
  screenshots/using-promptgrimoire-02.png
  screenshots/using-promptgrimoire-03-thumb.png
  screenshots/using-promptgrimoire-03.png
  screenshots/using-promptgrimoire-13-thumb.png
  screenshots/using-promptgrimoire-13.png
  screenshots/using-promptgrimoire-14-thumb.png
  screenshots/using-promptgrimoire-14.png
  screenshots/using-promptgrimoire-15-thumb.png
  screenshots/using-promptgrimoire-15.png
  screenshots/your-personal-grimoire-05-thumb.png
  screenshots/your-personal-grimoire-05.png
  screenshots/your-personal-grimoire-11-thumb.png
  screenshots/your-personal-grimoire-11.png
  screenshots/your-personal-grimoire-19-thumb.png
  screenshots/your-personal-grimoire-19.png
  screenshots/your-personal-grimoire-20-thumb.png
  screenshots/your-personal-grimoire-20.png
  screenshots/your-personal-grimoire-21-thumb.png
  screenshots/your-personal-grimoire-21.png
  screenshots/your-personal-grimoire-22-thumb.png
  screenshots/your-personal-grimoire-22.png
  screenshots/your-personal-grimoire-23-thumb.png
  screenshots/your-personal-grimoire-23.png
  search/search_index.json
  sitemap.xml.gz
  student-workflow.pdf
  using-promptgrimoire.pdf
  using-promptgrimoire/index.html
  your-personal-grimoire.pdf
Due: none

docs: add incident analysis tools design plan
  docs/_index.md
  docs/dependency-rationale.md
  docs/design-plans/2026-03-16-incident-analysis-tools.md
Due: docs-index

docs: add ban-user CLI design plan (#102)
  docs/_index.md
  docs/architecture/dfd/1-level-1-decomposition.md
  docs/design-plans/2026-03-16-ban-user-102.md
Due: docs-index

docs: add 2026-03-16 afternoon incident analysis and tools proposal
  docs/postmortems/2026-03-16-afternoon-analysis.md
  docs/postmortems/2026-03-16-proposed-analysis-tools.md
Due: docs-index

feat: add incident-analysis skill with falsificationist methodology
  .claude/skills/incident-analysis/CREATION-LOG.md
  .claude/skills/incident-analysis/SKILL.md
Due: none

docs: add standing incident analysis playbook for PromptGrimoire
  docs/postmortems/incident-analysis-playbook.md
Due: docs-index

docs: add business exception handling design plan (#363)
  docs/design-plans/2026-03-16-business-exception-handling-363.md
Due: docs-index

feat(db): add is_banned and banned_at columns to User model
  alembic/versions/7abc07630af3_add_user_ban_fields.py
  src/promptgrimoire/db/models.py
Due: ty-check

feat(db): add set_banned(), is_user_banned(), and get_banned_users() functions
  src/promptgrimoire/db/users.py
  tests/integration/test_user_ban.py
Due: ty-check

feat(ui): add /banned suspension page
  src/promptgrimoire/pages/__init__.py
  src/promptgrimoire/pages/banned.py
Due: ty-check

feat(auth): add ban check to page_route decorator
  src/promptgrimoire/pages/registry.py
  tests/e2e/test_banned_page.py
  tests/unit/test_env_vars.py
Due: ty-check

feat(auth): add client registry for tracking user connections
  src/promptgrimoire/auth/client_registry.py
  src/promptgrimoire/pages/registry.py
  tests/unit/test_client_registry.py
Due: ty-check

feat(api): add AdminConfig, POST /api/admin/kick endpoint, and tests
  .env.example
  src/promptgrimoire/__init__.py
  src/promptgrimoire/config.py
  tests/unit/test_kick_endpoint.py
Due: ty-check

feat(auth): add revoke_member_sessions to AuthClientProtocol
  src/promptgrimoire/auth/client.py
  src/promptgrimoire/auth/mock.py
  src/promptgrimoire/auth/protocol.py
  tests/unit/test_auth_revoke.py
Due: ty-check

feat(cli): add admin ban and unban commands
  src/promptgrimoire/cli/admin.py
  tests/unit/test_ban_commands.py
Due: ty-check

feat(cli): add admin ban --list command
  src/promptgrimoire/cli/admin.py
  tests/unit/test_ban_list.py
Due: ty-check

test(cli): verify full ban/unban lifecycle
  tests/integration/test_ban_lifecycle.py
Due: ty-check

fix: address code review findings across phases 2-4
  src/promptgrimoire/__init__.py
  src/promptgrimoire/auth/client_registry.py
  src/promptgrimoire/pages/banned.py
  src/promptgrimoire/pages/registry.py
  tests/e2e/test_banned_page.py
Due: ty-check

docs: add ban/unban CLI commands to CLAUDE.md key commands
  CLAUDE.md
Due: none

fix: widen ban guard to all authenticated users, add CLI error handling
  src/promptgrimoire/cli/admin.py
  src/promptgrimoire/pages/registry.py
Due: ty-check

fix: add ban check to course page _check_auth()
  src/promptgrimoire/pages/courses.py
Due: ty-check

docs: include ban-user design and implementation plans
  docs/design-plans/2026-03-16-ban-user-102.md
  docs/implementation-plans/2026-03-16-ban-user-102/phase_01.md
  docs/implementation-plans/2026-03-16-ban-user-102/phase_02.md
  docs/implementation-plans/2026-03-16-ban-user-102/phase_03.md
  docs/implementation-plans/2026-03-16-ban-user-102/phase_04.md
  docs/implementation-plans/2026-03-16-ban-user-102/phase_05.md
  docs/implementation-plans/2026-03-16-ban-user-102/test-requirements.md
Due: docs-index

docs: update project context for ban-user-102
  AGENTS.md
  CLAUDE.md
  tests/test-pseudocode.md
Due: none

fix: gate share button on allow_sharing with staff bypass
  src/promptgrimoire/pages/annotation/sharing.py
  tests/unit/test_sharing_button_visibility.py
Due: ty-check

test: add exception taxonomy isinstance and message preservation tests
  tests/unit/test_exception_taxonomy.py
Due: ty-check

fix: address peer review findings — TagLockedError, IntegrityError leak, UI catch blocks
  src/promptgrimoire/db/__init__.py
  src/promptgrimoire/db/exceptions.py
  src/promptgrimoire/db/tags.py
  src/promptgrimoire/pages/annotation/tag_management_save.py
  tests/unit/test_exception_taxonomy.py
Due: ty-check

feat: add BusinessLogicError base class and new exception subclasses
  src/promptgrimoire/db/exceptions.py
Due: ty-check

fix: default loose workspaces to allow_sharing=True
  src/promptgrimoire/db/workspaces.py
Due: ty-check
