Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

.pre-commit-config.yaml:

repos:
  # Ruff: lint with autofix, then format
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.4
    hooks:
      # Run the linter with autofix
      - id: ruff-check
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # Type checking
  - repo: local
    hooks:
      - id: ty-check
        name: ty type check
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false

  # Docs index regeneration
  - repo: local
    hooks:
      - id: docs-index
        name: regenerate docs/_index.md
        entry: uv run python scripts/generate_docs_index.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

  # Cognitive complexity gate â€” blocks commits with functions > 15
  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v4.2.0
    hooks:
      - id: complexipy
        args: ['--max-complexity-allowed=15']

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.4
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml"]

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
        exclude: '^(paper/|ai_transcripts/|src/promptgrimoire/static/milkdown/dist/)'
      - id: check-merge-conflict

docs: rewrite AGENTS.md with correct grimoire CLI commands
  AGENTS.md
Due: none

fix: remove os.environ.get from test_settings to satisfy guard test
  tests/unit/test_settings.py
Due: ty-check

fix: strip ANSI escape codes in CLI export help tests
  tests/unit/test_cli_export.py
Due: ty-check

test: remove stale roleplay navigator e2e
  tests/e2e/test_navigator.py
Due: ty-check

test: isolate nicegui ui lane selection
  pyproject.toml
  src/promptgrimoire/cli/testing.py
  tests/integration/conftest.py
  tests/integration/test_crud_management_ui.py
  tests/integration/test_instructor_course_admin_ui.py
  tests/integration/test_instructor_template_ui.py
  tests/unit/test_cli_testing.py
Due: ty-check

docs: add e2e lane isolation design plan
  .gitignore
  docs/design-plans/2026-03-04-e2e-lane-isolation.md
Due: docs-index

refactor: generalise e2e orchestrator for lane isolation
  src/promptgrimoire/cli/e2e/_artifacts.py
  src/promptgrimoire/cli/e2e/_lanes.py
  src/promptgrimoire/cli/e2e/_parallel.py
  src/promptgrimoire/cli/e2e/_retry.py
  src/promptgrimoire/cli/e2e/_workers.py
  tests/unit/test_cli_e2e_runner.py
  tests/unit/test_cli_parallel.py
Due: ty-check

fix: apply phase 2 lane orchestrator review notes
  src/promptgrimoire/cli/e2e/_parallel.py
  tests/unit/test_cli_parallel.py
Due: ty-check

feat: make roleplay privilege gate configurable via env var
  src/promptgrimoire/config.py
  src/promptgrimoire/pages/registry.py
  src/promptgrimoire/pages/roleplay_access.py
Due: ty-check

test: cover configurable roleplay privilege gate
  tests/unit/pages/test_registry.py
  tests/unit/pages/test_roleplay_access.py
  tests/unit/test_settings.py
Due: ty-check

feat: implement isolated nicegui e2e lane
  src/promptgrimoire/cli/e2e/__init__.py
  src/promptgrimoire/cli/e2e/_lanes.py
  src/promptgrimoire/cli/e2e/_parallel.py
  src/promptgrimoire/cli/e2e/_retry.py
  src/promptgrimoire/cli/e2e/_workers.py
  tests/unit/test_cli_e2e_runner.py
  tests/unit/test_cli_parallel.py
  tests/unit/test_cli_typer.py
Due: ty-check

refactor: reuse lane dispatcher for isolated file retries
  src/promptgrimoire/cli/e2e/_parallel.py
  src/promptgrimoire/cli/e2e/_retry.py
  src/promptgrimoire/cli/e2e/_workers.py
  tests/unit/test_cli_e2e_runner.py
  tests/unit/test_cli_parallel.py
Due: ty-check

feat: configure ui.run() for production deployment
  src/promptgrimoire/__init__.py
Due: ty-check

docs: cache NiceGUI configuration and deployment reference
  docs/_index.md
  docs/nicegui/configuration.md
  docs/nicegui/deployment.md
Due: docs-index

feat: add e2e all and enforce playwright lane boundaries
  src/promptgrimoire/cli/e2e/__init__.py
  tests/unit/test_cli_e2e_runner.py
  tests/unit/test_cli_typer.py
Due: ty-check

test: apply phase 4 review follow-ups
  src/promptgrimoire/cli/e2e/__init__.py
  tests/unit/test_cli_e2e_runner.py
Due: ty-check

ci: split e2e lanes and document workflow
  .github/workflows/ci.yml
  docs/testing.md
Due: docs-index

docs: add guide and modified workflow for local act debugging
  .github/workflows/act-ci.yml
  docs/ci-runners.md
Due: docs-index

fix: restore TinyTeX PATH after cache and add STYTCH env for e2e
  .github/workflows/ci.yml
  src/promptgrimoire/cli/e2e/_server_script.py
Due: ty-check

test: fix XSS assertion and increase should_see retries for CI
  tests/e2e/test_naughty_student.py
  tests/integration/test_instructor_course_admin_ui.py
Due: ty-check

ci: restrict act-ci.yml to workflow_dispatch only
  .github/workflows/act-ci.yml
Due: none

fix: add missing env var to .env.example and strip ANSI in CLI tests
  .env.example
  tests/unit/test_cli_typer.py
Due: ty-check

fix: add html/body to block tags to prevent annotation offset drift (#267)
  src/promptgrimoire/input_pipeline/html_input.py
  src/promptgrimoire/static/annotation-highlight.js
  tests/integration/test_text_walker_parity.py
  tests/unit/input_pipeline/test_text_extraction.py
Due: ty-check

fix: strip ANSI codes from CLI help output in tests
  tests/unit/test_cli_typer.py
Due: ty-check

fix: add soul package for Pandoc 3.x strikethrough (#263)
  .pre-commit-config.yaml
  scripts/setup_latex.py
  src/promptgrimoire/export/promptgrimoire-export.sty
  tests/integration/test_pdf_export.py
Due: ty-check

test: harden E2E export tests for PDF mode (#263)
  tests/e2e/annotation_helpers.py
  tests/e2e/test_anonymous_sharing.py
  tests/e2e/test_translation_student.py
  tests/e2e/test_word_count.py
Due: ty-check

fix: prune orphan .pyc and stale lastfailed cache in E2E runs
  scripts/prune_orphan_pyc.py
  src/promptgrimoire/cli/e2e/__init__.py
Due: ty-check

Potential fix for pull request finding 'Module is imported more than once'
  tests/e2e/annotation_helpers.py
Due: ty-check

fix: clone response_draft_markdown in workspace cloning
  src/promptgrimoire/db/workspaces.py
  tests/integration/test_workspace_cloning.py
Due: ty-check

feat: disable image-block and code-mirror in Milkdown editor
  src/promptgrimoire/static/milkdown/src/index.js
Due: none

docs: revise Operation Solano Dawn design documents and create epic/seam breakdown (#293)
  docs/operation-solano-dawn/README.md
  docs/operation-solano-dawn/brainstorming-notes.md
  docs/operation-solano-dawn/client-prd.md
  docs/operation-solano-dawn/final-epic-and-seams.md
  docs/operation-solano-dawn/internal-design-draft.md
  docs/operation-solano-dawn/internal-spec-outline.md
Due: docs-index

scripts: add Anthropic console export to JSON extraction tool
  scripts/extract_anthropic_console_to_json.py
Due: ty-check

fix: strip <br /> tags in word count normalisation (#262)
  src/promptgrimoire/word_count.py
  tests/unit/test_word_count.py
Due: ty-check

docs: add tag lifecycle refactor design plan (#235, #291)
  docs/_index.md
  docs/design-plans/2026-03-06-tag-lifecycle-235-291.md
Due: docs-index

fix: await async editor init so clone seeding finds Crepe instance
  src/promptgrimoire/pages/annotation/respond.py
Due: ty-check

fix: resolve ty type errors and bump ruff 0.14.11 → 0.15.5
  .pre-commit-config.yaml
  pyproject.toml
  src/promptgrimoire/auth/__init__.py
  tests/unit/export/test_highlight_spans.py
  tests/unit/pages/test_registry.py
  tests/unit/test_anonymise_highlights.py
  tests/unit/test_copy_protection_js.py
  uv.lock
Due: ty-check
