Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

.pre-commit-config.yaml:

repos:
  # Ruff: lint with autofix, then format
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.4
    hooks:
      # Run the linter with autofix
      - id: ruff-check
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # Type checking
  - repo: local
    hooks:
      - id: ty-check
        name: ty type check
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false

  # Docs index regeneration
  - repo: local
    hooks:
      - id: docs-index
        name: regenerate docs/_index.md
        entry: uv run python scripts/generate_docs_index.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

  # Cognitive complexity gate â€” blocks commits with functions > 15
  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v4.2.0
    hooks:
      - id: complexipy
        args: ['--max-complexity-allowed=15']

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.4
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml"]

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
        exclude: '^(paper/|ai_transcripts/|src/promptgrimoire/static/milkdown/dist/)'
      - id: check-merge-conflict

docs: update test-requirements.md for BATS coverage of AC1
  docs/_index.md
  docs/implementation-plans/2026-03-16-incident-analysis-tools/test-requirements.md
Due: docs-index

feat: add sources, timeline, breakdown CLI query commands
  scripts/incident/queries.py
  scripts/incident_db.py
  tests/unit/incident/test_queries.py
Due: ty-check

fix(collector): env-overridable paths, epoch UTC arithmetic, BATS contract tests
  .pre-commit-config.yaml
  CLAUDE.md
  deploy/collect-telemetry.sh
  deploy/tests/test_collect_telemetry.bats
Due: none

test: RED — query start-second drop + JSONL malformed timestamp crash
  tests/unit/incident/test_query_timestamp_bug.py
Due: ty-check

feat: add telemetry collection script for incident analysis
  deploy/collect-telemetry.sh
Due: none

test(export): add fixture colour guard and document the pitfall (#351)
  docs/testing.md
  tests/unit/export/test_fixture_colour_guard.py
Due: ty-check, docs-index

test(export): add read-only cwd compilation regression guard (#351)
  tests/integration/test_cjk_annotated_table_export.py
Due: ty-check

test(e2e): add slow CJK+emoji full compilation test (#351)
  tests/e2e/test_cjk_export.py
  tests/fixtures/workspace_cjk_annotated_table.html
Due: ty-check

fix(test): address code review feedback on smoke-export and E2E (#351)
  src/promptgrimoire/cli/testing.py
  tests/e2e/test_cjk_export.py
Due: ty-check

feat(cli): add smoke-export post-deploy verification command (#351)
  src/promptgrimoire/cli/testing.py
Due: ty-check

fix(ci): add E2E test to os.environ allowlist
  tests/unit/test_env_vars.py
Due: ty-check

fix(test): align E2E CJK export test with live app colour path (#351)
  tests/e2e/test_cjk_export.py
  tests/fixtures/workspace_cjk_annotated_table.html
  tests/integration/test_cjk_annotated_table_export.py
Due: ty-check

fix(cli): add annotated table cell to smoke-export fixture (#351)
  src/promptgrimoire/cli/testing.py
Due: ty-check

docs: update project context for test/cjk-emoji-slow-compile
  AGENTS.md
  CLAUDE.md
  tests/test-pseudocode.md
Due: none

feat(deploy): run smoke-export after restart (#351)
  deploy/restart.sh
Due: none

fix(incident): move beszel dedup before network fetch, mock in test
  scripts/incident_db.py
  tests/unit/incident/test_codex_round3.py
Due: ty-check

fix: guard _get_session_user against NiceGUI storage assertion (#376)
  src/promptgrimoire/pages/auth.py
Due: ty-check

fix: improve pre-PR hook blocked message with watch commands
  .claude/hooks/pre_pr_and_merge.py
Due: ty-check

fix: raise connection pool to pool_size=80, max_overflow=15
  src/promptgrimoire/db/engine.py
Due: ty-check

fix: collect-telemetry handles rotated JSONL and HAProxy logs
  deploy/collect-telemetry.sh
  deploy/tests/test_collect_telemetry.bats
Due: none

fix: remove unused blanket type: ignore directives
  scripts/extract_workspace.py
  tests/unit/pages/test_tag_management.py
Due: ty-check

fix: add PG005 guard and gate all sync NiceGUI element access
  tests/integration/test_annotation_pdf_export_filename_ui.py
  tests/integration/test_instructor_course_admin_ui.py
  tests/integration/test_instructor_template_ui.py
  tests/integration/test_tag_management_crdt_sync.py
  tests/unit/test_e2e_anti_patterns.py
Due: ty-check

fix(export): LaTeX escaping for underlines, apostrophes, and headings (#372)
  src/promptgrimoire/export/filters/highlight.lua
  src/promptgrimoire/export/pandoc.py
  tests/unit/export/test_heading_escaping.py
Due: ty-check

feat(cli): batch PDF export with --tex-only and --only-errors (#350)
  src/promptgrimoire/cli/export.py
Due: ty-check

fix(export): reject corrupt PDFs from failed latexmk runs (#372)
  src/promptgrimoire/export/pdf.py
  tests/unit/export/test_compile_latex_corrupt_pdf.py
Due: ty-check

fix(scripts): NULL source_document_id in workspace rehydration
  scripts/rehydrate_workspace.py
Due: ty-check

chore: upgrade coolname 4.0.0 → 4.1.0
  uv.lock
Due: none

chore: upgrade types-openpyxl 3.1.5.20250919 → 3.1.5.20260316
  uv.lock
Due: none

chore: upgrade selectolax 0.4.6 → 0.4.7
  uv.lock
Due: none

chore: upgrade ruff 0.15.5 → 0.15.6
  uv.lock
Due: none

chore: upgrade pycrdt 0.12.46 → 0.12.50
  uv.lock
Due: none

chore: upgrade pydantic-ai 1.67.0 → 1.69.0
  uv.lock
Due: none

chore: upgrade browserstack-sdk 1.40.0 → 1.41.0
  uv.lock
Due: none

chore: add pyasn1 >= 0.6.3 version floor (CVE-2026-30922)
  docs/dependency-rationale.md
  pyproject.toml
  uv.lock
Due: docs-index

chore: upgrade pymupdf4llm 0.3.4 → 1.27.2.1
  uv.lock
Due: none

chore: upgrade anthropic 0.84.0 → 0.85.0
  uv.lock
Due: none

docs: update dependency-rationale.md for 2026-03-18 audit
  docs/dependency-rationale.md
Due: docs-index

chore: remove unused python-dotenv direct dependency
  pyproject.toml
  uv.lock
Due: none

chore: upgrade vulture 2.14 → 2.15
  uv.lock
Due: none

chore: upgrade ast-grep-cli 0.41.0 → 0.42.0
  uv.lock
Due: none
