Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

ty-check:
  name: ty type check
  entry: uvx ty check
  language: system
  pass_filenames: false

docs-index:
  name: regenerate docs/_index.md
  entry: uv run python scripts/generate_docs_index.py
  language: system
  pass_filenames: false

fix: address Phase 4 code review feedback
  src/promptgrimoire/queue_handlers.py
  tests/unit/test_queue_page.py
  tests/unit/test_queue_status_api.py
Due: ty-check

feat: add /queue raw Starlette HTML page with vanilla JS polling
  src/promptgrimoire/__init__.py
  tests/unit/test_queue_page.py
Due: ty-check

docs: add design and implementation plans for lag-admission-gate
  docs/design-plans/2026-03-30-lag-admission-gate.md
  docs/implementation-plans/2026-03-30-lag-admission-gate/phase_01.md
  docs/implementation-plans/2026-03-30-lag-admission-gate/phase_02.md
  docs/implementation-plans/2026-03-30-lag-admission-gate/phase_03.md
  docs/implementation-plans/2026-03-30-lag-admission-gate/phase_04.md
  docs/implementation-plans/2026-03-30-lag-admission-gate/phase_05.md
  docs/implementation-plans/2026-03-30-lag-admission-gate/test-requirements.md
  src/promptgrimoire/pages/registry.py
Due: ty-check, docs-index

docs: update project context for lag-admission-gate
  AGENTS.md
  CLAUDE.md
  tests/test-pseudocode.md
Due: none

fix: extract TestSnapshotHighlight to unit lane to prevent import-poisoning
  tests/integration/test_annotation_cards_charac.py
  tests/unit/test_snapshot_highlight.py
Due: ty-check

fix: purge page modules before user_simulation to prevent stale sys.modules
  tests/integration/conftest.py
Due: ty-check

docs: add Vue annotation sidebar design plan (#457)
  docs/design-plans/2026-03-30-vue-annotation-sidebar-457.md
Due: docs-index

perf: add Organise and Respond tab render timing baselines (#457)
  src/promptgrimoire/pages/annotation/organise.py
  src/promptgrimoire/pages/annotation/respond.py
  tests/integration/test_event_loop_render_lag.py
Due: ty-check

docs: add 10-phase implementation plan for Vue annotation sidebar (#457)
  docs/design-plans/2026-03-30-vue-annotation-sidebar-457.md
  docs/implementation-plans/2026-03-30-vue-annotation-sidebar-457/phase_01.md
  docs/implementation-plans/2026-03-30-vue-annotation-sidebar-457/phase_02.md
  docs/implementation-plans/2026-03-30-vue-annotation-sidebar-457/phase_03.md
  docs/implementation-plans/2026-03-30-vue-annotation-sidebar-457/phase_04.md
  docs/implementation-plans/2026-03-30-vue-annotation-sidebar-457/phase_05.md
  docs/implementation-plans/2026-03-30-vue-annotation-sidebar-457/phase_06.md
  docs/implementation-plans/2026-03-30-vue-annotation-sidebar-457/phase_07.md
  docs/implementation-plans/2026-03-30-vue-annotation-sidebar-457/phase_08.md
  docs/implementation-plans/2026-03-30-vue-annotation-sidebar-457/phase_09.md
  docs/implementation-plans/2026-03-30-vue-annotation-sidebar-457/phase_10.md
  docs/implementation-plans/2026-03-30-vue-annotation-sidebar-457/test-requirements.md
Due: docs-index

perf(annotation): consolidate Respond reference cards to single ui.html() (#457)
  src/promptgrimoire/pages/annotation/respond.py
  tests/unit/test_respond_reference_card_html.py
Due: ty-check

test(annotation): update Respond charac tests for ui.html() card body (#457)
  tests/integration/test_respond_charac.py
Due: ty-check

perf(annotation): consolidate Organise cards to single ui.html() (#457)
  src/promptgrimoire/pages/annotation/organise.py
  tests/unit/test_organise_card_html.py
Due: ty-check

test(annotation): update charac tests and remove xfail for ui.html() cards (#457)
  tests/integration/test_event_loop_render_lag.py
  tests/integration/test_organise_charac.py
Due: ty-check

refactor: address peer review — remove dead code, extract helper, fix tests (#457)
  src/promptgrimoire/pages/annotation/organise.py
  src/promptgrimoire/pages/annotation/respond.py
  tests/integration/nicegui_helpers.py
  tests/integration/test_organise_charac.py
  tests/integration/test_respond_charac.py
  tests/unit/pages/test_annotation_warp.py
Due: ty-check

fix: address Codex peer review — testid, layout, assertion fixes (#457)
  src/promptgrimoire/pages/annotation/organise.py
  src/promptgrimoire/pages/annotation/respond.py
  tests/unit/test_organise_card_html.py
  tests/unit/test_respond_reference_card_html.py
Due: ty-check

docs: update Phase 1-2 plans to match wrapper-plus-button architecture (#457)
  docs/implementation-plans/2026-03-30-vue-annotation-sidebar-457/phase_01.md
  docs/implementation-plans/2026-03-30-vue-annotation-sidebar-457/phase_02.md
Due: docs-index

feat: auto-capture telemetry tarball on watchdog restart
  deploy/lag-watchdog.sh
Due: none

docs: add horizontal scaling design plan (#466)
  docs/_index.md
  docs/architecture/dfd/1-level-1-decomposition.md
  docs/dependency-rationale.md
  docs/design-plans/2026-03-31-horizontal-scaling-466.md
Due: docs-index

fix(export): escape LaTeX specials in multi-doc section headings
  src/promptgrimoire/export/pdf_export.py
  tests/unit/export/test_latex_string_functions.py
Due: ty-check

fix(annotation): clear footer on source tab switch to prevent toolbar doubling
  src/promptgrimoire/pages/annotation/tab_bar.py
Due: ty-check

feat(alerting): add diagnostic commands to Discord webhook embeds
  src/promptgrimoire/logging_discord.py
  tests/unit/test_logging_discord.py
Due: ty-check

fix(ci): exclude perf-marked tests from nicegui CI lane
  src/promptgrimoire/cli/e2e/_lanes.py
  src/promptgrimoire/cli/e2e/_workers.py
  tests/unit/test_cli_e2e_runner.py
  tests/unit/test_cli_parallel.py
Due: ty-check

docs: add idle tab eviction design plan (#471)
  docs/design-plans/2026-04-03-idle-tab-eviction-471.md
Due: docs-index

feat(idle): add idle tab eviction with /paused and /welcome pages (#471)
  .env.example
  src/promptgrimoire/__init__.py
  src/promptgrimoire/cli/e2e/_server_script.py
  src/promptgrimoire/config.py
  src/promptgrimoire/pages/navigator/_page.py
  src/promptgrimoire/pages/registry.py
  src/promptgrimoire/queue_handlers.py
  src/promptgrimoire/static/idle-tracker.js
  tests/e2e/test_idle_tab_eviction.py
  tests/js/idle-tracker.test.js
  tests/js/setup.js
  tests/unit/pages/test_roleplay_access.py
  tests/unit/test_e2e_compliance.py
  tests/unit/test_env_vars.py
  tests/unit/test_guide_testid_guard.py
  tests/unit/test_idle_config.py
  tests/unit/test_idle_injection.py
  tests/unit/test_paused_page.py
  tests/unit/test_welcome_page.py
Due: ty-check

docs: add idle eviction docs, implementation plans, and pin ty@0.0.24 in hook
  .claude/hooks/python_lint.py
  AGENTS.md
  CLAUDE.md
  docs/_index.md
  docs/configuration.md
  docs/design-plans/2026-04-03-idle-tab-eviction-471.md
  docs/implementation-plans/2026-04-03-idle-tab-eviction-471/phase_01.md
  docs/implementation-plans/2026-04-03-idle-tab-eviction-471/phase_02.md
  docs/implementation-plans/2026-04-03-idle-tab-eviction-471/phase_03.md
  docs/implementation-plans/2026-04-03-idle-tab-eviction-471/phase_04.md
  docs/implementation-plans/2026-04-03-idle-tab-eviction-471/phase_05.md
  docs/implementation-plans/2026-04-03-idle-tab-eviction-471/phase_06.md
  docs/implementation-plans/2026-04-03-idle-tab-eviction-471/phase_07.md
  docs/implementation-plans/2026-04-03-idle-tab-eviction-471/test-requirements.md
  src/promptgrimoire/docs/scripts/using_promptgrimoire.py
Due: ty-check, docs-index

fix(e2e): update navigator redirect test for /welcome landing page
  tests/e2e/test_navigator.py
Due: ty-check

fix(e2e): set idle timeout env vars in e2e slow lane
  src/promptgrimoire/cli/e2e/__init__.py
  tests/e2e/test_idle_tab_eviction.py
Due: ty-check

test(annotation): integration tests for Vue sidebar para_ref, locate, hover (#457)
  src/promptgrimoire/cli/e2e/_lanes.py
  src/promptgrimoire/cli/testing.py
  tests/integration/test_vue_sidebar_interactions.py
  tests/unit/test_guide_testid_guard.py
Due: ty-check

chore: add Phase 4 test files to NiceGUI allowlists and testid guard (#457)
  src/promptgrimoire/cli/e2e/_lanes.py
  src/promptgrimoire/cli/testing.py
  tests/unit/test_guide_testid_guard.py
Due: ty-check

feat(annotation): add para_ref edit, locate button to Vue sidebar (#457)
  src/promptgrimoire/pages/annotation/sidebar.py
  src/promptgrimoire/static/annotationsidebar.js
Due: ty-check

feat(annotation): add absolute positioning, scroll sync, and hover highlights to Vue sidebar (#457)
  src/promptgrimoire/pages/annotation/sidebar.py
  src/promptgrimoire/static/annotationsidebar.js
  tests/integration/test_vue_sidebar_spike.py
Due: ty-check

feat(annotation): add minimal AnnotationSidebar Vue component wrapper (#457)
  src/promptgrimoire/pages/annotation/sidebar.py
  src/promptgrimoire/static/annotation-sidebar.js
Due: ty-check

test(annotation): add E2E spike test validating Vue component in browser (#457)
  src/promptgrimoire/cli/e2e/_server_script.py
  tests/e2e/test_vue_sidebar_spike_e2e.py
  tests/unit/test_guide_testid_guard.py
Due: ty-check

test(annotation): add Vue component spike test for go/no-go validation (#457)
  src/promptgrimoire/cli/e2e/_lanes.py
  src/promptgrimoire/cli/testing.py
  tests/integration/test_vue_sidebar_spike.py
  tests/unit/test_guide_testid_guard.py
Due: ty-check

feat(annotation): add items serialisation and full compact header rendering (#457)
  src/promptgrimoire/pages/annotation/items_serialise.py
  src/promptgrimoire/pages/annotation/sidebar.py
  src/promptgrimoire/static/annotation-sidebar.js
Due: ty-check

fix(annotation): update spike E2E test for toggle_expand event (#457)
  src/promptgrimoire/cli/e2e/_server_script.py
  tests/e2e/test_vue_sidebar_spike_e2e.py
Due: ty-check

chore: deduplicate Pabai fixture, remove PII copy (#457)
  tests/e2e/fixtures/pabai_workspace.json
  tests/e2e/test_browser_perf_377.py
  tests/e2e/test_memory_probe_434.py
  tests/e2e/test_session_contamination.py
  tests/fixtures/pabai_workspace_scrubbed.json
  tests/integration/test_memory_leak_probe.py
Due: ty-check

test(annotation): integration tests for Vue sidebar expand/collapse (#457)
  src/promptgrimoire/cli/e2e/_lanes.py
  src/promptgrimoire/cli/testing.py
  tests/integration/test_vue_sidebar_expand.py
  tests/unit/test_guide_testid_guard.py
Due: ty-check

fix(annotation): use position:relative for cards until Phase 5 positioning (#457)
  src/promptgrimoire/static/annotationsidebar.js
  tests/e2e/test_vue_sidebar_spike_e2e.py
Due: ty-check

test(annotation): integration tests for Vue sidebar mutations and permissions (#457)
  src/promptgrimoire/cli/e2e/_lanes.py
  src/promptgrimoire/cli/testing.py
  tests/integration/test_vue_sidebar_expand.py
  tests/integration/test_vue_sidebar_mutations.py
  tests/unit/test_guide_testid_guard.py
Due: ty-check

Path conditions:
  ty-check: any of: \.py$
  docs-index: any of: ^docs/.*\.md$
