Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

.pre-commit-config.yaml:

repos:
  # Ruff: lint with autofix, then format
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.4
    hooks:
      # Run the linter with autofix
      - id: ruff-check
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # Type checking
  - repo: local
    hooks:
      - id: ty-check
        name: ty type check
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false

  # Docs index regeneration
  - repo: local
    hooks:
      - id: docs-index
        name: regenerate docs/_index.md
        entry: uv run python scripts/generate_docs_index.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

  # Cognitive complexity gate â€” blocks commits with functions > 15
  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v4.2.0
    hooks:
      - id: complexipy
        args: ['--max-complexity-allowed=15']

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.4
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml"]

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
        exclude: '^(paper/|ai_transcripts/|src/promptgrimoire/static/milkdown/dist/)'
      - id: check-merge-conflict

fix(export): replace iteration-limited annot extraction with single reverse pass
  src/promptgrimoire/export/pandoc.py
Due: ty-check

fix(test): force semaphore=2 in concurrent compilation test
  tests/unit/test_compile_latex_timeout.py
Due: ty-check

fix(e2e): add explicit timeouts to naughty_student tests
  tests/e2e/test_naughty_student.py
Due: ty-check

fix(export): replace mdframed with tcolorbox to fix Dimension too large on oversized turns
  scripts/setup_latex.py
  src/promptgrimoire/export/promptgrimoire-export.sty
  tests/integration/test_oversized_turn_export.py
  tests/unit/export/platforms/test_role_coverage.py
  tests/unit/export/test_sty_system_turn.py
Due: ty-check

fix(export): propagate workspace_id to Discord alerts via structlog contextvars
  src/promptgrimoire/export/worker.py
  tests/integration/test_export_worker.py
Due: ty-check

fix(export): detect marginalia overflow and fallback to endnotes
  scripts/setup_latex.py
  src/promptgrimoire/export/pdf.py
  src/promptgrimoire/export/promptgrimoire-export.sty
  src/promptgrimoire/export/worker.py
  tests/unit/export/test_endnote_crossref.py
  tests/unit/export/test_marginalia_overflow.py
Due: ty-check

test(export): add marginalia overflow fixture and xfail for #478
  tests/fixtures/workspace_dogs_breakfast_overflow.json
  tests/integration/test_marginalia_overflow_export.py
Due: ty-check

fix(export): escape LaTeX specials in para_ref field
  src/promptgrimoire/export/latex_format.py
  tests/fixtures/workspace_pabai_latex_specials.json
  tests/unit/export/test_latex_string_functions.py
Due: ty-check

fix(export): red button on failure + 60s compile timeout
  src/promptgrimoire/export/pdf.py
  src/promptgrimoire/pages/annotation/header.py
  src/promptgrimoire/pages/annotation/pdf_export.py
Due: ty-check

fix(export): error dialog on click instead of tooltip
  src/promptgrimoire/pages/annotation/__init__.py
  src/promptgrimoire/pages/annotation/header.py
  src/promptgrimoire/pages/annotation/pdf_export.py
Due: ty-check

fix(export): await retry coroutine + reset error state on doc change
  src/promptgrimoire/export/latex_format.py
  src/promptgrimoire/pages/annotation/header.py
Due: ty-check

test(export): integration test for LaTeX specials in annotations
  tests/integration/test_latex_specials_export.py
Due: ty-check

refactor: replace raw psycopg with SQLAlchemy in scripts
  scripts/extract_workspace.py
  scripts/rehydrate_workspace.py
Due: ty-check

refactor: replace raw psycopg with shared grant_acl helper in E2E tests
  tests/e2e/card_helpers.py
  tests/e2e/db_fixtures.py
  tests/e2e/test_browser_perf_377.py
  tests/e2e/test_memory_probe_434.py
  tests/e2e/test_session_contamination.py
  tests/e2e/test_vue_sidebar_cross_tab.py
Due: ty-check

test: add guard banning psycopg imports from E2E tests and scripts
  tests/unit/test_psycopg_guard.py
Due: ty-check

chore: upgrade cryptography 46.0.6 → 46.0.7
  uv.lock
Due: none

chore: upgrade anthropic 0.87.0 → 0.91.0
  uv.lock
Due: none

chore: upgrade sqlmodel 0.0.37 → 0.0.38
  uv.lock
Due: none

chore: upgrade pydantic-ai 1.75.0 → 1.78.0
  uv.lock
Due: none

chore: upgrade nicegui 3.9.0 → 3.10.0
  docs/dependency-rationale.md
  pyproject.toml
  uv.lock
Due: docs-index

chore: upgrade pytest 9.0.2 → 9.0.3
  uv.lock
Due: none

chore: upgrade ruff 0.15.8 → 0.15.9
  uv.lock
Due: none

chore: upgrade biome pre-commit hook 2.4.10 → 2.4.11
  .pre-commit-config.yaml
Due: none

fix(export): skip escaped braces in annot depth tracking
  src/promptgrimoire/export/pandoc.py
  tests/unit/test_move_annots_outside_restricted.py
Due: ty-check

fix(export): remove retry button from failed export dialog
  src/promptgrimoire/pages/annotation/header.py
Due: ty-check

fix(export): improve failed export dialog copy
  src/promptgrimoire/pages/annotation/header.py
Due: ty-check

fix(export): replace soul \st{} with lua-ul strikethrough
  src/promptgrimoire/export/filters/highlight.lua
  tests/integration/test_highlight_lua_filter.py
Due: ty-check

fix(export): filter dangling tag highlights in CLI export
  src/promptgrimoire/cli/export.py
Due: ty-check

fix(export): escape backslashes in markdown notes + include notes in CLI
  src/promptgrimoire/cli/export.py
  src/promptgrimoire/export/pdf_export.py
  tests/unit/export/test_batch_export_skip.py
  tests/unit/export/test_markdown_to_latex.py
Due: ty-check

ops(worker): restart worker when app restarts via PartOf
  deploy/promptgrimoire-worker.service
  deploy/tests/test_worker_service.bats
Due: none

docs: add worktree setup instructions and .worktreeinclude
  .ed3d/worktree-setup.md
  .worktreeinclude
Due: none

ci(browserstack): remove disabled BrowserStack job
  .github/workflows/ci.yml
Due: none

chore(deps): remove browserstack-sdk and skip_browserstack marker
  pyproject.toml
  tests/e2e/test_navigator.py
  uv.lock
Due: ty-check

refactor(e2e): quarantine BrowserStack CLI and config sub-model
  src/promptgrimoire/cli/e2e/__init__.py
  src/promptgrimoire/cli/e2e/_browserstack.py
  src/promptgrimoire/cli/e2e/_server_script.py
  src/promptgrimoire/config.py
  tests/e2e/test_browserstack_diag.py
  tests/unit/test_browserstack_cli.py
  tests/unit/test_e2e_compliance.py
  tests/unit/test_env_vars.py
Due: ty-check

docs(browserstack): mark package as quarantined
  .env.example
  CLAUDE.md
  docs/browserstack/python-integration-and-apis.md
  docs/dependency-rationale.md
Due: docs-index

ci(pre-commit): add gitleaks secret scanning hook
  .pre-commit-config.yaml
Due: none

feat(scripts): add thoughtful-annotation exemplar finder
  pyproject.toml
  scripts/grimoire_exemplars.py
  tests/unit/test_grimoire_exemplars.py
Due: ty-check

refactor(wargame): shelve unimplemented wargame to shelf/wargame
  scripts/smoke_turn_cycle.py
  src/promptgrimoire/__init__.py
  src/promptgrimoire/db/__init__.py
  src/promptgrimoire/db/wargames.py
  src/promptgrimoire/deadline_worker.py
  src/promptgrimoire/wargame/__init__.py
  src/promptgrimoire/wargame/agents.py
  src/promptgrimoire/wargame/codenames.py
  src/promptgrimoire/wargame/roster.py
  src/promptgrimoire/wargame/turn_cycle.py
  tests/integration/conftest.py
  tests/integration/test_deadline_worker.py
  tests/integration/test_roster_ingestion.py
  tests/integration/test_turn_cycle_e2e.py
  tests/integration/test_turn_cycle_service.py
  tests/integration/test_wargame_team_acl.py
  tests/integration/test_wargame_team_crud.py
  tests/unit/test_codenames.py
  tests/unit/test_deadline_worker.py
  tests/unit/test_roster.py
  tests/unit/test_turn_cycle.py
  tests/unit/test_wargame_agents.py
  tests/unit/test_wargame_team_crud.py
Due: ty-check

chore(e2e): expunge quarantined BrowserStack
  .env.example
  browserstack/firefox.yml
  browserstack/safari.yml
  browserstack/supported.yml
  browserstack/unsupported.yml
  docs/browserstack/python-integration-and-apis.md
  src/promptgrimoire/cli/e2e/__init__.py
  src/promptgrimoire/cli/e2e/_browserstack.py
  tests/e2e/test_browserstack_diag.py
  tests/unit/test_browserstack_cli.py
  tests/unit/test_e2e_compliance.py
Due: ty-check, docs-index

fix(navigator): guard Input.value against None before strip
  src/promptgrimoire/pages/navigator/_cards.py
  tests/unit/pages/test_navigator_title_edit.py
Due: ty-check
