Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

ty-check:
  name: ty type check
  entry: uvx ty check
  language: system
  pass_filenames: false

docs-index:
  name: regenerate docs/_index.md
  entry: uv run python scripts/generate_docs_index.py
  language: system
  pass_filenames: false

refactor: simplify _xdist_worker_count — remove unreachable try/except
  src/promptgrimoire/cli.py
Due: ty-check

feat: add isolation retry for failed E2E tests before declaring failure
  src/promptgrimoire/cli.py
Due: ty-check

fix: address E2E test coverage gaps for annotation tags
  src/promptgrimoire/pages/annotation/css.py
  tests/e2e/test_annotation_tabs.py
  tests/e2e/test_instructor_workflow.py
Due: ty-check

refactor: remove dead ternary guard on tagIdx in applyHighlights
  src/promptgrimoire/static/annotation-highlight.js
Due: none

docs: update project context for 95-annotation-tags branch
  CLAUDE.md
  docs/annotation-architecture.md
  docs/database.md
  docs/dependency-rationale.md
  tests/test-pseudocode.md
Due: docs-index

fix: use NullPool in test environments to eliminate asyncpg connection leaks
  src/promptgrimoire/db/engine.py
  tests/integration/conftest.py
  tests/unit/test_env_vars.py
Due: ty-check

docs: add parallel E2E runner implementation plan and gitignore fix
  .gitignore
  docs/implementation-plans/2026-02-20-parallel-e2e-runner-95/phase_01.md
  docs/implementation-plans/2026-02-20-parallel-e2e-runner-95/phase_02.md
  docs/implementation-plans/2026-02-20-parallel-e2e-runner-95/phase_03.md
  docs/implementation-plans/2026-02-20-parallel-e2e-runner-95/phase_04.md
  docs/implementation-plans/2026-02-20-parallel-e2e-runner-95/phase_05.md
  docs/implementation-plans/2026-02-20-parallel-e2e-runner-95/test-requirements.md
Due: docs-index

fix: remove rtk from pytest runner and drop -x from E2E commands
  src/promptgrimoire/cli.py
Due: ty-check

docs: update project context for 95-annotation-tags
  docs/dependency-rationale.md
  tests/test-pseudocode.md
Due: docs-index

WIP: main — add diagnostics spec gaps design plan
  docs/design-plans/2026-02-20-diagnostics-spec-gaps.md
Due: docs-index

docs: add workspace.py refactoring design plan (#185)
  CLAUDE.md
  docs/design-plans/2026-02-23-refactor-workspace-185.md
Due: docs-index

refactor(phase1): extract placement dialog to placement.py (#185)
  src/promptgrimoire/pages/annotation/__init__.py
  src/promptgrimoire/pages/annotation/placement.py
  src/promptgrimoire/pages/annotation/workspace.py
  tests/integration/conftest.py
Due: ty-check

fix(phase1): type on_changed parameter as Callable[[], Awaitable[None]]
  src/promptgrimoire/pages/annotation/placement.py
Due: ty-check

refactor(phase1): extract _reset_select helper in placement.py
  src/promptgrimoire/pages/annotation/placement.py
Due: ty-check

refactor(phase2): extract sharing dialog to sharing.py
  src/promptgrimoire/pages/annotation/__init__.py
  src/promptgrimoire/pages/annotation/sharing.py
  src/promptgrimoire/pages/annotation/workspace.py
Due: ty-check

refactor(phase2): replace type: ignore with None guard in sharing.py
  src/promptgrimoire/pages/annotation/sharing.py
Due: ty-check

refactor(phase3): extract header rendering to header.py
  src/promptgrimoire/pages/annotation/header.py
Due: ty-check

refactor(phase3): update workspace.py to import from header.py
  src/promptgrimoire/pages/annotation/__init__.py
  src/promptgrimoire/pages/annotation/workspace.py
  tests/unit/test_copy_protection_js.py
Due: ty-check

style(phase3): fix TYPE_CHECKING block spacing and module description
  src/promptgrimoire/pages/annotation/__init__.py
  src/promptgrimoire/pages/annotation/header.py
Due: ty-check

refactor(phase4): promote lazy imports to module-level in workspace.py
  src/promptgrimoire/pages/annotation/workspace.py
Due: ty-check

refactor(phase4): extract _resolve_workspace_context from orchestrator
  src/promptgrimoire/pages/annotation/workspace.py
Due: ty-check

refactor(phase4): extract _create_tag_callbacks factory
  src/promptgrimoire/pages/annotation/workspace.py
Due: ty-check

refactor(phase4): remove PLR0915 suppression — orchestrator decomposed
  src/promptgrimoire/pages/annotation/workspace.py
Due: ty-check

docs: cache OpenRouter API reference docs for LLM Playground
  docs/_index.md
  docs/openrouter/key-management-api.md
  docs/openrouter/models-api.md
  docs/openrouter/pydantic-ai-integration.md
Due: docs-index

refactor(phase4): extract _build_tab_panels, restore safety comments
  src/promptgrimoire/pages/annotation/workspace.py
Due: ty-check

docs: add manage-issues skill, fix stale test-feedback labels
  .claude/skills/manage-issues/SKILL.md
  .claude/skills/test-feedback/SKILL.md
Due: none

refactor(phase5): make resolve_tristate public, DRY acl.py
  src/promptgrimoire/db/acl.py
  src/promptgrimoire/db/workspaces.py
  tests/unit/test_resolve_tristate.py
Due: ty-check

fix: gate tag toolbar behind can_annotate for viewers
  src/promptgrimoire/pages/annotation/document.py
  tests/unit/test_tag_toolbar_gating.py
Due: ty-check

fix: add update_workspace_sharing to db __init__ exports
  src/promptgrimoire/db/__init__.py
Due: ty-check

chore: add merge migration and update WIP state
  WIP.md
  alembic/versions/9e0deda2d47a_merge_tag_group_color_and_sharing_.py
Due: ty-check

fix: escape apostrophes in data-annots HTML attribute
  src/promptgrimoire/export/highlight_spans.py
Due: ty-check

refactor: replace /api/test/export-tex with compile_latex monkey-patch
  pyproject.toml
  src/promptgrimoire/cli.py
  src/promptgrimoire/pages/annotation/pdf_export.py
  tests/e2e/annotation_helpers.py
  tests/e2e/test_anonymous_sharing.py
  tests/e2e/test_law_student.py
  tests/e2e/test_translation_student.py
Due: ty-check

chore: move SQLModel warning filter to conftest.py pytest_configure
  tests/conftest.py
  tests/integration/test_acl_crud.py
Due: ty-check

fix: align pdf_export with anonymise_author signature change
  src/promptgrimoire/auth/anonymise.py
  src/promptgrimoire/pages/annotation/pdf_export.py
  tests/e2e/course_helpers.py
Due: ty-check

feat: workspace sharing with correct anonymisation
  src/promptgrimoire/auth/anonymise.py
  src/promptgrimoire/crdt/annotation_doc.py
  src/promptgrimoire/db/__init__.py
  src/promptgrimoire/db/acl.py
  src/promptgrimoire/db/workspaces.py
  src/promptgrimoire/pages/annotation/__init__.py
  src/promptgrimoire/pages/annotation/broadcast.py
  src/promptgrimoire/pages/annotation/cards.py
  src/promptgrimoire/pages/annotation/organise.py
  src/promptgrimoire/pages/annotation/pdf_export.py
  src/promptgrimoire/pages/annotation/workspace.py
  src/promptgrimoire/pages/auth.py
  src/promptgrimoire/pages/courses.py
  tests/integration/test_peer_discovery_with_owners.py
  tests/unit/test_annotation_doc.py
  tests/unit/test_anonymise.py
  tests/unit/test_anonymise_highlights.py
  tests/unit/test_broadcast_anonymise.py
  tests/unit/test_remote_presence_refactor.py
Due: ty-check

fix: defer share dialog email validation until blur (#193)
  src/promptgrimoire/pages/annotation/sharing.py
Due: ty-check

fix: show access denied on page instead of silent redirect (#194)
  src/promptgrimoire/pages/annotation/workspace.py
Due: ty-check

docs: add workspace navigator design plan (#196, #192, #187)
  docs/design-plans/2026-02-24-workspace-navigator-196.md
Due: docs-index

fix: consistent settings dialogs and Course→Unit UI rename (#161)
  src/promptgrimoire/pages/annotation/placement.py
  src/promptgrimoire/pages/courses.py
  src/promptgrimoire/pages/index.py
  tests/e2e/course_helpers.py
  tests/e2e/test_instructor_workflow.py
  tests/unit/test_copy_protection_ui.py
Due: ty-check

Path conditions:
  ty-check: any of: \.py$
  docs-index: any of: ^docs/.*\.md$
