Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

.pre-commit-config.yaml:

repos:
  # Ruff: lint with autofix, then format
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.4
    hooks:
      # Run the linter with autofix
      - id: ruff-check
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # Type checking
  - repo: local
    hooks:
      - id: ty-check
        name: ty type check
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false

  # Docs index regeneration
  - repo: local
    hooks:
      - id: docs-index
        name: regenerate docs/_index.md
        entry: uv run python scripts/generate_docs_index.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

  # Cognitive complexity gate â€” blocks commits with functions > 15
  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v4.2.0
    hooks:
      - id: complexipy
        args: ['--max-complexity-allowed=15']

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.4
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml"]

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
        exclude: '^(paper/|ai_transcripts/|src/promptgrimoire/static/milkdown/dist/)'
      - id: check-merge-conflict

fix: address Phase 1 code review feedback
  docs/implementation-plans/2026-03-14-multi-doc-tabs-186-plan-a/phase_01_coverage.md
  tests/integration/nicegui_helpers.py
  tests/integration/test_annotation_cards_charac.py
  tests/integration/test_organise_charac.py
  tests/integration/test_respond_charac.py
Due: ty-check, docs-index

fix: parameterise remaining doc-container getElementById calls
  src/promptgrimoire/docs/helpers.py
  src/promptgrimoire/pages/annotation/broadcast.py
  src/promptgrimoire/static/annotation-highlight.js
Due: ty-check

refactor: address Phase 5 code review findings
  docs/implementation-plans/2026-03-14-multi-doc-tabs-186-plan-a/phase_04.md
  src/promptgrimoire/pages/annotation/cards.py
  tests/integration/test_annotation_cards_charac.py
Due: ty-check, docs-index

test: add unit tests for card data functions (characterisation)
  tests/unit/test_card_functions.py
Due: ty-check

test: verify cross-document annotation isolation and tab switching
  tests/integration/test_multi_doc_tabs.py
Due: ty-check

docs: add multi-document tabbed workspace design plan (#186)
  docs/_index.md
Due: docs-index

fix: constrain expandable text to card width with line break support
  src/promptgrimoire/pages/annotation/cards.py
Due: ty-check

fix: warp-to-highlight race condition and paragraph toggle display
  pyproject.toml
  src/promptgrimoire/pages/annotation/__init__.py
  src/promptgrimoire/pages/annotation/header.py
  src/promptgrimoire/pages/annotation/highlights.py
  src/promptgrimoire/pages/annotation/tab_bar.py
Due: ty-check

docs: update postmortem with monitoring, enrolment fix, and honest lessons
  docs/postmortems/2026-03-15-production-oom.md
Due: docs-index

fix: address review — remove stale type-ignore, use explicit commit in test helper
  src/promptgrimoire/db/courses.py
  tests/integration/test_enrollment_rows.py
Due: ty-check

docs: add enrollment table refactor design plan (#325)
  docs/_index.md
  docs/design-plans/2026-03-13-enrollment-table-325.md
  docs/nicegui/ui-table.md
Due: docs-index

refactor: replace enrollment cards with ui.table on manage enrollments page
  src/promptgrimoire/pages/courses.py
Due: ty-check

test: update enrollment tests for ui.table refactor
  tests/e2e/test_bulk_enrol_upload.py
  tests/integration/test_bulk_enrol_upload_ui.py
Due: ty-check

fix: address Phase 2 review — type-ignore comment, debug artifacts, AC3 test coverage
  src/promptgrimoire/db/courses.py
  src/promptgrimoire/pages/courses.py
  tests/e2e/test_bulk_enrol_upload.py
Due: ty-check

feat(db): add list_enrollment_rows joined query for enrollment table
  src/promptgrimoire/db/courses.py
Due: ty-check

test: integration tests for list_enrollment_rows joined query
  tests/integration/test_enrollment_rows.py
Due: ty-check

chore: gitignore ai_transcripts/ to prevent PII leaks
  .gitignore
Due: none

fix: add noqa PG002 to get_by_role locators in enrollment E2E tests
  tests/e2e/test_bulk_enrol_upload.py
Due: ty-check

fix: update NiceGUI test to check table rows, add noqa PG002 to E2E locators
  tests/integration/test_instructor_course_admin_ui.py
Due: ty-check

docs: add annot-in-tables CJK crash design plan (#351)
  docs/design-plans/2026-03-15-annot-in-tables-cjk-crash-351.md
Due: docs-index

docs: add dead-end doc for \annot \par in longtable (#351)
  docs/_index.md
  docs/dead-ends/2026-03-15-annot-par-in-longtable.md
Due: docs-index

feat(export): add \annotref and \annotendnote table-safe macros (#351)
  src/promptgrimoire/export/promptgrimoire-export.sty
Due: none

feat(export): add Table callback to split \annot in table cells (#351)
  src/promptgrimoire/export/filters/highlight.lua
Due: none

test(export): add annot-in-table splitting tests (#351)
  tests/integration/test_highlight_lua_filter.py
Due: ty-check

fix(export): address phase 1 code review feedback (#351)
  src/promptgrimoire/export/filters/highlight.lua
  tests/integration/test_highlight_lua_filter.py
Due: ty-check

fix: strip code-fenced bullet lists in PDF markdown (#349)
  src/promptgrimoire/input_pipeline/converters.py
  tests/unit/input_pipeline/test_strip_bullet_code_fences.py
Due: ty-check

fix(test): correct str.find() or fallback in test_annotref_inside_longtable (#351)
  tests/integration/test_highlight_lua_filter.py
Due: ty-check

feat(export): content-aware p{} columns for width-less tables (#351)
  src/promptgrimoire/export/filters/libreoffice.lua
Due: none

test(export): add content-aware table column width tests (#351)
  tests/unit/export/test_css_fidelity.py
Due: ty-check

fix(export): address phase 2 code review feedback (#351)
  src/promptgrimoire/export/filters/libreoffice.lua
  tests/unit/export/test_css_fidelity.py
Due: ty-check

fix(cli): include smoke-marked tests in BLNS+Slow lane (#351)
  src/promptgrimoire/cli/e2e/__init__.py
Due: ty-check

test(export): add CJK workspace fixtures for annot-in-tables (#351)
  tests/fixtures/workspace_cjk_annotated_table.html
  tests/fixtures/workspace_cjk_suzu.json
  tests/fixtures/workspace_cjk_yuki.json
Due: none

test(export): add annot-in-table regression and numbering tests (#351)
  tests/unit/export/test_annot_in_tables.py
Due: ty-check

test(export): add CJK annotated table pipeline + compilation tests (#351)
  tests/integration/test_cjk_annotated_table_export.py
Due: ty-check

test(e2e): add CJK annotated table export download test (#351)
  tests/e2e/test_cjk_export.py
Due: ty-check

fix(test): address phase 3 code review feedback (#351)
  docs/implementation-plans/2026-03-15-annot-in-tables-cjk-crash-351/test-requirements.md
  tests/fixtures/workspace_cjk_suzu.json
  tests/integration/test_cjk_annotated_table_export.py
  tests/unit/export/test_annot_in_tables.py
Due: ty-check, docs-index

fix(export): rename shadowed param in highlight.lua Table callback (#351)
  src/promptgrimoire/export/filters/highlight.lua
Due: none

feat: add deploy script with HAProxy drain/maint and friendly 503 page
  deploy/503.http
  deploy/restart.sh
Due: none

fix: set PATH for promptgrimoire user in deploy script
  deploy/restart.sh
  docs/deployment.md
Due: docs-index

fix: use grimoire-run for test step in deploy script
  deploy/restart.sh
Due: none
