Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

.pre-commit-config.yaml:

repos:
  # Ruff: lint with autofix, then format
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.4
    hooks:
      # Run the linter with autofix
      - id: ruff-check
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # Type checking
  - repo: local
    hooks:
      - id: ty-check
        name: ty type check
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false

  # Docs index regeneration
  - repo: local
    hooks:
      - id: docs-index
        name: regenerate docs/_index.md
        entry: uv run python scripts/generate_docs_index.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

  # Cognitive complexity gate â€” blocks commits with functions > 15
  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v4.2.0
    hooks:
      - id: complexipy
        args: ['--max-complexity-allowed=15']

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.4
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml"]

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
        exclude: '^(paper/|ai_transcripts/|src/promptgrimoire/static/milkdown/dist/)'
      - id: check-merge-conflict

fix: add NOT NULL to github_events.source_id, preserve exception context
  scripts/incident/parsers/github.py
  scripts/incident/schema.py
  tests/unit/test_github_fetcher.py
Due: ty-check

feat: add epoch extraction and enrichment for incident analysis
  scripts/incident/analysis.py
  tests/unit/test_epoch_enrichment.py
  tests/unit/test_epoch_extraction.py
Due: ty-check

feat: add five per-epoch query functions for incident analysis
  scripts/incident/analysis.py
  tests/unit/test_epoch_queries.py
Due: ty-check

WIP: github CLI subcommand
  scripts/incident/parsers/github.py
  scripts/incident_db.py
  tests/unit/test_github_cli.py
  tests/unit/test_github_fetcher.py
Due: ty-check

refactor: replace hand-crafted markdown tables with _md_table helper
  scripts/incident/analysis.py
  tests/unit/test_report_render.py
Due: ty-check

fix: exclude HAProxy <NOSRV> 503s from error ratios
  scripts/incident/analysis.py
Due: ty-check

feat: add detect_pool_config() for INVALIDATE pool size extraction
  scripts/incident/analysis.py
  tests/unit/test_pool_config.py
Due: ty-check

test: use raw hex address in INVALIDATE pool state test
  tests/unit/test_normalise_event.py
Due: ty-check

feat: render NOSRV clustering and error landscape in per-epoch sections
  scripts/incident/analysis.py
  tests/unit/test_report_render.py
Due: ty-check

fix: reset row_factory before epoch analysis to avoid dict key errors
  scripts/incident/analysis.py
  scripts/incident_db.py
Due: ty-check

feat: wire pool config and restart gaps into review orchestrator
  scripts/incident/analysis.py
  scripts/incident_db.py
  tests/unit/test_review_cli.py
Due: ty-check

feat: add compute_error_landscape() for appeared/resolved error diffing
  scripts/incident/analysis.py
  tests/unit/test_error_landscape.py
Due: ty-check

docs: add epoch analysis design plan and implementation phases
  docs/design-plans/2026-03-18-epoch-analysis.md
  docs/implementation-plans/2026-03-18-epoch-analysis/phase_01.md
  docs/implementation-plans/2026-03-18-epoch-analysis/phase_02.md
  docs/implementation-plans/2026-03-18-epoch-analysis/phase_03.md
  docs/implementation-plans/2026-03-18-epoch-analysis/phase_04.md
  docs/implementation-plans/2026-03-18-epoch-analysis/phase_05.md
  docs/implementation-plans/2026-03-18-epoch-analysis/phase_06.md
  docs/implementation-plans/2026-03-18-epoch-analysis/test-requirements.md
Due: docs-index

feat: classify restart reasons (deploy, crash, OOM, manual, unknown)
  scripts/incident/analysis.py
  scripts/incident_db.py
  tests/unit/test_epoch_enrichment.py
Due: ty-check

feat: wire error landscape through review orchestrator
  scripts/incident/AGENTS.md
  scripts/incident_db.py
  tests/unit/test_review_cli.py
Due: ty-check

feat: add comprehensive methodology section to review report
  scripts/incident/analysis.py
  tests/unit/test_report_render.py
Due: ty-check

feat: add NOSRV first-60s clustering to query_epoch_haproxy()
  scripts/incident/analysis.py
  tests/unit/test_epoch_queries.py
Due: ty-check

docs: add playbook evidence alignment design plan
  docs/design-plans/2026-03-19-playbook-evidence.md
Due: docs-index

feat: render pool config per-epoch and restart gaps in timeline
  scripts/incident/analysis.py
  tests/unit/test_report_render.py
Due: ty-check

fix: prefer INVALIDATE over QueuePool in detect_pool_config()
  scripts/incident/analysis.py
  tests/unit/test_pool_config.py
Due: ty-check

feat: add normalise_event() for error class key generation
  scripts/incident/analysis.py
  tests/unit/test_normalise_event.py
Due: ty-check

feat: add enrich_restart_gaps() for downtime duration
  scripts/incident/analysis.py
  tests/unit/test_restart_gaps.py
Due: ty-check

refactor: normalise metrics by request volume, not time
  scripts/incident/analysis.py
  scripts/incident_db.py
  tests/unit/test_epoch_trends.py
  tests/unit/test_report_render.py
Due: ty-check

docs: add static DB counts query to incident analysis playbook
  docs/postmortems/incident-analysis-playbook.md
Due: docs-index

feat: add DB snapshot and next-steps to collect-telemetry.sh
  deploy/collect-telemetry.sh
Due: none

fix: validate tag colour hex format before DB flush
  src/promptgrimoire/db/tags.py
  src/promptgrimoire/pages/annotation/tag_quick_create.py
  tests/integration/test_tag_crud.py
Due: ty-check

chore: upgrade ruff 0.15.6 → 0.15.7
  uv.lock
Due: none

chore: upgrade mkdocs-material 9.7.5 → 9.7.6
  uv.lock
Due: none

chore: upgrade anthropic 0.85.0 → 0.86.0
  uv.lock
Due: none

chore: upgrade nicegui 3.8.0 → 3.9.0
  docs/_index.md
  docs/dependency-rationale.md
  pyproject.toml
  uv.lock
Due: docs-index

fix: preserve nbsp spans in remove_empty_elements (#273)
  src/promptgrimoire/input_pipeline/sanitisation.py
Due: ty-check

test: add failing tests for #273 nbsp space stripping
  tests/unit/input_pipeline/test_sanitisation.py
Due: ty-check

fix: avoid br-newline positions in synthetic highlight test
  tests/unit/export/test_empty_content_guard.py
Due: ty-check

docs: update incident playbook with automated tooling and correct pool config
  .gitignore
  docs/postmortems/incident-analysis-playbook.md
Due: docs-index

feat: add `test bats` command and include BATS in `test all`
  src/promptgrimoire/cli/testing.py
Due: ty-check

feat: make `e2e slow` a superset of `e2e all`
  CLAUDE.md
  src/promptgrimoire/cli/e2e/__init__.py
Due: ty-check

test: update CLI tests for BATS and e2e slow refactor
  tests/unit/test_cli_e2e_runner.py
  tests/unit/test_cli_testing.py
Due: ty-check

fix: skip BATS gracefully when bats is not installed
  src/promptgrimoire/cli/testing.py
Due: ty-check

ci: install bats in test-all runner
  .github/workflows/ci.yml
Due: none

feat: JS unit tests passing for annotation static JS (#387)
  package.json
  tests/js/annotation-card-sync.test.js
  tests/js/annotation-copy-protection.test.js
  tests/js/annotation-highlight.test.js
  tests/js/setup.js
Due: none
