Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

ty-check:
  name: ty type check
  entry: uvx ty check
  language: system
  pass_filenames: false

docs-index:
  name: regenerate docs/_index.md
  entry: uv run python scripts/generate_docs_index.py
  language: system
  pass_filenames: false

fix(e2e): make artifact collection best-effort to avoid masking test results
  src/promptgrimoire/cli/e2e/_workers.py
Due: ty-check

fix: repair E2E regressions in edit_mode and naughty_student tests
  tests/e2e/test_edit_mode.py
  tests/e2e/test_naughty_student.py
Due: ty-check

fix(e2e): replace clipboard API with synthetic paste for Firefox support
  tests/e2e/fixture_loaders.py
  tests/e2e/paste_helpers.py
  tests/e2e/test_chatcraft_ingest_232.py
  tests/e2e/test_document_upload.py
  tests/e2e/test_edit_mode.py
  tests/e2e/test_emoji_export.py
  tests/e2e/test_html_paste_whitespace.py
  tests/e2e/test_law_student.py
  tests/e2e/test_para_screenshot.py
  tests/e2e/test_translation_student.py
  tests/unit/test_e2e_compliance.py
Due: ty-check

test: add AST guard tests for E2E anti-patterns (PG001-PG004)
  pyproject.toml
  tests/unit/test_e2e_anti_patterns.py
Due: ty-check

fix(e2e): replace page.go_back() with explicit navigation in anonymous sharing
  tests/e2e/test_anonymous_sharing.py
Due: ty-check

fix(e2e): replace page.evaluate with deterministic text selection in BLNS test
  tests/e2e/test_naughty_student.py
Due: ty-check

fix: add PDF /ActualText annotations for emoji text extraction (#274)
  src/promptgrimoire/export/filters/highlight.lua
  src/promptgrimoire/export/promptgrimoire-export.sty
  src/promptgrimoire/export/unicode_latex.py
  tests/e2e/test_translation_student.py
  tests/unit/export/test_latex_string_functions.py
  tests/unit/test_unicode_handling.py
Due: ty-check

fix: add tlmgr self-update and accsupp to setup_latex.py
  .gitignore
  scripts/setup_latex.py
Due: ty-check

chore: gitignore smoke test secrets, log directory, and commit messages
  .gitignore
Due: none

fix: ignore F401 (unused import) in Claude Code lint hooks
  .claude/hooks/final_lint.py
  .claude/hooks/python_lint.py
Due: ty-check

docs: add mandatory documentation phase and Firefox gate to plan guidance
  .ed3d/design-plan-guidance.md
  .ed3d/implementation-plan-guidance.md
Due: none

feat(wargame): add turn output contract and Batch API design note
  docs/operation-solano-dawn/final-epic-and-seams.md
  src/promptgrimoire/db/wargames.py
  src/promptgrimoire/wargame/agents.py
Due: ty-check, docs-index

test: add smoke test script for wargame turn cycle (#295, #296)
  scripts/smoke_data/scenario_bootstrap.md.example
  scripts/smoke_data/system_prompt.md.example
  scripts/smoke_turn_cycle.py
Due: ty-check

fix(e2e): BrowserStack tunnel fixes — polling transport, bs-local.com URL
  .github/workflows/ci.yml
  pyproject.toml
  src/promptgrimoire/cli/e2e/__init__.py
  src/promptgrimoire/cli/e2e/_browserstack.py
  src/promptgrimoire/cli/e2e/_server_script.py
  tests/e2e/test_browserstack_diag.py
  tests/e2e/test_navigator.py
Due: ty-check

test: update guard tests for BrowserStack infra changes
  tests/unit/test_browserstack_cli.py
  tests/unit/test_e2e_compliance.py
  tests/unit/test_env_vars.py
Due: ty-check

fix: strip \foreignlanguage wrappers and add tex-gyre font to LaTeX setup
  .pre-commit-config.yaml
  scripts/setup_latex.py
  src/promptgrimoire/export/pandoc.py
  src/promptgrimoire/export/promptgrimoire-export.sty
Due: ty-check

fix: defer card rebuild until after quick-create dialog closes
  src/promptgrimoire/pages/annotation/tag_quick_create.py
Due: ty-check

Deployed b47512e5 with MkDocs version: 1.6.1
  instructor-setup.pdf
  robots.txt
  screenshots/instructor-setup-07-thumb.png
  screenshots/instructor-setup-07.png
  screenshots/student-workflow-07-thumb.png
  screenshots/student-workflow-07.png
  screenshots/student-workflow-08-thumb.png
  screenshots/student-workflow-08.png
  screenshots/using-promptgrimoire-03-thumb.png
  screenshots/using-promptgrimoire-03.png
  screenshots/using-promptgrimoire-04-thumb.png
  screenshots/using-promptgrimoire-04.png
  screenshots/using-promptgrimoire-12-thumb.png
  screenshots/using-promptgrimoire-12.png
  screenshots/using-promptgrimoire-13-thumb.png
  screenshots/using-promptgrimoire-13.png
  screenshots/using-promptgrimoire-14-thumb.png
  screenshots/using-promptgrimoire-14.png
  screenshots/your-personal-grimoire-05-thumb.png
  screenshots/your-personal-grimoire-05.png
  screenshots/your-personal-grimoire-07-thumb.png
  screenshots/your-personal-grimoire-07.png
  screenshots/your-personal-grimoire-19-thumb.png
  screenshots/your-personal-grimoire-19.png
  screenshots/your-personal-grimoire-21-thumb.png
  screenshots/your-personal-grimoire-21.png
  search/search_index.json
  student-workflow.pdf
  using-promptgrimoire.pdf
  using-promptgrimoire/index.html
  your-personal-grimoire.pdf
Due: none

Deployed 376a1cd4 with MkDocs version: 1.6.1
  algolia-verification.html
  instructor-setup.pdf
  screenshots/instructor-setup-07-thumb.png
  screenshots/instructor-setup-07.png
  screenshots/student-workflow-08-thumb.png
  screenshots/student-workflow-08.png
  screenshots/using-promptgrimoire-03-thumb.png
  screenshots/using-promptgrimoire-03.png
  screenshots/using-promptgrimoire-04-thumb.png
  screenshots/using-promptgrimoire-04.png
  screenshots/using-promptgrimoire-12-thumb.png
  screenshots/using-promptgrimoire-12.png
  screenshots/using-promptgrimoire-13-thumb.png
  screenshots/using-promptgrimoire-13.png
  screenshots/using-promptgrimoire-14-thumb.png
  screenshots/using-promptgrimoire-14.png
  screenshots/your-personal-grimoire-05-thumb.png
  screenshots/your-personal-grimoire-05.png
  screenshots/your-personal-grimoire-11-thumb.png
  screenshots/your-personal-grimoire-11.png
  screenshots/your-personal-grimoire-19-thumb.png
  screenshots/your-personal-grimoire-19.png
  screenshots/your-personal-grimoire-21-thumb.png
  screenshots/your-personal-grimoire-21.png
  student-workflow.pdf
  using-promptgrimoire.pdf
  your-personal-grimoire.pdf
Due: none

docs: add generated using-promptgrimoire guide and UAT findings (#230)
  docs/_index.md
  docs/guides/using-promptgrimoire.md
  docs/implementation-plans/2026-03-12-docs-flight-rules-230/guide-uat-findings.md
  docs/implementation-plans/2026-03-12-docs-flight-rules-230/phase_01.md
  docs/implementation-plans/2026-03-12-docs-flight-rules-230/phase_02.md
  docs/implementation-plans/2026-03-12-docs-flight-rules-230/phase_03.md
  docs/implementation-plans/2026-03-12-docs-flight-rules-230/phase_04.md
  docs/implementation-plans/2026-03-12-docs-flight-rules-230/phase_05.md
  docs/implementation-plans/2026-03-12-docs-flight-rules-230/test-requirements.md
Due: docs-index

feat: add in-process seeding, DOM overlay highlights, text-only steps, and cache clearing (#230)
  src/promptgrimoire/cli/docs.py
  src/promptgrimoire/docs/guide.py
  src/promptgrimoire/docs/screenshot.py
  src/promptgrimoire/docs/seed.py
Due: ty-check

fix: address Phase 2 code review issues (#230)
  src/promptgrimoire/docs/scripts/personal_grimoire.py
  src/promptgrimoire/docs/scripts/using_promptgrimoire.py
Due: ty-check

test: add non-ASCII heading guard and fix em-dash cross-link anchor (#230)
  src/promptgrimoire/docs/scripts/using_promptgrimoire.py
  tests/unit/test_guide_crosslinks.py
Due: ty-check

feat: create using_promptgrimoire.py flight-rules guide script (#230)
  src/promptgrimoire/docs/scripts/using_promptgrimoire.py
Due: ty-check

docs: add documentation flight rules design plan (#230, #281)
  docs/design-plans/2026-03-12-docs-flight-rules-230.md
Due: docs-index

chore: gitignore mkdocs .cache/ and add openpyxl dependency rationale (#230)
  .gitignore
  docs/dependency-rationale.md
Due: docs-index

chore: add Algolia crawler verification files (#281)
  docs/guides/algolia-verification.html
Due: none

chore: add robots.txt with Algolia crawler verification (#281)
  docs/guides/robots.txt
Due: none

test: update test_make_docs for 4-guide pipeline (#230)
  tests/unit/test_make_docs.py
Due: ty-check

test: add help button unit tests (#281)
  tests/unit/test_help_button.py
Due: ty-check

feat: extend Guide DSL with section() and level parameter
  src/promptgrimoire/docs/guide.py
  tests/unit/test_guide_dsl.py
Due: ty-check

fix: update tests for DOM overlay highlights and seed.py migration (#230)
  tests/unit/test_docs_personal_grimoire.py
  tests/unit/test_docs_screenshot.py
  tests/unit/test_guide_testid_guard.py
Due: ty-check

feat: add HelpConfig sub-model for in-app help (#281)
  .env.example
  docs/configuration.md
  src/promptgrimoire/config.py
  tests/unit/test_help_config.py
Due: ty-check, docs-index

feat: wire using_promptgrimoire guide into build pipeline (#230)
  src/promptgrimoire/cli/docs.py
Due: ty-check

fix: correct phantom testids and remove silent fallbacks in guide (#230)
  src/promptgrimoire/docs/scripts/using_promptgrimoire.py
Due: ty-check

docs: rewrite instructor guide Step 5 to use template workflow (#230)
  src/promptgrimoire/docs/scripts/instructor_setup.py
Due: ty-check

feat: add help button to application header (#281)
  src/promptgrimoire/pages/layout.py
Due: ty-check

fix: UAT-driven guide script corrections and highlight differentiation (#230)
  src/promptgrimoire/docs/scripts/instructor_setup.py
  src/promptgrimoire/docs/scripts/personal_grimoire.py
  src/promptgrimoire/docs/scripts/student_workflow.py
  src/promptgrimoire/docs/scripts/using_promptgrimoire.py
  src/promptgrimoire/pages/navigator/_cards.py
Due: ty-check

docs: add explicit MkDocs nav and update index links (#230)
  docs/guides/index.md
  mkdocs.yml
Due: docs-index

Path conditions:
  ty-check: any of: \.py$
  docs-index: any of: ^docs/.*\.md$
