Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

ty-check:
  name: ty type check
  entry: uvx ty check
  language: system
  pass_filenames: false

docs-index:
  name: regenerate docs/_index.md
  entry: uv run python scripts/generate_docs_index.py
  language: system
  pass_filenames: false

fix: collect worker journal in telemetry tarballs
  deploy/collect-telemetry.sh
  deploy/tests/test_collect_telemetry.bats
  scripts/incident/provenance.py
  tests/unit/incident/test_ingest.py
Due: ty-check

docs: fix stale extract_workspace.py command in testing.md
  docs/_index.md
  docs/testing.md
Due: docs-index

docs: DB pool configuration analysis and proposal
  docs/design-plans/2026-03-30-db-pool-configuration.md
Due: docs-index

fix: strip leading \newline{} in table cells (#462)
  src/promptgrimoire/export/pandoc.py
  tests/unit/test_fix_invalid_newlines.py
Due: ty-check

docs: address peer review of DB pool configuration analysis
  docs/design-plans/2026-03-30-db-pool-configuration.md
Due: docs-index

fix: downgrade session_storage_assertion_failed to warning
  src/promptgrimoire/pages/auth.py
  src/promptgrimoire/pages/registry.py
Due: ty-check

chore: gitignore Claude Code hook temp files
  .gitignore
Due: none

docs: rewrite DB pool analysis with journal evidence + reviewer fixes
  docs/design-plans/2026-03-30-db-pool-configuration.md
Due: docs-index

docs: update deployment.md and CLAUDE.md for QueuePool config
  CLAUDE.md
  docs/deployment.md
Due: docs-index

feat: add _PROMPTGRIMOIRE_WORKER_NULLPOOL env var for worker pool override
  src/promptgrimoire/db/engine.py
  tests/unit/test_engine_nullpool.py
Due: ty-check

fix: remove racy spinner assertion in test_deferred_load (Firefox)
  tests/e2e/test_deferred_load.py
Due: ty-check

fix: treat flaky tests as CI failures, add --strict-flaky flag
  src/promptgrimoire/cli/e2e/__init__.py
  src/promptgrimoire/cli/e2e/_parallel.py
  src/promptgrimoire/cli/e2e/_retry.py
Due: ty-check

fix: suppress PG checkpoint noise in CI logs
  .github/workflows/ci.yml
  .github/workflows/nightly-e2e-slow.yml
Due: none

fix: use separate -c flags for ALTER SYSTEM (no transaction block)
  .github/workflows/ci.yml
  .github/workflows/nightly-e2e-slow.yml
Due: none

fix: allowlist _parallel.py and _retry.py in env var guard test
  tests/unit/test_env_vars.py
Due: ty-check

fix: update flaky-retry test for CI-aware strict mode
  tests/unit/test_cli_parallel.py
Due: ty-check

fix: add missing _run_js monkeypatch in run_all_lanes tests
  tests/unit/test_cli_e2e_runner.py
Due: ty-check

fix: make process group kill test work in Docker (gh act)
  tests/unit/test_compile_latex_timeout.py
Due: ty-check

fix: remove scroll_into_view_if_needed that races with CRDT rebuild
  tests/e2e/test_tag_sync.py
Due: ty-check

fix: only collect Playwright artifacts for failed workers
  src/promptgrimoire/cli/e2e/_workers.py
Due: ty-check

fix: address Phase 1 code review feedback
  src/promptgrimoire/admission.py
  tests/unit/test_admission.py
Due: ty-check

feat: wire admission gate into diagnostic loop with structlog fields
  src/promptgrimoire/diagnostics.py
  tests/unit/test_admission_diagnostics.py
Due: ty-check

feat: add AdmissionConfig sub-model for lag-based admission gate
  .env.example
  src/promptgrimoire/config.py
Due: ty-check

feat: add AdmissionState with AIMD cap, FIFO queue, and entry tickets
  src/promptgrimoire/admission.py
  tests/unit/test_admission.py
Due: ty-check

refactor: simplify diagnostic admission wiring and hoist test import
  src/promptgrimoire/diagnostics.py
  tests/unit/test_admission_diagnostics.py
Due: ty-check

feat: initialise admission state at app startup
  src/promptgrimoire/__init__.py
Due: ty-check

refactor: extract helpers to reduce repetition in admission gate
  src/promptgrimoire/admission.py
  tests/unit/test_admission.py
Due: ty-check

fix: address Phase 2 code review feedback
  src/promptgrimoire/__init__.py
  src/promptgrimoire/admission.py
  src/promptgrimoire/diagnostics.py
  tests/unit/test_admission.py
Due: ty-check

fix: address Phase 5 code review feedback
  src/promptgrimoire/pages/restart.py
  tests/unit/test_admission_restart.py
Due: ty-check

feat: add dev-only endpoints for admission gate testing
  src/promptgrimoire/__init__.py
  src/promptgrimoire/cli/e2e/_server_script.py
  src/promptgrimoire/dev_endpoints.py
  tests/conftest.py
Due: ty-check

fix: dev block-loop measures lag during block and runs AIMD inline
  src/promptgrimoire/dev_endpoints.py
Due: ty-check

fix: address Phase 3 code review feedback
  src/promptgrimoire/pages/registry.py
  tests/unit/test_admission_gate.py
Due: ty-check

docs: add ADMISSION__ sub-model to configuration reference
  docs/configuration.md
Due: docs-index

feat: add E2E tests for admission gate queue page and status API
  src/promptgrimoire/cli/e2e/_server_script.py
  tests/conftest.py
  tests/e2e/test_admission_gate.py
Due: ty-check

fix: address critical peer review findings
  .env.example
  docs/configuration.md
  src/promptgrimoire/admission.py
  src/promptgrimoire/config.py
  src/promptgrimoire/diagnostics.py
  src/promptgrimoire/pages/registry.py
  tests/e2e/test_admission_gate.py
  tests/unit/test_admission.py
  tests/unit/test_admission_diagnostics.py
  tests/unit/test_admission_gate.py
  tests/unit/test_admission_restart.py
Due: ty-check, docs-index

feat: add /api/queue/status Starlette endpoint
  src/promptgrimoire/queue_handlers.py
  tests/unit/test_queue_status_api.py
Due: ty-check

feat: add admission gate check in page_route decorator
  src/promptgrimoire/pages/registry.py
  tests/unit/test_admission_gate.py
Due: ty-check

refactor: hoist UUID import and extract shared gate_mocks fixture
  src/promptgrimoire/pages/registry.py
  tests/unit/test_admission_gate.py
Due: ty-check

feat: add AdmissionState.clear() and priority re-enqueue for returning users
  src/promptgrimoire/admission.py
  tests/unit/test_admission.py
Due: ty-check

feat: clear admission state on pre-restart and memory threshold restart
  src/promptgrimoire/diagnostics.py
  src/promptgrimoire/pages/restart.py
  tests/unit/test_admission_restart.py
Due: ty-check

Path conditions:
  ty-check: any of: \.py$
  docs-index: any of: ^docs/.*\.md$
