Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

.pre-commit-config.yaml:

repos:
  # Ruff: lint with autofix, then format
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.4
    hooks:
      # Run the linter with autofix
      - id: ruff-check
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # Type checking
  - repo: local
    hooks:
      - id: ty-check
        name: ty type check
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false

  # Docs index regeneration
  - repo: local
    hooks:
      - id: docs-index
        name: regenerate docs/_index.md
        entry: uv run python scripts/generate_docs_index.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

  # Cognitive complexity gate â€” blocks commits with functions > 15
  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v4.2.0
    hooks:
      - id: complexipy
        args: ['--max-complexity-allowed=15']

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.4
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml"]

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
        exclude: '^(paper/|ai_transcripts/|src/promptgrimoire/static/milkdown/dist/)'
      - id: check-merge-conflict

test: add failing JS unit tests for annotation static JS (#387)
  .gitignore
  package.json
  tests/js/annotation-card-sync.test.js
  tests/js/annotation-copy-protection.test.js
  tests/js/annotation-highlight.test.js
  tests/js/helpers.js
  tests/js/setup.js
  vitest.config.js
Due: none

feat: integrate JS test lane into grimoire test all (#387)
  .pre-commit-config.yaml
  CLAUDE.md
  src/promptgrimoire/cli/e2e/__init__.py
  src/promptgrimoire/cli/testing.py
Due: ty-check

refactor: improve JS test cleanup and document limitations (#387, #399)
  package-lock.json
  tests/js/annotation-card-sync.test.js
  tests/js/annotation-copy-protection.test.js
  tests/js/annotation-highlight.test.js
Due: none

docs: add JS unit test design plan (#387)
  docs/design-plans/2026-03-20-js-unit-tests-387.md
Due: docs-index

docs: refactor CLAUDE.md — move detailed sections to docs/ (#387)
  CLAUDE.md
  docs/database.md
Due: docs-index

fix: correct lane list in CLAUDE.md e2e all comment (#387)
  CLAUDE.md
Due: none

ci: add npm ci step for JS test dependencies (#387)
  .github/workflows/ci.yml
Due: none

docs: update AGENTS.md for 8-lane test model (#387)
  AGENTS.md
Due: none

fix: address code review findings from merge
  pyproject.toml
  src/promptgrimoire/pages/annotation/pdf_export.py
  src/promptgrimoire/pages/annotation/tab_bar.py
  tests/integration/nicegui_helpers.py
Due: ty-check

fix: prevent PII leak and journal contamination in console log handler
  src/promptgrimoire/__init__.py
Due: ty-check

test: add guard tests for logging PII and journal contamination
  tests/unit/test_logging_pii_guard.py
Due: ty-check

docs: postmortem for 2026-03-21 export failure and PII leak
  docs/_index.md
  docs/postmortems/2026-03-21-export-failure-pii-leak.md
Due: docs-index

docs: add npm ci to worktree setup instructions
  docs/worktrees.md
Due: docs-index

docs: add guide entry for viewing student work on Navigator
  src/promptgrimoire/docs/scripts/using_promptgrimoire.py
Due: ty-check

test: red tests for #369 slot deletion race (3 categories)
  tests/integration/test_slot_deletion_race_369.py
Due: ty-check

fix(#369): reorder ui.notify before render_tag_list in _on_tag_deleted
  src/promptgrimoire/pages/annotation/tag_management.py
Due: ty-check

test(#369): harden Category 2 tests with three hypothesis variants
  tests/integration/test_slot_deletion_race_369.py
Due: ty-check

test(#369): replace Category 2 tests with traceback-proven mechanism
  tests/integration/test_slot_deletion_race_369.py
Due: ty-check

docs: add #369 slot deletion race investigation and classification script
  docs/_index.md
  docs/postmortems/2026-03-20-slot-deletion-investigation-369.md
  scripts/classify_slot_errors.py
Due: ty-check, docs-index

docs(#369): resolve peer review findings, add claim verification
  docs/postmortems/2026-03-20-slot-deletion-investigation-369.md
Due: docs-index

fix(#369): address Phase 3d peer review — test assertions, doc rewrite
  docs/postmortems/2026-03-20-slot-deletion-investigation-369.md
  tests/integration/test_slot_deletion_race_369.py
Due: ty-check, docs-index

fix(#369): guard card.delete() with is_deleted check
  src/promptgrimoire/pages/annotation/highlights.py
  tests/integration/test_slot_deletion_race_369.py
Due: ty-check

docs: update project context for debug/369-slot-deletion-race
  AGENTS.md
  CLAUDE.md
Due: none

fix(#369): guard window._positionCards in toggle_detail, add Cat1 tests
  src/promptgrimoire/pages/annotation/cards.py
  tests/integration/test_slot_deletion_race_369.py
Due: ty-check

docs(#369): add Category 1 analysis, preregistered experiment
  docs/postmortems/2026-03-20-slot-deletion-investigation-369.md
Due: docs-index

fix: skip JS test lane gracefully when npx unavailable
  src/promptgrimoire/cli/e2e/__init__.py
  src/promptgrimoire/cli/testing.py
Due: ty-check

fix: increase response_timeout to 30s (#377, #402, #403)
  src/promptgrimoire/pages/registry.py
Due: ty-check

docs(#403): correct falsified pool-shrinkage claims and tighten evidence grades
  docs/_index.md
  docs/investigations/2026-03-21-pool-shrinkage-403.md
  docs/postmortems/2026-03-21-export-failure-pii-leak.md
Due: docs-index

test(#403): add pool regression guards (overflow accounting + cancellation self-heal)
  tests/integration/test_pool_cancellation.py
  tests/unit/test_pool_overflow_accounting.py
Due: ty-check

test(#403): allowlist pool cancellation test in env var guard
  tests/unit/test_env_vars.py
Due: ty-check

fix: handle dangling tag references in annotation cards
  src/promptgrimoire/pages/annotation/cards.py
Due: ty-check

fix: skip unknown files during telemetry ingest instead of crashing
  scripts/incident/ingest.py
  scripts/incident/provenance.py
  tests/unit/incident/test_ingest.py
Due: ty-check

fix: skip dangling/untagged highlights in PDF export
  src/promptgrimoire/pages/annotation/pdf_export.py
Due: ty-check

fix: bail on dangling tag references in export, allow zero-highlight exports
  src/promptgrimoire/pages/annotation/pdf_export.py
  tests/unit/test_export_dangling_tag_filter.py
Due: ty-check

fix: add word_to_legal_para, use str(exc) for error_message (#402)
  src/promptgrimoire/export/worker.py
  tests/integration/test_export_worker.py
Due: ty-check

feat: register export worker in app startup/shutdown (#402)
  src/promptgrimoire/__init__.py
Due: ty-check

feat: increase page response_timeout to 60s for PDF export (#402)
  src/promptgrimoire/pages/registry.py
  tests/unit/pages/test_registry.py
Due: ty-check

test: add fair-scheduling comments and rollback explanation (#402)
  tests/integration/test_export_jobs.py
Due: ty-check

feat: register export download route at app startup (#402)
  src/promptgrimoire/__init__.py
Due: ty-check
