Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

ty-check:
  name: ty type check
  entry: uvx ty check
  language: system
  pass_filenames: false

docs-index:
  name: regenerate docs/_index.md
  entry: uv run python scripts/generate_docs_index.py
  language: system
  pass_filenames: false

chore: upgrade mkdocs-material 9.7.3 → 9.7.5
  uv.lock
Due: none

chore: upgrade pymupdf 1.27.1 → 1.27.2 + pymupdf-layout 1.27.1 → 1.27.2
  uv.lock
Due: none

chore: upgrade mammoth 1.11.0 → 1.12.0
  uv.lock
Due: none

test(cli): add skip/fail classification tests for batch export
  tests/unit/export/test_batch_export_skip.py
Due: ty-check

fix(cli): distinguish skip from fail in batch export, add validation script
  scripts/batch_validate_exports.sh
  src/promptgrimoire/cli/export.py
Due: ty-check

fix(cli): clear output dir on batch export, fix nullglob and stderr logging
  scripts/batch_validate_exports.sh
  src/promptgrimoire/cli/export.py
Due: ty-check

fix: cache Stytch client singleton to prevent aiohttp session leaks (#378)
  src/promptgrimoire/auth/factory.py
  tests/unit/test_auth_client.py
Due: ty-check

docs: cache Stytch SDK async session management reference
  docs/_index.md
  docs/stytch/async-session-management.md
Due: docs-index

docs: add Firefox E2E failure investigation
  docs/_index.md
  docs/postmortems/2026-03-18-firefox-e2e-failures.md
Due: docs-index

fix(cli): thread browser through E2E retry chain
  src/promptgrimoire/cli/e2e/_parallel.py
  src/promptgrimoire/cli/e2e/_retry.py
  tests/unit/test_cli_e2e_runner.py
  tests/unit/test_cli_parallel.py
Due: ty-check

fix(e2e): wait for positioned cards instead of single rAF
  tests/e2e/test_card_layout.py
Due: ty-check

test: dynamically scrub pydantic settings from test environment
  tests/unit/conftest.py
Due: ty-check

fix(js): add Biome lint gate, fix parseInt radix and isNaN errors
  .pre-commit-config.yaml
  biome.json
  src/promptgrimoire/static/annotation-card-sync.js
  src/promptgrimoire/static/annotation-highlight.js
  tests/e2e/test_card_layout.py
Due: ty-check

fix: coerce CRDT highlight char offsets to int at read boundary
  src/promptgrimoire/pages/annotation/cards.py
  src/promptgrimoire/pages/annotation/highlights.py
  src/promptgrimoire/pages/annotation/organise.py
  src/promptgrimoire/pages/annotation/respond.py
Due: ty-check

docs: update Firefox E2E investigation with differential and peer review
  docs/postmortems/2026-03-18-firefox-e2e-failures.md
Due: docs-index

feat: add session acquisition timing and per-step resolve_context instrumentation
  src/promptgrimoire/db/engine.py
  src/promptgrimoire/pages/annotation/workspace.py
Due: ty-check

feat: add PG006 guard against unguarded HTTP calls in unit tests (#375)
  tests/unit/test_e2e_anti_patterns.py
Due: ty-check

fix: Beszel API auth, field mappings, and credential loading
  scripts/incident/parsers/beszel.py
Due: ty-check

test: add concurrent page load stress test for #377
  tests/e2e/test_page_load_concurrency.py
Due: ty-check

fix: update Beszel tests for v0.9+ field mappings and auth
  tests/unit/incident/test_beszel.py
Due: ty-check

docs: add telemetry pipeline to incident response playbook and testing.md
  docs/_index.md
  docs/postmortems/2026-03-16-incident-response.md
  docs/postmortems/2026-03-18-page-load-latency-377.md
  docs/testing.md
Due: docs-index

feat: add DEBUG instrumentation for page load timing and card rebuild triggers
  src/promptgrimoire/pages/annotation/broadcast.py
  src/promptgrimoire/pages/annotation/cards.py
  src/promptgrimoire/pages/annotation/document.py
  src/promptgrimoire/pages/annotation/highlights.py
  src/promptgrimoire/pages/annotation/tag_management_save.py
  src/promptgrimoire/pages/annotation/tag_quick_create.py
  src/promptgrimoire/pages/annotation/workspace.py
Due: ty-check

docs: add #377 page load latency investigation with peer review fixes
  docs/postmortems/2026-03-18-page-load-latency-377.md
Due: docs-index

perf: rewrite clone internals with INSERT...SELECT (#364)
  src/promptgrimoire/db/workspaces.py
Due: ty-check

test: wire tags to groups in query-counting fixture (#364)
  tests/integration/test_clone_idempotency.py
Due: ty-check

test: replace falsification tests with idempotency assertions (#364)
  src/promptgrimoire/db/workspaces.py
  tests/integration/test_clone_idempotency.py
Due: ty-check

feat: add duplicate workspace detection query (#364)
  src/promptgrimoire/cli/admin.py
  src/promptgrimoire/db/workspaces.py
  tests/integration/test_clone_idempotency.py
Due: ty-check

test: add query-counting test for O(1) clone round-trips (#364)
  tests/integration/test_clone_idempotency.py
Due: ty-check

docs: add clone idempotency design plan (#364)
  docs/design-plans/2026-03-18-clone-idempotency-364.md
  tests/integration/test_clone_idempotency.py
Due: ty-check, docs-index

docs: add grimoire admin duplicates to CLAUDE.md (#364)
  CLAUDE.md
Due: none

refactor: use bindparams for advisory lock SQL (#364)
  src/promptgrimoire/db/workspaces.py
Due: ty-check

docs: note non-deterministic ordering in duplicate detection test (#364)
  tests/integration/test_clone_idempotency.py
Due: ty-check

feat: add advisory lock + existence check for clone idempotency (#364)
  src/promptgrimoire/db/workspaces.py
Due: ty-check

docs: add epoch analysis design plan
  docs/_index.md
  docs/design-plans/2026-03-18-epoch-analysis.md
Due: docs-index

refactor: replace ValueError with ConversionError in file converters (#390)
  src/promptgrimoire/input_pipeline/__init__.py
  src/promptgrimoire/input_pipeline/converters.py
  tests/unit/input_pipeline/test_converters.py
Due: ty-check

fix: log file conversion failures at WARNING, not ERROR (#390)
  src/promptgrimoire/pages/annotation/upload_handler.py
  tests/unit/pages/test_upload_handler.py
Due: ty-check

test: add Phase 5 trend analysis tests
  tests/unit/test_epoch_trends.py
Due: ty-check

docs: update CLAUDE.md, AGENTS.md, and docs index for epoch analysis
  CLAUDE.md
  scripts/incident/AGENTS.md
  tests/test-pseudocode.md
Due: none

feat: add render_review_report() and review CLI subcommand (Phase 6)
  scripts/incident/analysis.py
  scripts/incident_db.py
  tests/unit/test_report_render.py
  tests/unit/test_review_cli.py
Due: ty-check

fix: use bound parameter for LOGIN_EVENT_PATTERN in user metrics SQL
  scripts/incident/analysis.py
  tests/unit/test_epoch_users.py
Due: ty-check

Path conditions:
  ty-check: any of: \.py$
  docs-index: any of: ^docs/.*\.md$
