Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

.pre-commit-config.yaml:

repos:
  # Ruff: lint with autofix, then format
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.4
    hooks:
      # Run the linter with autofix
      - id: ruff-check
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # Type checking
  - repo: local
    hooks:
      - id: ty-check
        name: ty type check
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false

  # Docs index regeneration
  - repo: local
    hooks:
      - id: docs-index
        name: regenerate docs/_index.md
        entry: uv run python scripts/generate_docs_index.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

  # Cognitive complexity gate â€” blocks commits with functions > 15
  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v4.2.0
    hooks:
      - id: complexipy
        args: ['--max-complexity-allowed=15']

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.4
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml"]

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
        exclude: '^(paper/|ai_transcripts/|src/promptgrimoire/static/milkdown/dist/)'
      - id: check-merge-conflict

test(perf): single attempt per action — failures are the measurement
  tests/e2e/test_soak_full_crud_load.py
Due: ty-check

docs(perf): PgBouncer-series evidence -- flat server p50, snapshot refuted
  docs/_index.md
  docs/investigations/2026-08-19-soak-cram-perf-evidence.md
  docs/testing.md
Due: docs-index

fix(logging): file handler defaults to INFO; demote per-render chatter
  .env.example
  docs/logging.md
  src/promptgrimoire/config.py
  src/promptgrimoire/logging_config.py
  src/promptgrimoire/pages/annotation/organise.py
  src/promptgrimoire/pages/annotation/respond.py
  src/promptgrimoire/pages/annotation/sidebar.py
Due: ty-check, docs-index

chore(perf): run perf lanes in their own systemd cgroup
  scripts/perf-run.sh
Due: none

chore: gitignore raw perf-data run JSONs
  .gitignore
Due: none

feat(perf): add global performance harness
  docs/design-plans/2026-08-21-global-performance-harness.md
  docs/implementation-plans/2026-08-21-global-performance-harness/index.md
  docs/implementation-plans/2026-08-21-global-performance-harness/outcome-1-single-run.md
  docs/implementation-plans/2026-08-21-global-performance-harness/outcome-2-campaign-state.md
  docs/implementation-plans/2026-08-21-global-performance-harness/outcome-3-external-target.md
  docs/implementation-plans/2026-08-21-global-performance-harness/outcome-4-probes-uat.md
  docs/perf-target-adapter.md
  docs/testing.md
  src/promptgrimoire/cli/__init__.py
  src/promptgrimoire/cli/_shared.py
  src/promptgrimoire/cli/e2e/__init__.py
  src/promptgrimoire/cli/e2e/_server.py
  src/promptgrimoire/cli/e2e/_server_script.py
  src/promptgrimoire/cli/perf/__init__.py
  src/promptgrimoire/cli/perf/campaign.py
  src/promptgrimoire/cli/perf/cli.py
  src/promptgrimoire/cli/perf/external.py
  src/promptgrimoire/cli/perf/local.py
  src/promptgrimoire/cli/perf/models.py
  src/promptgrimoire/cli/perf/probes.py
  src/promptgrimoire/cli/perf/results.py
  src/promptgrimoire/cli/perf/runner.py
  src/promptgrimoire/cli/perf/server_evidence.py
  src/promptgrimoire/cli/perf/state.py
  src/promptgrimoire/cli/perf/summary.py
  src/promptgrimoire/cli/perf/targets.py
  src/promptgrimoire/cli/testing.py
  tests/e2e/perf_reporting.py
  tests/e2e/test_assessment_cram_load.py
  tests/e2e/test_soak_full_crud_load.py
  tests/e2e/test_thundering_herd.py
  tests/unit/test_cli_e2e_runner.py
  tests/unit/test_env_vars.py
  tests/unit/test_perf_campaign.py
  tests/unit/test_perf_cli.py
  tests/unit/test_perf_probe_verdicts.py
  tests/unit/test_perf_results.py
  tests/unit/test_perf_runner.py
  tests/unit/test_perf_state.py
  tests/unit/test_perf_targets.py
Due: ty-check, docs-index

fix(perf): protect CLI secrets and recheck provenance
  src/promptgrimoire/cli/__init__.py
  src/promptgrimoire/cli/perf/state.py
  tests/unit/test_perf_cli.py
  tests/unit/test_perf_state.py
Due: ty-check

fix(perf): attest local database preparation
  src/promptgrimoire/cli/perf/local.py
  tests/unit/test_perf_targets.py
Due: ty-check

fix(perf): clean up timed-out target adapters
  src/promptgrimoire/cli/perf/targets.py
  tests/unit/test_perf_targets.py
Due: ty-check

test(ui): await enrollment table refresh
  tests/integration/test_instructor_course_admin_ui.py
Due: ty-check

chore: register shared bunyip CI skill
  .agents/skills/bunyip-ci/SKILL.md
  .agents/skills/bunyip-ci/agents/openai.yaml
  .claude/skills/bunyip-ci
Due: none

ci: add isolated exact-sha pre-pr route
  .github/workflows/pre-pr-ci.yml
  deploy/tests/test_pre_pr_status.bats
  docs/ci-runners.md
  scripts/pre-pr-status.sh
  tests/unit/test_pre_pr_ci_contract.py
Due: ty-check, docs-index

docs: teach bunyip skill focused test runs
  .agents/skills/bunyip-ci/SKILL.md
Due: none

ci: avoid host postgres in nightly act
  .github/workflows/nightly-e2e-slow.yml
  tests/unit/test_act_ci_contract.py
Due: ty-check

docs: tighten bunyip completion monitoring
  .agents/skills/bunyip-ci/SKILL.md
Due: none

docs: clarify bunyip shared-host affordances
  .agents/skills/bunyip-ci/SKILL.md
Due: none

docs: make bunyip CI completion event-driven
  .agents/skills/bunyip-ci/SKILL.md
Due: none

ci: make act runner match canonical lanes
  .github/workflows/act-ci.yml
  .github/workflows/ci.yml
  .github/workflows/nightly-e2e-slow.yml
  Dockerfile.act
  docs/ci-runners.md
  tests/unit/test_act_ci_contract.py
Due: ty-check, docs-index

fix(export): prevent cleanup removing temp root
  src/promptgrimoire/db/export_jobs.py
  tests/integration/test_export_jobs.py
Due: ty-check

fix(ci): retain accurate nightly evidence
  .github/workflows/nightly-e2e-slow.yml
  deploy/tests/test_nightly_summary.bats
  scripts/nightly-summary.sh
  tests/unit/test_act_ci_contract.py
Due: ty-check

fix(deps): update pip past security advisory
  uv.lock
Due: none

ci: add pre-PR runner smoke workflow
  .github/workflows/pre-pr-runner-smoke.yml
  docs/ci-runners.md
  tests/unit/test_pre_pr_ci_contract.py
Due: ty-check, docs-index

fix(deps): update mkdocs-material past security advisory
  uv.lock
Due: none

ci: set up Node before npm ci in the isolated pre-PR job
  .github/workflows/pre-pr-ci.yml
  tests/unit/test_pre_pr_ci_contract.py
Due: ty-check
