Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

.pre-commit-config.yaml:

repos:
  # Ruff: lint with autofix, then format
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      # Run the linter with autofix
      - id: ruff-check
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # Type checking
  - repo: local
    hooks:
      - id: ty-check
        name: ty type check
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false

  # Docs index regeneration
  - repo: local
    hooks:
      - id: docs-index
        name: regenerate docs/_index.md
        entry: uv run python scripts/generate_docs_index.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.3
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml"]

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
        exclude: '^(paper/|ai_transcripts/|src/promptgrimoire/static/milkdown/dist/)'
      - id: check-merge-conflict

docs: add Unit-not-Course terminology convention to CLAUDE.md
  CLAUDE.md
Due: none

docs: add paragraph numbering design plan (#191)
  docs/design-plans/2026-02-25-paragraph-numbering-191.md
Due: docs-index

docs: update AAF and Stytch cached docs for OIDC integration
  docs/_index.md
  docs/aaf/oidc-integration.md
  docs/aaf/test-federation.md
  docs/stytch/sso-oidc-testing.md
  docs/stytch/sso-oidc.md
  docs/stytch/sso-overview.md
Due: docs-index

docs: add AAF OIDC auth design plan (#188, #189)
  docs/ARCHITECTURE.md
  docs/design-plans/2026-02-26-aaf-oidc-auth-188-189.md
Due: docs-index

docs: add AAF OIDC auth implementation plan (6 phases)
  docs/implementation-plans/2026-02-26-aaf-oidc-auth-188-189/phase_01.md
  docs/implementation-plans/2026-02-26-aaf-oidc-auth-188-189/phase_02.md
  docs/implementation-plans/2026-02-26-aaf-oidc-auth-188-189/phase_03.md
  docs/implementation-plans/2026-02-26-aaf-oidc-auth-188-189/phase_04.md
  docs/implementation-plans/2026-02-26-aaf-oidc-auth-188-189/phase_05.md
  docs/implementation-plans/2026-02-26-aaf-oidc-auth-188-189/phase_06.md
  docs/implementation-plans/2026-02-26-aaf-oidc-auth-188-189/test-requirements.md
Due: docs-index

feat(auth): add trusted_metadata field and derive_roles_from_metadata()
  src/promptgrimoire/auth/__init__.py
  src/promptgrimoire/auth/models.py
  tests/unit/test_derive_roles.py
Due: ty-check

feat(auth): pass trusted_metadata through SSO authentication
  src/promptgrimoire/auth/client.py
  src/promptgrimoire/auth/mock.py
  tests/unit/test_auth_client.py
  tests/unit/test_mock_client.py
Due: ty-check

feat(auth): merge AAF-derived roles in SSO callback
  src/promptgrimoire/pages/auth.py
Due: ty-check

feat(auth): add Google OAuth, reorder login page, enforce MQ email domains
  src/promptgrimoire/pages/auth.py
  tests/e2e/test_auth_pages.py
  tests/unit/test_magic_link_domain.py
Due: ty-check

fix(auth): dispatch callbacks by stytch_token_type parameter
  src/promptgrimoire/pages/auth.py
Due: ty-check

debug(auth): log trusted_metadata on SSO success
  src/promptgrimoire/pages/auth.py
Due: ty-check

chore(auth): demote SSO trusted_metadata log to debug level
  src/promptgrimoire/pages/auth.py
Due: ty-check

feat(auth): add manage-users instructor command for Stytch metadata
  src/promptgrimoire/auth/client.py
  src/promptgrimoire/auth/mock.py
  src/promptgrimoire/auth/models.py
  src/promptgrimoire/auth/protocol.py
  src/promptgrimoire/cli.py
Due: ty-check

feat(auth): admin command updates both local DB and Stytch metadata
  src/promptgrimoire/cli.py
  src/promptgrimoire/pages/auth.py
  tests/unit/test_manage_users.py
Due: ty-check

feat(config): add FeaturesConfig with enable_roleplay and enable_file_upload
  CLAUDE.md
  src/promptgrimoire/config.py
  src/promptgrimoire/pages/layout.py
  src/promptgrimoire/pages/registry.py
Due: ty-check

feat(pages): gate roleplay/logs/upload on feature flags
  .env.example
  src/promptgrimoire/pages/annotation/content_form.py
  src/promptgrimoire/pages/logviewer.py
  src/promptgrimoire/pages/roleplay.py
  tests/unit/test_settings.py
Due: ty-check

docs: document feature flags in configuration.md
  CLAUDE.md
  docs/configuration.md
Due: docs-index

refactor(logging): demote routine logger.info calls to debug level
  src/promptgrimoire/crdt/annotation_doc.py
  src/promptgrimoire/crdt/persistence.py
  src/promptgrimoire/input_pipeline/html_input.py
  src/promptgrimoire/pages/annotation/broadcast.py
  src/promptgrimoire/pages/annotation/respond.py
  src/promptgrimoire/pages/auth.py
  src/promptgrimoire/pages/highlight_api_demo.py
  src/promptgrimoire/pages/milkdown_spike.py
Due: ty-check

feat: add navigator UNION ALL query and Python data loader
  src/promptgrimoire/db/navigator.py
  src/promptgrimoire/db/navigator.sql
Due: ty-check

fix: address Phase 4 code review issues
  src/promptgrimoire/pages/navigator.py
  tests/e2e/test_navigator.py
Due: ty-check

feat: replace QScrollArea with plain overflow div for infinite scroll
  src/promptgrimoire/pages/navigator.py
  tests/e2e/test_navigator.py
  tests/unit/test_e2e_compliance.py
Due: ty-check

docs: update design plan and test requirements for phases 4-8
  docs/design-plans/2026-02-24-workspace-navigator-196.md
  docs/implementation-plans/2026-02-24-workspace-navigator-196/test-requirements.md
Due: docs-index

feat: add infinite scroll pagination to navigator
  src/promptgrimoire/pages/navigator.py
Due: ty-check

fix: update enrol_student helper to match "Back to Unit" button label
  tests/e2e/course_helpers.py
Due: ty-check

wip notes
  docs/implementation-plans/2026-02-24-workspace-navigator-196/dba-review-wip.md
  docs/implementation-plans/2026-02-24-workspace-navigator-196/test-requirements.md
Due: docs-index

fix: address Phase 6 code review issues in _save_title
  src/promptgrimoire/pages/navigator.py
Due: ty-check

feat: add FTS columns and GIN expression indexes
  alembic/versions/2cef9ec5dc10_add_fts_infrastructure.py
Due: ty-check

fix: add type: ignore[deprecated] for raw SQL session.execute() calls
  src/promptgrimoire/db/acl.py
  src/promptgrimoire/db/tags.py
  src/promptgrimoire/search_worker.py
  tests/integration/test_acl_crud.py
  tests/integration/test_fts_search.py
Due: ty-check

fix: seed tags per-workspace and use Tag UUIDs in load-test CRDT state
  src/promptgrimoire/cli_loadtest.py
Due: ty-check

refactor: simplify Phase 1 FTS extraction and worker code
  src/promptgrimoire/db/search.py
  src/promptgrimoire/search_worker.py
Due: ty-check

feat: add zero-workspace student list to course detail page
  src/promptgrimoire/db/courses.py
  src/promptgrimoire/db/search.py
  src/promptgrimoire/pages/courses.py
Due: ty-check

docs: update test-requirements.md for Phase 4 completion
  docs/implementation-plans/2026-02-24-workspace-navigator-196/test-requirements.md
Due: docs-index

fix: address code review feedback on Phase 2 load-test fixture
  src/promptgrimoire/cli_loadtest.py
Due: ty-check

fix: revert title value on save failure in inline rename
  src/promptgrimoire/pages/navigator.py
Due: ty-check

docs: add EXPLAIN ANALYZE results for navigator query
  docs/implementation-plans/2026-02-24-workspace-navigator-196/explain-analyze-results.md
Due: docs-index

fix: suppress pool checkout/checkin DEBUG spam
  src/promptgrimoire/db/engine.py
Due: ty-check

fix: correct FOR UPDATE SKIP LOCKED comment to accurately describe concurrency model
  src/promptgrimoire/search_worker.py
Due: ty-check

fix: globally suppress ty deprecated rule for session.execute (#199)
  pyproject.toml
  src/promptgrimoire/db/acl.py
  src/promptgrimoire/db/courses.py
  src/promptgrimoire/db/navigator.py
  src/promptgrimoire/db/search.py
  src/promptgrimoire/db/tags.py
  src/promptgrimoire/search_worker.py
  tests/integration/test_acl_crud.py
  tests/integration/test_fts_search.py
  tests/integration/test_navigator_loader.py
Due: ty-check

feat: add search_text and search_dirty fields to Workspace model
  src/promptgrimoire/db/models.py
Due: ty-check

feat: add server-side search with debounce to workspace navigator
  docs/implementation-plans/2026-02-24-workspace-navigator-196/test-requirements.md
  src/promptgrimoire/pages/navigator.py
Due: ty-check, docs-index
