Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

.pre-commit-config.yaml:

repos:
  # Ruff: lint with autofix, then format
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.4
    hooks:
      # Run the linter with autofix
      - id: ruff-check
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # Type checking
  - repo: local
    hooks:
      - id: ty-check
        name: ty type check
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false

  # Docs index regeneration
  - repo: local
    hooks:
      - id: docs-index
        name: regenerate docs/_index.md
        entry: uv run python scripts/generate_docs_index.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

  # Cognitive complexity gate â€” blocks commits with functions > 15
  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v4.2.0
    hooks:
      - id: complexipy
        args: ['--max-complexity-allowed=15']

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.4
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml"]

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
        exclude: '^(paper/|ai_transcripts/|src/promptgrimoire/static/milkdown/dist/)'
      - id: check-merge-conflict

fix: apply console field stripping to structlog-originated events
  src/promptgrimoire/__init__.py
Due: ty-check

feat: add `grimoire admin webhook` command for Discord alert testing
  src/promptgrimoire/cli/admin.py
Due: ty-check

docs: add structured logging developer guide and CLAUDE.md conventions
  CLAUDE.md
  docs/_index.md
  docs/logging.md
Due: docs-index

docs: update project context for structured-logging-339
  AGENTS.md
  CLAUDE.md
  docs/dependency-rationale.md
  tests/test-pseudocode.md
Due: docs-index

deps: upgrade pyjwt 2.10.1 → 2.12.1 (CVE-2026-32597)
  uv.lock
Due: none

feat: add data-testid to 'Students with no work' expansion panel
  src/promptgrimoire/pages/courses.py
Due: ty-check

fix: remove stale \emoji{} macro from preamble compilation test
  tests/unit/test_latex_packages.py
Due: ty-check

docs: add multi-document tabbed workspace design plan (#186)
  docs/_index.md
  docs/architecture/dfd/1-level-1-decomposition.md
  docs/architecture/dfd/5-annotate-texts.md
  docs/design-plans/2026-03-14-multi-doc-tabs-186.md
  docs/dfd-annotation-pipeline.md
Due: docs-index

docs: add test lane restructure design plan
  docs/design-plans/2026-03-14-test-lane-restructure.md
Due: docs-index

fix: correct stale can_delete rule in permission tests
  tests/unit/test_page_state_permissions.py
Due: ty-check

docs: add Level 0 and Level 1 DFD for architecture documentation
  docs/_index.md
  docs/architecture/dfd/0-context-diagram.md
  docs/architecture/dfd/1-level-1-decomposition.md
Due: docs-index

chore: gitignore review directories for cross-tool test audit
  .gitignore
Due: none

chore: add skill for adding flight-rules documentation entries
  .claude/skills/add-docs-entry/SKILL.md
Due: none

docs: add flight-rules entries for 'Students with no work' and publish workflow
  docs/_index.md
  docs/guides/using-promptgrimoire.md
  src/promptgrimoire/docs/scripts/using_promptgrimoire.py
Due: ty-check, docs-index

chore: register smoke pytest marker and exclude from default addopts
  pyproject.toml
Due: none

refactor: move TestEnsureDatabaseExistsIntegration to tests/integration/
  tests/integration/test_settings_db.py
  tests/unit/test_settings.py
Due: ty-check

feat: add --co/--collect-only flag to test all and test all-fixtures
  src/promptgrimoire/cli/testing.py
Due: ty-check

docs: add test lane restructure implementation plan
  docs/implementation-plans/2026-03-14-test-lane-restructure/phase_01.md
  docs/implementation-plans/2026-03-14-test-lane-restructure/phase_02.md
  docs/implementation-plans/2026-03-14-test-lane-restructure/phase_03.md
  docs/implementation-plans/2026-03-14-test-lane-restructure/phase_04.md
  docs/implementation-plans/2026-03-14-test-lane-restructure/phase_05.md
  docs/implementation-plans/2026-03-14-test-lane-restructure/phase_06.md
  docs/implementation-plans/2026-03-14-test-lane-restructure/test-requirements.md
Due: docs-index

feat: apply smoke marker to custom-toolchain test classes
  tests/unit/export/test_empty_content_guard.py
  tests/unit/input_pipeline/test_converters.py
  tests/unit/input_pipeline/test_process_input.py
  tests/unit/test_latex_environment.py
  tests/unit/test_latex_packages.py
Due: ty-check

feat: centralise requires_pandoc and propagate smoke marker through decorators
  tests/conftest.py
  tests/integration/test_pdf_export.py
  tests/unit/export/test_css_fidelity.py
  tests/unit/export/test_markdown_to_latex.py
Due: ty-check

feat: narrow test all to unit-only, exclude smoke tests
  docs/guides/using-promptgrimoire.md
  src/promptgrimoire/cli/testing.py
  tests/unit/test_cli_testing.py
Due: ty-check, docs-index

feat: add test smoke command for toolchain-dependent tests
  src/promptgrimoire/cli/testing.py
  tests/unit/test_cli_testing.py
Due: ty-check

chore: remove obsolete test all-fixtures command
  .gitignore
Due: none

feat: expand e2e all to 6 lanes
  .gitignore
  src/promptgrimoire/cli/e2e/__init__.py
Due: ty-check

docs: add lane/verb matrix and remove all-fixtures from testing.md
  docs/_index.md
  docs/testing.md
Due: docs-index

docs: update CLAUDE.md Key Commands for new test lane structure
  CLAUDE.md
Due: none

fix: treat no-tests-collected as success for blns+slow lane
  src/promptgrimoire/cli/e2e/__init__.py
Due: ty-check

docs: update project context for 6-lane test model
  AGENTS.md
  CLAUDE.md
  tests/test-pseudocode.md
Due: none

fix: prevent LaTeX process leaks and OOM from export retry spam
  src/promptgrimoire/export/pdf.py
  src/promptgrimoire/pages/annotation/pdf_export.py
  tests/unit/test_compile_latex_timeout.py
  tests/unit/test_per_user_export_lock.py
Due: ty-check

docs: document LaTeX compilation safety measures
  docs/export.md
  src/promptgrimoire/docs/scripts/using_promptgrimoire.py
  tests/test-pseudocode.md
Due: ty-check, docs-index

fix: suppress Discord alerts during test runs and add server hostname
  src/promptgrimoire/logging_discord.py
  tests/unit/test_logging_discord.py
Due: ty-check

docs: add post-mortem for 2026-03-15 production OOM outage
  docs/_index.md
  docs/postmortems/2026-03-15-production-oom.md
Due: docs-index

docs: add swap, systemd override, and apparmor fix to deployment guide
  docs/deployment.md
Due: docs-index

feat: add /healthz endpoint for UptimeRobot monitoring
  src/promptgrimoire/__init__.py
Due: ty-check

fix: allowlist logging_discord.py in os.environ guard test
  tests/unit/test_env_vars.py
Due: ty-check

docs: add monitoring section (UptimeRobot + Beszel) to deployment guide
  docs/_index.md
  docs/deployment.md
Due: docs-index

docs: rewrite Beszel setup with networking prereqs and gotchas
  docs/deployment.md
Due: docs-index

fix: normalise empty student_id to NULL in bulk enrolment
  src/promptgrimoire/db/enrolment.py
Due: ty-check

test: add regression test for empty student_id bulk enrolment
  tests/integration/test_bulk_enrolment.py
Due: ty-check
