Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

.pre-commit-config.yaml:

repos:
  # Ruff: lint with autofix, then format
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.4
    hooks:
      # Run the linter with autofix
      - id: ruff-check
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # Type checking
  - repo: local
    hooks:
      - id: ty-check
        name: ty type check
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false

  # Docs index regeneration
  - repo: local
    hooks:
      - id: docs-index
        name: regenerate docs/_index.md
        entry: uv run python scripts/generate_docs_index.py
        language: system
        files: ^docs/.*\.md$
        pass_filenames: false

  # Cognitive complexity gate â€” blocks commits with functions > 15
  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v4.2.0
    hooks:
      - id: complexipy
        args: ['--max-complexity-allowed=15']

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.4
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml"]

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
        exclude: '^(paper/|ai_transcripts/|src/promptgrimoire/static/milkdown/dist/)'
      - id: check-merge-conflict

docs: add annotation deferred load design plan (#377)
  docs/design-plans/2026-03-25-annotation-deferred-load-377.md
Due: docs-index

feat: add AnnotationContext unified DB resolver (#377)
  src/promptgrimoire/db/workspaces.py
  tests/integration/test_annotation_context.py
Due: ty-check

fix: guard cursor/selection JS against script load race (#377)
  src/promptgrimoire/pages/annotation/broadcast.py
  tests/unit/test_replay_cursor_deferred.py
Due: ty-check

test: use wait_for_annotation_load in NiceGUI integration tests (#377)
  tests/integration/test_annotation_pdf_export_filename_ui.py
  tests/integration/test_organise_charac.py
  tests/integration/test_respond_charac.py
Due: ty-check

fix(logging): remove setLevel from remaining modules (#377)
  src/promptgrimoire/auth/client.py
  src/promptgrimoire/cli/e2e/_parallel.py
  src/promptgrimoire/config.py
  src/promptgrimoire/deadline_worker.py
  src/promptgrimoire/docs/seed.py
  src/promptgrimoire/input_pipeline/converters.py
  src/promptgrimoire/input_pipeline/html_input.py
  src/promptgrimoire/llm/client.py
  src/promptgrimoire/search_worker.py
  src/promptgrimoire/ui_helpers.py
  src/promptgrimoire/word_count.py
Due: ty-check

docs: tighten design plan language re query consolidation (#377)
  docs/_index.md
  docs/design-plans/2026-03-25-annotation-deferred-load-377.md
Due: docs-index

feat(annotation): deferred page load via background task (#377)
  src/promptgrimoire/pages/annotation/__init__.py
  src/promptgrimoire/pages/annotation/workspace.py
Due: ty-check

test(e2e): deferred page load spinner and error handling (#377)
  tests/e2e/test_deferred_load.py
Due: ty-check

docs: correct remaining JOIN claims in design plan (#377)
  docs/design-plans/2026-03-25-annotation-deferred-load-377.md
Due: docs-index

docs: add annotation deferred load implementation plan (#377)
  docs/implementation-plans/2026-03-25-annotation-deferred-load-377/phase_01.md
  docs/implementation-plans/2026-03-25-annotation-deferred-load-377/phase_02.md
  docs/implementation-plans/2026-03-25-annotation-deferred-load-377/phase_03.md
  docs/implementation-plans/2026-03-25-annotation-deferred-load-377/phase_04.md
  docs/implementation-plans/2026-03-25-annotation-deferred-load-377/test-requirements.md
Due: docs-index

docs: add Phase 4 perf results for deferred load (#377)
  docs/implementation-plans/2026-03-25-annotation-deferred-load-377/perf-results.md
Due: docs-index

docs: update project context for debug/377-workspace-performance (#377)
  AGENTS.md
  CLAUDE.md
  docs/annotation-architecture.md
  docs/logging.md
  tests/test-pseudocode.md
Due: docs-index

test(e2e): strengthen deferred load test coverage (#377)
  tests/e2e/test_deferred_load.py
Due: ty-check

fix: add annotation-ready marker for NiceGUI deferred load gate (#377)
  src/promptgrimoire/pages/annotation/workspace.py
  tests/integration/nicegui_helpers.py
Due: ty-check

docs: update deployment guide for DigitalOcean (32 GB)
  docs/deployment.md
Due: docs-index

test: use PABAI fixture for realistic H7 contamination test (#438)
  tests/e2e/test_h7_session_contamination.py
Due: ty-check

test: add H7 session contamination E2E reproducer (#438)
  docs/investigations/2026-03-28-session-contamination-438.md
  tests/e2e/test_h7_session_contamination.py
Due: ty-check, docs-index

docs: fix four review findings in investigation doc (#438)
  docs/investigations/2026-03-28-session-contamination-438.md
Due: docs-index

docs: update investigation with PABAI test results and student reports (#438)
  docs/investigations/2026-03-28-session-contamination-438.md
Due: docs-index

test: add /test/session-identity page to E2E server scripts
  src/promptgrimoire/cli/e2e/_server_script.py
  tests/conftest.py
Due: ty-check

fix: upgrade 503 maintenance page with healthz polling and extended outage message
  deploy/503.http
Due: none

feat: add session identity tracing for contamination detection (#438)
  src/promptgrimoire/__init__.py
  src/promptgrimoire/pages/auth.py
  src/promptgrimoire/pages/registry.py
Due: ty-check

test: rename reproducer, remove H7 references, fix guard tests (#438)
  docs/_index.md
  docs/investigations/2026-03-28-session-contamination-438.md
  src/promptgrimoire/cli/e2e/_server_script.py
  tests/conftest.py
  tests/e2e/test_session_contamination.py
  tests/unit/test_guide_testid_guard.py
Due: ty-check, docs-index

fix: remove redundant db guard and improve console log filtering
  src/promptgrimoire/__init__.py
  src/promptgrimoire/logging_config.py
Due: ty-check

ci: fix artifact bloat and pin Postgres to production version
  .github/workflows/ci.yml
Due: none

test: add perf marker to session contamination reproducer (#438)
  tests/e2e/test_session_contamination.py
Due: ty-check

fix: use settings and make_conninfo for CI-compatible DB connection (#438)
  tests/e2e/test_session_contamination.py
Due: ty-check

fix: add FEATURES__ENABLE_SEARCH_WORKER toggle to disable FTS worker under load
  .env.example
  src/promptgrimoire/__init__.py
  src/promptgrimoire/config.py
  src/promptgrimoire/pages/navigator/_page.py
Due: ty-check

fix: remove timer-based semaphore test that fails under server load
  tests/unit/test_compile_latex_timeout.py
Due: ty-check

docs: add Phase 1-3 implementation plans for eliminate-js-await (#454)
  docs/design-plans/2026-03-29-eliminate-js-await-454.md
  docs/implementation-plans/2026-03-29-eliminate-js-await-454/phase_01.md
  docs/implementation-plans/2026-03-29-eliminate-js-await-454/phase_02.md
  docs/implementation-plans/2026-03-29-eliminate-js-await-454/phase_03.md
  docs/implementation-plans/2026-03-29-eliminate-js-await-454/test-requirements.md
Due: docs-index

feat: convert broadcast loops to fire-and-forget (#454)
  src/promptgrimoire/pages/annotation/broadcast.py
  src/promptgrimoire/pages/annotation/document.py
  tests/unit/test_broadcast_fire_and_forget.py
  tests/unit/test_broadcast_iteration_safety.py
  tests/unit/test_replay_cursor_deferred.py
Due: ty-check

fix: remove 18 stale type-ignore directives flagged by ty 0.0.24
  scripts/incident/ingest.py
  src/promptgrimoire/cli/e2e/_server_script.py
  tests/integration/test_crdt_prefetch.py
  tests/unit/test_import_notification.py
Due: ty-check

feat: convert admin/restart/ban navigation to fire-and-forget (#454)
  src/promptgrimoire/__init__.py
  src/promptgrimoire/auth/client_registry.py
  src/promptgrimoire/diagnostics.py
  src/promptgrimoire/pages/restart.py
  tests/integration/test_pre_restart.py
  tests/unit/test_admin_navigation_fire_and_forget.py
  tests/unit/test_client_registry.py
  tests/unit/test_kick_endpoint.py
Due: ty-check

fix: close editor-init Yjs drop window and scroll overlap race (#454)
  src/promptgrimoire/pages/annotation/respond.py
  src/promptgrimoire/pages/annotation/tab_bar.py
  tests/unit/test_editor_ready_event.py
  tests/unit/test_scroll_save_fire_and_forget.py
Due: ty-check

docs: add eliminate-js-await design plan (#454)
  docs/design-plans/2026-03-29-eliminate-js-await-454.md
Due: docs-index

feat: bundle editor init, add readiness gating, convert scroll save (#454)
  src/promptgrimoire/pages/annotation/respond.py
  src/promptgrimoire/pages/annotation/tab_bar.py
  tests/unit/test_editor_init_fire_and_forget.py
  tests/unit/test_editor_ready_event.py
  tests/unit/test_scroll_save_fire_and_forget.py
Due: ty-check

feat: restructure paste handler to capture values in event payload (#454)
  src/promptgrimoire/pages/annotation/content_form.py
  src/promptgrimoire/pages/annotation/paste_handler.py
  tests/unit/test_paste_handler_event_payload.py
  tests/unit/test_pdf_export_markdown.py
Due: ty-check

feat: extend respond_yjs_update with markdown field, remove JS round-trip (#454)
  src/promptgrimoire/pages/annotation/respond.py
  tests/js/respond-yjs-payload.test.js
  tests/unit/test_markdown_sync_event.py
Due: ty-check

feat: promote CRDT fallback to primary path for PDF export (#454)
  src/promptgrimoire/pages/annotation/pdf_export.py
Due: ty-check
