Repository MQFacultyOfArts/PromptGrimoireTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, docs-index

ty-check:
  name: ty type check
  entry: uvx ty check
  language: system
  pass_filenames: false

docs-index:
  name: regenerate docs/_index.md
  entry: uv run python scripts/generate_docs_index.py
  language: system
  pass_filenames: false

wip: Phase 5 Subcomponent B — check_clone_eligibility + start_activity update
  src/promptgrimoire/db/workspaces.py
  src/promptgrimoire/pages/courses.py
  tests/integration/test_clone_eligibility.py
Due: ty-check

docs: update WIP state for Phase 5 progress
  docs/_index.md
  docs/implementation-plans/2026-02-15-96-workspace-acl/WIP.md
Due: docs-index

feat: add manage-users CLI for user and enrollment management
  src/promptgrimoire/cli.py
  tests/unit/test_manage_users.py
Due: ty-check

docs: wire manage-users entry point and update key commands
  CLAUDE.md
  pyproject.toml
Due: none

test: Phase 5 Subcomponent C — clone ownership integration tests and db exports
  docs/implementation-plans/2026-02-15-96-workspace-acl/WIP.md
  src/promptgrimoire/db/__init__.py
  tests/integration/test_clone_ownership.py
Due: ty-check, docs-index

feat: add allow_sharing tri-state to Activity and Course models
  alembic/versions/1184bd94f104_add_sharing_columns.py
  src/promptgrimoire/db/models.py
Due: ty-check

feat: add grant_share() and sharing resolution in PlacementContext
  src/promptgrimoire/db/__init__.py
  src/promptgrimoire/db/acl.py
  src/promptgrimoire/db/activities.py
  src/promptgrimoire/db/courses.py
  src/promptgrimoire/db/workspaces.py
Due: ty-check

feat: add sharing controls UI and integration tests (Phase 6)
  docs/implementation-plans/2026-02-15-96-workspace-acl/WIP.md
  src/promptgrimoire/pages/courses.py
  tests/integration/test_sharing_controls.py
Due: ty-check, docs-index

feat: add listing query functions for workspace access and course views
  src/promptgrimoire/db/__init__.py
  src/promptgrimoire/db/acl.py
Due: ty-check

feat: show Resume vs Start Activity based on workspace ownership
  src/promptgrimoire/pages/courses.py
Due: ty-check

test: add integration tests for listing queries (Phase 7)
  docs/implementation-plans/2026-02-15-96-workspace-acl/WIP.md
  tests/integration/test_listing_queries.py
Due: ty-check, docs-index

test: close AC coverage gaps for Phases 1-7 (AC1.3, AC6.6, AC6.9, AC7.5)
  docs/implementation-plans/2026-02-15-96-workspace-acl/test-requirements.md
  tests/integration/test_acl_reference_tables.py
  tests/integration/test_clone_ownership.py
  tests/integration/test_permission_resolution.py
Due: ty-check, docs-index

feat: add check_workspace_access() and on_revoke callback for enforcement
  src/promptgrimoire/auth/__init__.py
  src/promptgrimoire/db/acl.py
Due: ty-check

feat: add enforcement guards and revocation broadcast (Phase 8)
  src/promptgrimoire/pages/annotation/__init__.py
  src/promptgrimoire/pages/annotation/broadcast.py
  src/promptgrimoire/pages/annotation/workspace.py
  src/promptgrimoire/pages/roleplay.py
  tests/unit/test_remote_presence_refactor.py
Due: ty-check

test: add integration tests for enforcement and revocation (Phase 8)
  docs/implementation-plans/2026-02-15-96-workspace-acl/WIP.md
  docs/implementation-plans/2026-02-15-96-workspace-acl/test-requirements.md
  tests/integration/test_enforcement.py
Due: ty-check, docs-index

docs: reference GitHub issues for deferred Phase 8 work (#171, #172)
  src/promptgrimoire/pages/annotation/workspace.py
  tests/integration/test_enforcement.py
Due: ty-check

docs: add UAT walkthrough for workspace ACL (#96)
  docs/uat-walkthrough-96.md
Due: docs-index

fix: address Phase 6-7 code review findings in ACL and courses modules
  src/promptgrimoire/db/acl.py
  src/promptgrimoire/pages/courses.py
Due: ty-check

test: add list_activity_workspaces tests and fix dead Ellipsis guard
  tests/integration/test_listing_queries.py
  tests/integration/test_sharing_controls.py
Due: ty-check

feat: add `create` subcommand to manage-users CLI
  CLAUDE.md
  src/promptgrimoire/cli.py
Due: ty-check

docs: update project context for 96-workspace-acl
  CLAUDE.md
  docs/copy-protection.md
  docs/database.md
  docs/dependency-rationale.md
  tests/test-pseudocode.md
Due: docs-index

feat: add get_all_roles() query and staff roles cache tests
  src/promptgrimoire/db/roles.py
  tests/integration/test_course_role_normalisation.py
Due: ty-check

refactor: use reference table for role dropdown instead of hardcoding
  src/promptgrimoire/pages/courses.py
Due: ty-check

fix: guard owner downgrade in grant_share and remove stale wrappers
  src/promptgrimoire/auth/__init__.py
  src/promptgrimoire/db/__init__.py
  src/promptgrimoire/db/acl.py
  tests/integration/test_permission_resolution.py
  tests/integration/test_sharing_controls.py
Due: ty-check

docs: cache NiceGUI User fixture testing reference
  docs/_index.md
  docs/nicegui/user-fixture-testing.md
Due: docs-index

docs: add WIP design plan for NiceGUI User fixture tests
  docs/design-plans/2026-02-17-nicegui-user-fixture.md
Due: docs-index

docs: link design plan to GitHub issue #175
  docs/design-plans/2026-02-17-nicegui-user-fixture.md
Due: docs-index

docs: add annotation tag configuration design plan (#95)
  docs/database.md
  docs/design-plans/2026-02-17-95-annotation-tags.md
Due: docs-index

docs: update cross-references to match renamed plan files
  .claude/plans/code-review-phase5-uat-polish.md
  docs/_index.md
  docs/dependency-rationale.md
  docs/design-plans/2026-02-10-annotation-perf-142.md
  docs/design-plans/2026-02-14-annotation-split-120.md
  docs/design-plans/2026-02-15-e2e-test-migration-156.md
  docs/implementation-plans/2026-01-31-unicode-robustness-101/phase_01.md
  docs/implementation-plans/2026-02-08-pdf-export-char-alignment-129/test-requirements.md
  docs/implementation-plans/2026-02-11-css-highlight-api-150/phase_04.md
  docs/implementation-plans/2026-02-12-latex-test-optimization-76/EXECUTION_STATE.md
  docs/implementation-plans/2026-02-12-latex-test-optimization-76/test-requirements.md
  docs/implementation-plans/2026-02-13-copy-protection-103/test-requirements.md
  docs/implementation-plans/2026-02-14-annotation-split-120/phase_04.md
  docs/implementation-plans/2026-02-14-annotation-split-120/test-requirements.md
  docs/implementation-plans/2026-02-15-workspace-acl-96/test-requirements.md
  docs/test-plans/2026-02-11-css-highlight-api.md
  src/promptgrimoire/pages/annotation/organise.py
  src/promptgrimoire/pages/annotation/respond.py
  src/promptgrimoire/pages/annotation/tags.py
  tests/e2e/test_annotation_drag.py
  tests/e2e/test_annotation_highlight_api.py
  tests/e2e/test_annotation_tabs.py
  tests/e2e/test_browser_gate.py
  tests/e2e/test_fixture_screenshots.py
  tests/e2e/test_highlight_rendering.py
  tests/e2e/test_remote_presence_e2e.py
  tests/e2e/test_remote_presence_rendering.py
  tests/e2e/test_text_selection.py
  tests/integration/test_chatbot_fixtures.py
  tests/integration/test_text_walker_parity.py
  tests/unit/pages/test_annotation_organise.py
  tests/unit/pages/test_annotation_respond.py
  tests/unit/pages/test_annotation_tags.py
  tests/unit/pages/test_annotation_warp.py
  tests/unit/test_annotation_js_extraction.py
  tests/unit/test_annotation_package_structure.py
  tests/unit/test_auth_roles.py
  tests/unit/test_copy_protection_js.py
Due: ty-check, docs-index

feat(e2e): add test_instructor_workflow.py persona test (AC3.1)
  tests/e2e/test_instructor_workflow.py
Due: ty-check

fix(e2e): replace data-char-index locators in test_annotation_tabs with text walker checks
  tests/e2e/test_annotation_tabs.py
Due: ty-check

fix(e2e): use wait_for_text_walker() consistently, reorder copy protection setup
  tests/e2e/annotation_helpers.py
  tests/e2e/test_naughty_student.py
Due: ty-check

wip: Phase 4 debug loop — subtests 1-10 pass, PDF fix pending verification
  WIP.md
Due: none

fix(e2e): use pymupdf for PDF text extraction in law student test
  tests/e2e/test_law_student.py
Due: ty-check

chore(e2e): add pytest-randomly and fix exception handling in wait_for_text_walker
  pyproject.toml
  tests/e2e/annotation_helpers.py
  uv.lock
Due: ty-check

fix(e2e): use icon locator for NiceGUI icon-only settings button
  tests/e2e/course_helpers.py
  tests/e2e/test_instructor_workflow.py
Due: ty-check

feat(e2e): add instructor-to-student handoff bridge test
  tests/e2e/course_helpers.py
  tests/e2e/test_instructor_workflow.py
Due: ty-check

chore: add py-spy and pysnooper dev dependencies
  pyproject.toml
  uv.lock
Due: none

Path conditions:
  ty-check: any of: \.py$
  docs-index: any of: ^docs/.*\.md$
